[2021-07-29 07:28] AmeliaNadal opened #358 "Insert industrial gas demand"
Insert the industrial demand for CH4 and H2.

[2021-07-29 11:44] nesnoj opened #359 "Extend task "import-zensus-misc" by combined table of buildings, apartments and pop"
Create table with buildings, apartments and population for all Zensus cells (also with pop = -1 or NULL).
Include cells where there's either building, apartment or population data.

Required e.g. for #262

[2021-07-29 11:47] nesnoj commented on #359
As there seems to be no progress in migrating Zensus to datasets, I'll add this to the old structure if you don't mind @ClaraBuettner .

[2021-07-29 12:33] ClaraBuettner commented on #359
You can do it like this from my point of view, but I will not migrate the Zensus dataset. If I remember it correctly, @gnn wanted to do this.

[2021-07-30 07:06] ClaraBuettner commented on #354
I can not reproduce this error. Do you still have the complete log of this task? I'm wondering if another error or warning occurred earlier.

[2021-08-02 10:01] ClaraBuettner opened #360 "Add heat demand timeseries to eTraGo tables"
The heat demand timeseries created in #73 have to be added to the eTraGo input tables.
There has to be one entry in `grid.egon_etrago_load` and `grid.egon_etrago_load_timeseries` per time series.
The data has to be assigned to the corresponding `central` or `rural heat` bus_id in eTraGo. These buses are defined here: https://github.com/openego/eGon-data/blob/dev/src/egon/data/datasets/heat_etrago/

[2021-08-02 11:50] #298 closed

[2021-08-03 09:43] KathiEsterl commented on #354
I sent you the complete log via mail and will try and see if this error still occurs.

[2021-08-03 09:58] KathiEsterl commented on #354
Now that I have found the part to upload files:

[error_wind.log](https://github.com/openego/eGon-data/files/6923206/error_wind.log)

[2021-08-03 13:00] EvaWie opened #361 "Heat Datasets: Finalize metadata and version numbering"
This issue refers to the heat demand datasets and the district heating areas, maybe also to some heat supply datasets.

1. Update the metadata:
- update authors, their contacts (e.g. mail": "http://github.com/gplssm") and institution name (e.g. ZNES Flensburg?)
- add context (see [here](https://github.com/openego/eGon-data/pull/176) )
- ensure compliance with the latest OEP metadata standard

2.

[2021-08-03 13:32] ClaraBuettner opened #362 "Gas voronoi polygons without bus_id"
Some gas voronoi polygons have `bus_id = NULL ` which results in errors in `assign_gas_bus()`.
Only polygons at the borders are effected. The closest gas bus for these polygons is located slightly outside of Germany, e.g. here at the border to the Netherlands (German borders in orange, gas voronoi without bus_id in green and gas buses with their bus_id) :
![Bildschirmfoto vom 2021-08-03 15-29-57](

[2021-08-03 15:05] ClaraBuettner opened #364 "Migrate demandregio and mapping-tasks to datasets"
This issue includes the migration of several tasks to the datasets module:

- [x] demandregio
- [x] map_zensus_vg250
- [x] map_zensus_grid_districts
- [x] map_vg250_grid_districts
- [x] annual household demands per zensus cell
- [x] annual cts demands per zensus cell

[2021-08-04 11:13] ClaraBuettner opened #365 "Dependencies of datasets ending with parallel tasks are not set correctly"
I added the HeatSupply-dataset, which ends with three parallel tasks:
https://github.com/openego/eGon-data/blob/26df9093bb6b1d1908bd8dbdd85c02d719cf88ea/src/egon/data/datasets/heat_supply/__init__.py#L110-L118

Another dataset (HeatEtrago) depends on the HeatSupply-dataset:
https://github.com/openego/eGon-data/blob/26df9093bb6b1d1908bd8dbdd85c02d719cf88ea/src/egon/data/airflow/dags/pipeline.py#L61

[2021-08-04 12:54] IlkaCu commented on #356
@nesnoj: Could you please add your data sets, which are supposed to be published in the zenodo repo, here?

[2021-08-04 13:11] IlkaCu opened #367 "List tables for OEP release"
In this ticket all tables should be listed, which are supposed to be published at the OEP.

- [ ] grid.egon_etrago_bus
- [ ] grid.egon_etrago_bus_timeseries
- [ ] grid.egon_etrago_carrier
- [ ] grid.egon_etrago_generator
- [ ] grid.egon_etrago_generator_timeseries
- [ ] grid.egon_etrago_line
- [ ] grid.egon_etrago_line_timeseries
- [ ] grid.egon_etrago_link
- [ ] grid.egon_etrago_link_timeseries
-

[2021-08-04 13:15] IlkaCu commented on #367
@all: Please complete the list above.

[2021-08-04 15:15] #323 closed

[2021-08-06 07:20] AmeliaNadal commented on #362
I think that the problem was also concerning the test mode so I took me a bit langer that what I thougt.
[This commit](https://github.com/openego/eGon-data/commit/1c1108553823128571baab407e6e15460e718808) should fix the bug. I made a [pull request](https://github.com/openego/eGon-data/pull/369) and requested you as rewier @ClaraBuettner.

[2021-08-06 09:36] ClaraBuettner commented on #305
@ulfmueller Do you know if there are still open todos in this branch?

[2021-08-06 10:43] #237 closed

[2021-08-06 10:51] #309 closed

[2021-08-06 11:23] ClaraBuettner commented on #315
The first option was implemented in 079cec7a644dbe9162b1648152b65c1667c0b921

[2021-08-06 11:23] #315 closed

[2021-08-06 11:59] #312 closed

[2021-08-06 11:59] #314 closed

[2021-08-06 13:10] #326 closed

[2021-08-06 13:10] #364 closed

[2021-08-06 13:19] ulfmueller opened #370 "Define crossborder gas capacity restrictions in p-e-s"
it will be most probably implemented directly in our p-e-s fork or within egon-data.

[2021-08-06 14:32] ulfmueller opened #371 "Integrate egon industrial gas and h2 demands in p-e-s"
in order to get more consistency the industrial demand for gas and h2 have to be summed up for Germany and changed within p-e-s. For the other countries everything will stay at it is.
@AmeliaNadal unfortunately the discussed approach is not easily doable because the industrial_demand="resources/industrial_energy_demand_elec_s{simpl}_{clusters}.csv" gets created within p-e-s...
I just talked to @Cl

[2021-08-06 14:46] ulfmueller opened #372 "p-e-s outputs for Germany for the eGon100RE scenario"
combine relevant results from p-e-s for Germany with rationalization methods. In particular, all the installed generation capacities should be taken i.e. solar, wind, biogas (...). Usually (or always?) you can take the methods used for the NEP2035 scenario.

[2021-08-06 15:04] ulfmueller opened #373 "p-e-s as an optional task"
The idea is, that instead of running p-e-s (function run_pypsa_eur_sec) the user can decide in the command line interface of egon-data whether to run it or instead download a data set from somewhere (in the end it could be zenodo, as an intermediate solution it could be the rli cloud). This feature is rather a nice-to-have. It would tackle two problems: 1. the p-e-s task is kind of complicated and

[2021-08-06 15:07] ulfmueller commented on #306
@ClaraBuettner and @gnn, I will probably not be able to migrate the p-e-s tasks (maybe at the beginning of next week, I can do it). Otherwise, you have to decide who will do it...

[2021-08-06 16:32] ulfmueller commented on #305
it should be finished. Check out the corresponding PR: #374

[2021-08-06 16:38] ulfmueller opened #375 "Kick out railway mobility in p-e-s fork"

[2021-08-06 16:41] ulfmueller opened #376 "append ids when writing to etrago tables"
use [this function](https://github.com/openego/eGon-data/blob/dev/src/egon/data/db.py#L214) [here](https://github.com/openego/eGon-data/blob/features/%23138-integrate-pysa-eur-sec/src/egon/data/importing/pypsaeursec/__init__.py#L406-L409) and in the upcoming id writing tasks of the other components.

[2021-08-09 08:04] IlkaCu opened #377 "Coordination of server use"
This issue is meant to coordinate the use of the `egondata` user/instance on our server in FL.
We already agreed on starting a clean-run of the dev branch on every Friday. This will (most likely) make some debugging necessary on Mondays. To avoid conflicts while debugging, please comment in this issue before you start debugging and shortly note on which datasets/ parts of the workflow you will be

[2021-08-09 08:54] ClaraBuettner commented on #377
The run started on 6th of August is not finished yet. The task `industry.temporal.insert-osm-ind-load` is still running.
Two tasks failed:

- `heat_etrago.supply` : This fails because some subst_id's of the mv grids are not in the etrago-bus table. I assume this is happens because the MV grids are already versioned and were skipped, but osmTGmod was running again. So even if some id changed in osm

[2021-08-09 11:57] IlkaCu commented on #328
In the current dev branch electrical demand curves are stored in the following tables:

- demand.egon_osm_ind_load_curves --> industrial demand curves per osm landuse area
- demand.egon_sites_ind_load_curves --> industrial demand curves per industrial site
- demand.egon_etrago_electricity_cts --> CTS demand curves per substation

Household demand curves are still missing (see PR #260) and need to

[2021-08-09 15:12] ClaraBuettner commented on #354
The problem also occurred on the server. It is caused by the partial migration to the datasets -  when the mv_grid_district creation is skipped due to versioning but the subst_id changed in osmTGmod. Then some subst_ids from the mv_grid_districts don't match to the etrago buses.
This also explains why the issue only occurred sometimes. The problem is fixed automatically when osmTGmod is migrated t

[2021-08-10 06:58] ClaraBuettner commented on #354
The migration of osmTGmod to datasets was merged into dev. When this error still occurs, please make sure to re-run the MV grid district creation.

[2021-08-10 06:58] #354 closed

[2021-08-10 06:58] #305 closed

[2021-08-10 09:16] ulfmueller commented on #375
I have to pass on this task, primarily because I dont have time to test the changes.
The ToDos:
1. check again, whether it is really a good idea to just kick the railway mobility out in p-e-s. I would vote for it, in order to not get additional installed EE capacity which can be used in our system without having to supply that load.
2. check the prepare_network file for the railway parts and simpl

[2021-08-10 11:18] ClaraBuettner opened #378 "Filter industrial landuse areas from osm"
The industrial demands are currently distributed to all osm areas which are tagged with `landuse = 'industrial' `.
This also includes areas that do not have an industrial energy demand (e.g. Stadtwerke, Gewerbegebiete or solar parks).
Th identify possible locations for industrial CHP I filtered the industrial areas, this might be also used to filter the areas which get an industrial demand: https:

[2021-08-10 12:08] #362 closed

[2021-08-10 13:33] AmeliaNadal commented on #102
This branch has been deleted.

[2021-08-10 13:33] #102 closed

[2021-08-10 13:37] #198 closed

[2021-08-10 13:39] #293 closed

[2021-08-10 13:41] #308 closed

[2021-08-11 07:52] #328 closed

[2021-08-11 07:59] IlkaCu opened #381 "Integrate hh demand curves in function 'demands_per_bus'"
As soon as the household demand curves are available (PR #260) the data need to be included here: https://github.com/openego/eGon-data/blob/7de1a8345e216745769633c8e70f96b615d67052/src/egon/data/datasets/electricity_demand_etrago.py#L13-L83

[2021-08-11 08:37] ulfmueller commented on #376
Done by 618794942f8de2594c3138b0630da693fa4715d4

[2021-08-11 08:37] #376 closed

[2021-08-11 11:40] IlkaCu commented on #378
Filter/ Remove industrial landuse areas from demand distribution methodology which are intersecting with industrial sites.

[2021-08-11 15:57] nesnoj commented on #356
Done. For now, I've set the licence to CC BY 4.0 for both household profiles @ClaraBuettner but will ask IEE for final approval.

[2021-08-12 11:17] IlkaCu opened #382 "Include checks to ensure data validity"
To ensure the validity of our resulting data, some data checks should be integrated in the workflow. Central resulting tables such as eTraGo tables should be part of the checks.
One useful example:
https://github.com/openego/eGon-data/blob/75f05b4e3ca1886c49c995a6fcf23bc7f69d9361/src/egon/data/datasets/heat_supply/__init__.py#L110-L125

[2021-08-12 11:29] ClaraBuettner opened #383 "Check pandas.DataFrame.groupby() functions"
The behaviors of` pandas.DataFrame.groupby('column_name').sum() `was updated in pandas version 1.3.0.
All .sum(), .mean(), .max()... functions can be only applied to numerical columns by default.
To ensure the compatibility of the new pandas version, some lines need to be checked:

https://github.com/openego/eGon-data/blob/c14334fcc09800ff14efce173f5c4a90c0c725b4/src/egon/data/datasets/industry/__

[2021-08-12 11:47] IlkaCu opened #384 "Remove version columns from existing tables"
We agreed on removing the version columns from all tables prior to the (not yet existing) OEP-export task.
This applies to the following tables:

- [ ] grid.egon_etrago_... (Ilka)
- [ ] demand.egon_etrago_electricity_cts (Ilka)
- [x] demand.district_heating_areas (Clara)
- [x] demand.egon_peta_heat (Clara)
- [x] demand.map_zensus_district_heating_areas (Clara)
- [ ] others?

[2021-08-12 14:45] AmeliaNadal commented on #356
I removed the biogas_atlas_Germany of the files in NextCloud and the associated documenation.

[2021-08-12 14:53] ClaraBuettner commented on #384
I removed the version columns in the heat demand and district heating tables in #363

[2021-08-12 15:59] AmeliaNadal opened #386 "Dispatch of CH4 production"
For now, the dispatch of the CH4 production is let to the optimizer. However, this cannot insure that the overall values of the produced gas matches the NEP values.
On the other hand, forcing the gas production like it could be done through p_set_fixed (https://github.com/openego/eGon-data/blob/dev/src/egon/data/datasets/gas_prod.py#L219) might disadvantage e.g. power2gas installations.
The dispat

[2021-08-13 08:55] #302 closed

[2021-08-13 08:55] #303 closed

[2021-08-13 09:01] ClaraBuettner opened #387 "Missing dependency of Era5 to Vg250"
Era5 depends on vg250, this is missing in the pipeline.py.

[2021-08-13 10:17] #387 closed

[2021-08-13 13:58] #378 closed

[2021-08-13 15:41] #384 closed

[2021-08-16 07:44] IlkaCu opened #390 "gas_prod.import-gas-generators fails"
The task `gas_prod.import-gas-generators` fails during execution on the server (normal mode) and returns the following error message:

[code]

[2021-08-16 11:34] IlkaCu opened #391 "Remove column 'country' from table supply.egon_scenario_capacities"
Remove column `country` from table `supply.egon_scenario_capacities` and make sure `nuts` column is filled to provide information about the scope of the data.

[2021-08-16 11:41] ClaraBuettner commented on #391
There is no data for other renewable and other non renewable, 'Sonstige Konventionelle' and 'Sonstige Erneuerbare' has to be renamed to 'sonstige ..' here:
https://github.com/openego/eGon-data/blob/555e58c7141d5bc18c29a74b288e01a42dac852b/src/egon/data/datasets/scenario_capacities.py#L131-L145

[2021-08-16 13:03] IlkaCu opened #392 "Include missing power plants"
The following technologies need to be integrated into the egon-data workflow

- [ ] pumped hydro
- [ ] gas
- [ ] oil
- [ ] other renewable
- [ ] other conventional

Relevant input tables are `supply.egn_scenario_capacities` and `supply.nep_2021_conv_powerplant` as well as the data retrieved from MaStR (e.g. bnetza_mastr_storage_cleaned.csv)

[2021-08-17 07:40] IlkaCu commented on #356
There is one file named `2021-04-09_CTS_WZ_definition_voltage_level.ods` included in the current version of our zenodo upload. As this file is not used in the egon-data workflow, I would remove it. @nesnoj: Any objections?

[2021-08-17 08:53] #334 closed

[2021-08-17 12:59] KathiEsterl commented on #169
I will work on this task here: [https://github.com/openego/eGon-data/tree/features/%23169-renaming-gid-and-subst_id](url)
This branch combines the issues explained above (gid -> id) and the renaming explained in issue #335 (subst_id -> bus_id).

[2021-08-17 13:01] KathiEsterl commented on #335
I will work on this task here: [https://github.com/openego/eGon-data/tree/features/%23169-renaming-gid-and-subst_id](url)
This branch combines this task with the tasks explained in issue #169 .

[2021-08-17 13:13] #391 closed

[2021-08-17 14:21] nesnoj commented on #356
Thanks for thorough checking! That's my allocation attempt we discussed [some time ago](https://redmine.iks.cs.ovgu.de/oe/projects/ego-n/wiki/12042021_Webko_Verteilung_und_Netzanschluss_GHD). Yes it's not necessary anymore, I moved to another folder in /AP1.

[2021-08-17 14:32] ClaraBuettner commented on #383
I checked the following lines in my scripts:

In all cases the grouped DataFrames include only numeric data. The result is the same when using pandas ==1.2.x or 1.3.0.

[2021-08-18 12:48] IlkaCu commented on #356
Version 0.2 of our data bundle is available here: https://zenodo.org/record/5211145#.YR0BS1tCS-k

[2021-08-18 12:52] IlkaCu opened #397 "Download newest version of the egon data bundle"
A newer version of the data bundle is available and need to be integrated: https://zenodo.org/record/5211145#.YR0BS1tCS-k

[2021-08-18 13:04] nesnoj commented on #356
Great! Did you provide the link to 0.2 and not to the latest version on purpose to make sure it's compatible to the current pipeline version?

[2021-08-18 13:41] nesnoj commented on #349
Wow, didn't expect the tables to be adjusted that quick!
@nailend, could you please take care of the mv_grid_districts ? Cheers!

[2021-08-18 13:56] nesnoj opened #398 "Paths contain hard-coded slashes in some tasks"
Old topic, but still pending:
The following tasks make use of absolute file paths which (beside of coding standards) most likely prevents the pipeline to be run under Windows (even if users of this so-called OS is not our primary target group :penguin:):
- [x] demandregio @ClaraBuettner @IlkaCu
- [x] geothermal @ClaraBuettner
- [x] scenario_capacities @ClaraBuettner
- [x] calculate_dlr @ClaraBuett

[2021-08-18 14:02] IlkaCu commented on #356
I just provided the link as an information for you, I additionally update the data bundle download here: #397
As soon as this is merged (give me 1h) the additional files will be available after rerunning the central downloading task.

[2021-08-18 14:40] ClaraBuettner commented on #398
All these functions use files from the data bundle. I thought a path like this:
https://github.com/openego/eGon-data/blob/7ac8e03a289003047faee268d0d34a2d3b32efd7/src/egon/data/datasets/scenario_capacities.py#L119-L121
is a relative path because it is a sub-folder of the egon-data working directory.
So I am a bit wondering how I should change this. Should I use `Path(.)/` instead of `os.path.join(

[2021-08-18 14:42] nesnoj commented on #339
Temp. fix in 86464cb789a433488ee777539640275dfd8b789c

[2021-08-18 14:52] nesnoj commented on #398
Aah sorry, "absolute" is quite misleading. It's all about the slashes in the path.

In your example above, the "data_bundle_egon_data/nep2035_version2021" part will work on Linux but will crash on Windows due to the hard-coded slash as it cannot be resolved properly (Win uses "\").
Working version:
[code]
(PS: Path is preferred if we stick to @gnn's recommendations though)

[2021-08-18 15:37] #322 closed

[2021-08-18 15:40] #397 closed

[2021-08-19 07:03] nesnoj opened #400 "Task `insert-data-nep` fails due to missing xlrd but package is installed"
Yesterday I installed everything from scratch incl. a fresh venv and ran the testmode. I'm getting:

[code]

But xlrd 2.0.1 is installed.
Full package stack:
[pip_freeze.txt](https://github.com/openego/eGon-data/files/7012352/pip_freeze.txt)

Did anybody else encounter this problem? Maybe you, @ClaraBuettner ? ;)

[2021-08-19 07:03] nesnoj opened #401 "Task `heat_demand.scenario-data-import` fails due to missing file raster2pgsql"
Yesterday I installed everything from scratch incl. a fresh venv and ran the testmode. I'm getting:

[code]

Could this be related to your recent migration #313 @ClaraBuettner ?

[2021-08-19 07:22] nesnoj commented on #401
`raster2pgsql` seems to be part of postGIS, it seems to be activated here:
https://github.com/openego/eGon-data/blob/637a7d3a2a57b2dcb612f4e91768abffb5e7f9e9/src/egon/data/datasets/database.py#L7-L12
I tried to make sure it's activated by recreating the extension with `CREATE EXTENSION postgis_raster;` but it already was, so the problem must lie elsewhere..

[2021-08-19 07:23] ClaraBuettner commented on #401
I think this is not related to the migration.  'raster2pgsql' is not a a file but a command of the postgis tool. Did you checked if  postgis is installed as described in the pre-requisites?

[2021-08-19 07:24] nesnoj commented on #401
Yepp, see [above](https://github.com/openego/eGon-data/issues/401#issuecomment-901673850)

[2021-08-19 07:26] nesnoj commented on #401
Ah, wait, gimme a sec

[2021-08-19 07:42] ClaraBuettner opened #402 "Use electricity and heat load time series from egon-data in pypsa-eur-sec"
The heat and electricity load time series in Germany should be the same in pypsa-eur-sec and eGon-data. Therefore the time series in pypsa-eur-sec will be overwritten with the aggregated time series created in eGon-data.

[2021-08-19 07:44] AmeliaNadal commented on #400
I am getting another error message for the same task:

[code]

[2021-08-19 07:58] nesnoj commented on #400
@AmeliaNadal Sound like #322. Are you using the latest dev from yesterday? Because the fix #342 was just merged..

[2021-08-19 08:56] AmeliaNadal commented on #400
Thanks for the advise, the problem was solved by using pandas version 1.2.4.

[2021-08-19 10:51] IlkaCu opened #403 "Overwrite data in table 'egon_scenario_capacities'"
Some of the entries in table `supply.egon_scenario_capacities ` are not in line with data from table `supply.nep_2021_conv_powerplant`. As the latter table seems to be more precise we would like to use it to overwrite some entries in table egon_scenario_capacities.

[2021-08-19 10:55] #390 closed

[2021-08-19 11:11] ClaraBuettner commented on #400
I did not see this before and also tested it again several times in different environments but couldn't reproduce this error... But some packages (e.g. demandregios disaggregator which also uses xlrd) are installed in a run of egon-data. So I'm wondering if xlrd might be only installed via the disaggregator installation, and is therefore missing when` insert-nep data `is executed before the disagg

[2021-08-19 11:20] ClaraBuettner commented on #400
Yes, xlrd is not part of the egon-data installation and only installed with the disaggregator tool. I could either add xlrd to the setup.py of egon-data or set a dependency from insert-nep-data to the disaggregator installation.
I think I would prefer the first option in case other tasks also use this package. If your ok with this, I will create a branch and PR.

[2021-08-19 11:47] nesnoj commented on #400
Yes the 1st one sounds better to me too, this should be definitely done - thanks!
But as xlrd is part of my installation I'd expect it to run successful at least when I retrigger the task, but I'm keep getting the same error o_O.

[2021-08-19 12:01] ClaraBuettner commented on #400
That's very strange, when the task is cleared it should definitely work...

[2021-08-19 12:02] nesnoj commented on #400
After retriggering it again it worked out, I'll give it another clean run try when reviewing #404.

[2021-08-19 15:45] nesnoj commented on #377
the new branch for the Fridays' run @gnn was talking about does not exist yet, right?

[2021-08-19 15:54] nesnoj commented on #377
@nailend and me would like to have the branch `features/#256-hh-load-area-profile-generator` tested prior to merging to dev.
@gnn could you please merge it into the Friday-branch before you start? Thx!

[2021-08-19 21:15] nesnoj commented on #401
Seems that my postgis install has been undermined  : /

[2021-08-19 21:15] #401 closed

[2021-08-20 06:25] ClaraBuettner commented on #377
I think he was talking about this branch: https://github.com/openego/eGon-data/tree/continuous-integration/run-everything-over-the-weekend

[2021-08-20 06:26] #400 closed

[2021-08-20 07:12] AmeliaNadal opened #405 "Integrate CH4 storages"

[2021-08-20 07:32] nesnoj commented on #377
Thank you, didn't copy the name during the webco and the docs have not been updated yet.
I merged my branch into `continuous-integration/run-everything-over-the-weekend`
Ready for takeoff!

[2021-08-20 07:37] ClaraBuettner commented on #398
I replaced the paths with slashes with` Path` objects in my scripts on this branch:https://github.com/openego/eGon-data/tree/features/%23398-remove-slashes-in-paths
If you like, you can also change the other tasks in this branch.

[2021-08-20 08:49] #266 closed

[2021-08-20 08:49] #290 closed

[2021-08-20 08:50] ClaraBuettner commented on #353
This was solved in #395

[2021-08-20 08:50] #353 closed

[2021-08-23 07:12] nesnoj commented on #377
Apparently, there has been no run on Friday?!

[2021-08-23 11:28] nesnoj commented on #377
May I start it today?

[2021-08-23 11:29] AmeliaNadal commented on #377
I would fine it great yes!

[2021-08-23 11:59] IlkaCu commented on #377
gnn told me that he started a clean-run on Friday. But I didn't check the results yet.

[2021-08-23 12:13] nesnoj commented on #377
Ah, I'm just seeing he didn't use the image we used before but created a new one. But I dunno which HTTP port it's listening on.. :(

[2021-08-23 12:45] AmeliaNadal commented on #398
I replaced the paths with slashes with Path objects in my scripts on the same branch and created a pull request (and I you as reviewer @nesnoj).

[2021-08-23 14:29] nesnoj commented on #377
Got it, it's port 9001 (do u know how u reconfigure the tunnel @AmeliaNadal ?).

Apparently, it crashed quite early at tasks
`osmtgmod.import-osm-data` and
`electricity_demand.temporal.insert-cts-load` :disappointed:.

It's very likely that the first one is caused by insufficient disk space as there're only 140G free (after cleaning up) and that might not sufficient for the temp tables created by

[2021-08-23 14:54] AmeliaNadal commented on #377
I could access the results (thanks for asking @nesnoj!) and my tasks haven't run. So I have no objection that you re-run the workflow ;)

[2021-08-23 15:26] nesnoj commented on #377
Done.

[2021-08-25 11:17] nesnoj commented on #351
@gnn Could you please comment on this issue?
@AmeliaNadal @IlkaCu @ClaraBuettner Doyou make use of random in your scripts?

[2021-08-25 11:27] IlkaCu commented on #351
I don't use random in my scripts, but I am pretty sure that @ClaraBuettner and maybe some of our students use it.

[2021-08-25 13:51] nesnoj commented on #351
The following tasks seem to be affected:
- [ ] HH demand profiles #260
- [ ] SocietyPrognosis
- [ ] small chp - there's at least a seed set, should be set to global seed

If you make use of a separate multiprocessing in a task, you should set the seed within the appropriate function that's called by the mp to make sure the drawing in the tasks do not interfere.

As soon as #409 is merged, the task

[2021-08-25 14:46] nesnoj commented on #377
I'm done on the server and happy, go ahead @IlkaCu

[2021-08-25 15:04] gnn commented on #351
I'd make that a command line parameter without a default. That way one can set it via `egon-data.configuration.yaml` in the working directory and it would be easily available via the dictionary returned by `config.settings()`.

[2021-08-25 15:13] nesnoj commented on #351
This way we had to tell the users what config they'd have to use to get the same results as in publication XYZ as the yaml is not part of the repo. I'd like to tie the seed to the release. What about the solution in #409?

[2021-08-25 15:20] nesnoj commented on #351
PS: There's usually no need to change this param so there's no reason to have it as CLI param.

[2021-08-25 15:35] gnn commented on #351
I saw that solution but wasn't fast enough with a reply.

Correct. And I would argue that this is the right way of doing it. But that's part of a longer discussion about using `random` which we fortunately don't have to solve right now, because the issue of where to put the seed parameter is orthogonal to how to used it.

In that case, make it a CLI parameter with a default value. Still easily acc

[2021-08-27 11:29] IlkaCu opened #412 "electricity_demand.temporal.insert-cts-load fails due to dependency error"
Dependency is missing

[2021-08-27 13:44] IlkaCu opened #414 "Missing p_set in demand.egon_sites_ind_load_curves"
Table `demand.egon_sites_ind_load_curves` misses entries in column `p_set`

[2021-08-30 07:34] IlkaCu commented on #377
If I see it right, the server run in normal mode has been successful. :partying_face:
Which means we are now able to merge the different features and bug fixes into dev via PR. Or could it be an option to merge the whole `continuous-integration`-Branch into dev (I guess gnn would like this option)?

[2021-08-30 08:25] nesnoj commented on #377
Awesome!

Generally I'm fine with both options, but I guess that there might be some additional checks necessary (at least in #260) before it can get merged to dev. I reckon there will be some more commits in the branches so separate merging via PRs seems more clean to me.

[2021-08-30 09:07] AmeliaNadal commented on #351
I also don't use random in my scripts.

[2021-08-30 11:59] #398 closed

[2021-08-30 12:00] nesnoj commented on #398
Thx for your efforts!

[2021-08-30 14:27] nailend commented on #275
@nesnoj how are the load-areas defined?

[2021-08-30 14:38] nailend commented on #341
I have also identified the scripts from `importing/zensus` as still using the task directory. Will add this to #411

[2021-08-31 10:46] IlkaCu opened #418 "Import industrial sites from data bundle"
The list of industrial sites by schmidt is now downloaded as part of the data bundle. The old file can be removed and file path in the import script needs to be adjusted.

[2021-09-01 09:52] #358 closed

[2021-09-01 10:58] nailend commented on #341
Merge into weekend-branch

[2021-09-01 11:41] nesnoj opened #422 "Migrate zensus to datasets"
@gnn Please migrate zensus to datasets as we agreed on.

As I made some extensions in #421 you may wait until that has been merged to `dev` or you start from that branch (`features/#359-zensus-add-combined-bld-apt-pop-table`).

In #277 you wrote that the migration is already in progress?! (3 months ago :wink: )

[2021-09-01 12:30] KathiEsterl opened #423 "change demand.egon_schmidt_industrial_sites to full Schmidt's dataset"
The table egon_schmidt_industrial_sites contains industrial sites with DSM-potential.
It is derived of the data gathered for Danielle Schmidt's master thesis: https://zenodo.org/record/3613767#.YS9xcVtCS-p

For now, duplicate entries containing the same plants, but different applications get dropped.
For modelling the DSM-potentials, those additional rows are relevant as these describe the applica

[2021-09-01 19:08] nesnoj commented on #351
#409 has been merged and the CLI param can now be used.
I'll leave this one open until the [other tasks](https://github.com/openego/eGon-data/issues/351#issuecomment-905519619) are done...

[2021-09-02 11:31] CarlosEpia opened #424 "Task "osmtgmod.import-osm-data " fails"
The task osmtgmod.import-osm-data fails using the test case on my local machine. There was a similar issue (#344), but it did not help in this case.
[code]

[2021-09-03 07:09] IlkaCu opened #425 "Add city and plz in supply.egon_mastr_conventional_without_chp"
Additional information on `city` and `plz` needs to be added to table supply.egon_mastr_conventional_without_chp

[2021-09-03 09:00] IlkaCu commented on #424
@gnn: Do you have any ideas what might be the problem here?

[2021-09-03 11:06] gnn commented on #424
My first guess would be that `osmosis` isn't available. Could you give me the commit hash from which you're running?

[2021-09-03 11:13] CarlosEpia commented on #424
I'm running this branch right now: https://github.com/openego/eGon-data/tree/distribute-wind-offshore-capacities. But I also tried using the dev branch and got the same error. Regarding `Osmosis`, which package includes it during the installation process?

[2021-09-06 12:01] nesnoj commented on #377
A task of mine failed due to some column name adjustments in 5b7d9f2dc22f989292de7e979c421b2fae3914a3.
I had to clear some stuff, They're re-running now..

[2021-09-06 12:18] nesnoj commented on #341
#411 merged into `dev`, thanks 4 your efforts @nailend!
Seems that there're no further files stored outside of the working dir :tada: :tada: :tada:
Closing..

[2021-09-06 12:18] #341 closed

[2021-09-06 12:24] #349 closed

[2021-09-06 12:25] nesnoj commented on #349
:tada: :tada: :tada:

[2021-09-06 13:18] gnn commented on #377
I see that I missed an open question last week. Sorry for that.

Since the CR branch might contain changes which are working but not yet meant to be merged into dev, I'm in favour of merging tested feature branches into dev individually. This also makes it easier to figure out where a change came from, which is important when trying to fix bugs which are discovered later on. Hence my :+1: to [@nes

[2021-09-06 21:03] nesnoj commented on #377
That's exactly what has been annoying most when keeping track of 2 branches. Thx for the hint! :pray:

BTW @IlkaCu : Some of "your" tasks failed in the current run. Also, we get a `No space left on device` in task `power_plants.pv_rooftop.pv-rooftop-per-mv-grid` for some reason, bu there're 300 GB free :monocle_face:

[2021-09-07 12:42] ClaraBuettner commented on #377
This seems to be caused by parallel running tasks, electricity_demand.temporal.insert-cts-load was running in parallel and might have caused this problem. I cleared the task `power_plants.pv_rooftop.pv-rooftop-per-mv-grid`, and it was successful when no other task was running.
I don't really know how to solve this properly. Maybe #269 could help because each task currently uses 8 treads.

[2021-09-07 14:21] KathiEsterl opened #429 "demand.egon_sites_ind_load_curves: p_set-timeseries is constant value"
While trying the function to calculate the industrial sites' p_set timeseries for DSM, we noticed that the results are timeseries with a constant value instead of 'real' timeseries.

The relevant function is here: [https://github.com/openego/eGon-data/blob/212654065bb3d679a2dc1b1d8d2369ddae809674/src/egon/data/datasets/industry/temporal.py#L218](url)

[2021-09-07 15:07] #295 closed

[2021-09-07 22:03] #359 closed

[2021-09-08 06:38] nesnoj commented on #377
I'd like to test another feature on the server, is that ok with u? (please comment via :+1: or :-1:)

[2021-09-08 07:58] nesnoj opened #431 "Zensus cells without HH demand profiles"
Maybe I was too fast merging #260 :

Some Zensus cells with buildings and population do not have any profiles assigned. Let's consider this example plot (village: Husby, east of Flensburg):

![image](https://user-images.githubusercontent.com/15910173/132468257-0abb9aba-175b-4b1a-915b-f35f424a370b.png)

Legend:
- green cells: zensus cells **with** profiles assigned
- red cells: zensus cells **witho

[2021-09-08 08:05] ClaraBuettner opened #432 "Missing table "grid.egon_mv_grid_district""
All tasks depending on the mv_grid_districts failed in a local run.
I think this was caused because the version number of the mv grid dataset was not updated in #407 . In my case, the task was skipped but I still have the old table `grid.mv_grid_district.`

[2021-09-08 08:51] nesnoj commented on #432
Thanks for reporting! Indeed, we missed that :-/
Yes I guess it only occurs when the task is skipped as it ran it successfully in the weekend branch...
I prepared a fix in #433, I hope this is sufficient (the prefix stuff was quite complicated as there're so many dependencies... thanks @nailend)

[2021-09-08 09:41] nesnoj commented on #422
#421 has been merged tonight..

[2021-09-08 11:13] nesnoj commented on #377
Done, restarted.
@AmeliaNadal I forgot the name of the task u were talking about this morning (the one not executed). Is it `industrial_gas_demand.insert-industrial-gas-demand`? If so, it's now back in the pipeline as I merged another PR which included the current `dev`...

[2021-09-08 11:25] #432 closed

[2021-09-08 12:36] #169 closed

[2021-09-08 13:12] nesnoj opened #435 "Assign HH demand profiles to buildings"
Each building in table `openstreetmap.osm_buildings_filtered` (created in #262/#430, not available in dev yet) needs to get assigned profiles from table `demand.egon_household_electricity_profile_in_census_cell`.

Notes
- [x] New table `demand.egon_household_electricity_profile_in_building` with `osm_id` and `building_profile_ids` (same format as in `demand.egon_household_electricity_profile_in_ce

[2021-09-08 13:19] IlkaCu commented on #429
Unfortunately I won't be able to tackle this before next week. Maybe @ClaraBuettner can support in case it needs to be solved quickly.

[2021-09-08 14:09] AmeliaNadal opened #436 "Separate gas carrier into H2 and CH4 carriers"

[2021-09-08 14:10] AmeliaNadal commented on #377
Yes, it was this one! Nice!

[2021-09-08 14:49] nesnoj opened #437 "Number of HH demand profiles does not match zensus' number of HH"
As discussed via phone.

Example:
- grid_id: 100mN35178E42938
- count of HH in `egon_destatis_zensus_household_per_ha`: 7
- count of profiles in `egon_household_electricity_profile_in_census_cell`: 15

[2021-09-08 16:14] nailend commented on #437
Are you sure its this way and not the other way around?
destatis data is telling the amount of people living in households and there is one profile per household.
So normaly the destatis HH count should be higher the the amount of profiles

[2021-09-08 17:13] nailend commented on #437
If I ask the db with:
[code]
I get 16 households. There might be sth wrong with your count. But its still one off because of the secrecy-reason thing, which we already discussed [here](https://github.com/openego/eGon-data/pull/260#issuecomment-886671238) and should be fixed already....

[2021-09-08 17:27] nailend commented on #437
If I remember right, we decided to only create data for missing cells but not correct the number of households for existing cells as the assumed that it would not affect the aggregated load-profiles as they are scaled with demand-regio data anyways.
At this point, we probably did not think about mapping the profiles to the OSM polygons which do also deviate from the zensus data, don't they?

[2021-09-08 17:45] nailend commented on #437
*drawbacks and limitations* are currently stating:
[code]

I would prefer to stay with the current situation but change it to:
[code]

[2021-09-09 07:34] nesnoj commented on #437
Yes, I did not set a filter so the last entry in the table was shown with wrong attribute. I also have 16 for `INSGESAMT`. My bad, I'm happy that I made a mistake here :relieved:

Ah, right, I totally forgot about that. Let's keep this as it is, even if the sum of `HHTYP_FAM` deviates slightly from `INSGESAMT`.

Yes! I like your description, please change it and close this issue.

[2021-09-09 07:42] nesnoj commented on #262
The task has been running for 20h on the server, I guess this is due to the buildings script which holds a lot of transactions and for some reason this slows does the entire process, maybe because of the internal rollback. I will split it into smaller parts..

[2021-09-09 08:39] ClaraBuettner commented on #383
I also checked all other lines. In all cases, the result is the same when using pandas 1.2.x or 1.3.0.
I will start a run with pandas ==1.3.0. If it is successful, I will create a PR for updating the pandas version.

[2021-09-09 09:22] #437 closed

[2021-09-09 14:09] nesnoj opened #440 "curl not included in prerequisites"
I've just set up eGon-data on a fresh Ubuntu 20.04.3 system, `curl` is not installed
It should be added to the prerequisites even if it's used by many linux packages and is most likely installed..

[2021-09-09 15:30] #440 closed

[2021-09-09 16:54] nailend commented on #431
I can think of the following:
1. identify cells with population but no households
2. count the buildings in these cells (maybe tag specifc? @nesnoj )
3. randomly choose profile-types for each building using the eurostat-distribution from the paper (von Appen, Haack,  Braun)

![Haushaltstypen](https://user-images.githubusercontent.com/51374526/132728006-70e69571-ed4a-40a6-83c3-25097d44c4d6.png)

Yo

[2021-09-09 17:19] nesnoj commented on #431
Thanks for this proposal.
I do see problems in using buildings:
- zensus: not all cells have building data
- OSM: same here

So we'd have other edge cases here..

I'd say lets solve #435 first

[2021-09-10 08:20] ClaraBuettner commented on #429
As described in https://github.com/openego/eGon-data/pull/438#issuecomment-916185052 this is not a bug. The load curves of some industrial branches are a constant line according to demandRegio.

[2021-09-10 08:20] #429 closed

[2021-09-10 10:08] nesnoj commented on #377
Hmm, the task `import-zensus-misc` has been running for 46h now, that's odd...
Yesterday a started a DE run on a fresh new RLI server (yay!) on the same branch (weekend) and it took 3h to complete.

I'm curious if we encounter the same problem with the new run tonight..

[2021-09-10 11:18] ClaraBuettner opened #444 "Use seuquence for index in all power plant scripts"
The table `supply.egon_power_plants` has an auto-increment id column. But this feature is currently not used by all scripts that insert into the table which results in issues when all tasks run in parallel.

[2021-09-13 07:51] ClaraBuettner commented on #377
Two tasks failed in the latest run over the weekend:

` industrial_sites.download-import-industrial-sites`
FileNotFoundError: [Errno 2] No such file or directory: 'data_bundle_egon_data/industrial_sites/MA_Schmidt_Industriestandorte_georef.csv'
@IlkaCu: Can you help?

`power_plants.pv_rooftop.pv-rooftop-per-mv-grid`
sqlalchemy.exc.OperationalError: (psycopg2.errors.DiskFull) could not resize share

[2021-09-13 07:58] nesnoj commented on #377
Yes, I'll take care..

[2021-09-13 08:01] IlkaCu commented on #377
I'll take care of this.

[2021-09-13 15:35] nesnoj commented on #287
If you need something to start @gnn, there're now 3 examples for a dataset documentation as a "odule docstring:
- HH load profiles: https://github.com/openego/eGon-data/blob/ec5bfcf6ca946ae42d6ad62635cb6f3d38f9460d/src/egon/data/datasets/hh_demand_profiles.py
- MV grid districts: https://github.com/openego/eGon-data/blob/ec5bfcf6ca946ae42d6ad62635cb6f3d38f9460d/src/egon/data/datasets/mv_grid_distr

[2021-09-14 09:01] nesnoj opened #445 "Postprocess data for WebApp"
Postprocess data from pipeline for the WebApp

- [ ] Scenario layers #447
- [ ] Result layers #448
- [ ] LOD 1-4 generation

There might be overlaps with #367

[2021-09-14 09:48] IlkaCu commented on #377
This error was caused by a missing dependency. The tasks and the ones depending on this are now running on the server.

[2021-09-14 11:56] #351 closed

[2021-09-16 16:28] #423 closed

[2021-09-20 07:55] nesnoj opened #447 "Scenario datasets to be published in the WebApp"
As shown in the [WebApp](https://egon.rl-institut.de/) there're 2 main sections:
1. **Scenarios:** static input data generated by the pipeline for both target scenarios eGon2035 and eGon100RE
-> for all datasets (except category "Data model") 2 datasets are required, the data shown is controlled by the scenario switch
2. **Results:** results from our calculations (subject to #448)

This issue is t

[2021-09-20 07:55] nesnoj opened #448 "Result datasets to be published in the WebApp"
As shown in the [WebApp](https://egon.rl-institut.de/) there're 2 main sections:
1. **Scenarios:** static input data generated by the pipeline (subject to #447)
2. **Results:** results from our calculations

This issue is to collect all datasets for 2. we want to publish.

[2021-09-21 05:15] nesnoj commented on #422
Any progress here? @gnn

[2021-09-22 09:02] nesnoj opened #450 "Create metadata for existing datasets"
Now there're a howto and examples on metadata #176. Now it's up to all of us:

Everyone, please
1. Check the DB table list below and
  - Tick the column `Metadata needed?` if you think this is a table which needs further explanation (at least all tables we're up to publish on the OEP #367 do need metadata)
  - Add your nick for datasets you're responsible for
  - Tick `Done!` if you're done, even

[2021-09-22 09:02] nesnoj opened #451 "Verify, enrich and export metadata"
There're some final steps to be done on all the metadata created in the pipeline #XXX:

- [ ] Verify metadata: check metadata (written as table comments) of a predefined list of tables (all which are ticked at `Metadata needed?` in #XXX).
If something does not comply, should we mark the task failed or throw a warning? (I'd recommend the latter)
- [ ] Update / set missing fields
  - `id` (URL path

[2021-09-23 08:14] nesnoj commented on #450
Maybe helpful: If you wanna write the metadata for all DB tables to JSON files you can use the following script: https://gist.github.com/nesnoj/86145999eca8182f43c2bca36bcc984f

[2021-09-23 10:05] AmeliaNadal opened #452 "Aggregate NUTS3-loads for CH4 and H2"
In some cases, the CH4- and H2-voronoi contain more than one NUTS3-region. In these cases, several loads are associated to the corresponding bus (H2 mobility and H2-/CH4-industrial demands). For the sake of clarity, these loads could be aggregated.

[2021-09-24 07:56] nesnoj commented on #450
Alright, now I'm all done with the metadata instructions and examples. Let's do some meta :)

[2021-09-27 08:18] #418 closed

[2021-09-27 11:45] ClaraBuettner commented on #375
The railway transport is now optional in our pypsa-eur-sec fork. It is set to `False` in the egon-data configuration file.
The already electrified railway demand is still part of the electricity load curve (from ENTSO-E) but the electricity demand from egon-data which not includes railway transport will be used (see #402 ). So the railway transport will not be part of the final electricity load cu

[2021-09-27 11:45] #375 closed

[2021-09-27 13:42] CarlosEpia commented on #377
I already fixed a bug in the script: renewable_feedin, and will try to clear that task right now.

[2021-09-28 09:39] #335 closed

[2021-09-30 05:05] nesnoj opened #457 "Clarify path to published tables on OEP"
Clarify the location where tables will be published on the OEP #367. This is required to set the `id` variable in the metadata. (As we use the OEP's current naming in our DB, I assume we can simply keep the schemas' and tables' names.)

It currently follows the pattern `https://openenergy-platform.org/dataedit/view/SCHEMA/TABLE`, this will be kept in the future too, right @christian-rli ?

(You ca

[2021-09-30 07:21] #300 closed

[2021-09-30 10:30] #383 closed

[2021-10-04 07:01] ClaraBuettner commented on #377
Two tasks (`power_plants` and `chp_plants`) failed in the latest run because of the renaming from` subst_id` to `bus_id`. I already fixed this and cleared the tasks.
But `power_plants.allocate-conventional-non-chp-power-plants` failed again. It looks like there is an empty geodataframe:
[code]

[2021-10-04 08:44] #139 closed

[2021-10-04 10:04] AmeliaNadal opened #458 "Exchange bus number in PtH2 links"

[2021-10-04 11:57] ClaraBuettner opened #459 "Add resistive heaters"
Resistive heaters for district heating will be distributed in HeatSupply and added to HeatEtrago.

[2021-10-04 15:55] christian-rli commented on #457
We (@MGlauer @wingechr ) are currently working on dissolving schemas on the OEP. Reasons: schemas are inflexible and annoying. It's hard to move between them. tables cannot belong to more than one and they are hard to find. The goal is to allow users to select their own data collection(s) to which a dataset can belong. All existing schemas will remain as data collections and all existing tables wi

[2021-10-05 11:42] #365 closed

[2021-10-05 11:42] #444 closed

[2021-10-05 12:35] #259 closed

[2021-10-05 12:35] #265 closed

[2021-10-06 07:14] #331 closed

[2021-10-06 14:45] ClaraBuettner opened #462 "Template for pull requests"

[2021-10-06 20:15] nailend commented on #435
The first implementation will do:
- reduce to zensus cells which have profiles and buildings
- distribute all existing profiles randomly to buildings even if not the same amount
- if more buildings, some will get no profile
- if less buildings, some will get multiple profiles
- zensus cell without buildings but profiles will be extracted
- synthetic buildings will be generated
- if the rate of pro

[2021-10-07 09:28] fwitte commented on #377
In the first test-runs on my local machine `heat_etrago.supply` due to non uniform crs being used in some geopandas operation. Any idea why?

[2021-10-07 10:06] IlkaCu opened #463 "Apply black and isort"
Apply black and isort for all scripts once to avoid continuous merge conflicts.

[2021-10-07 14:33] fwitte opened #466 "Rerunning full workflow fails in demandregio.install_disaggregator.clone-and-install"
The task fails when it is repeated and the directory `demandregio-disaggregator/...` is not empty (probably from prior runs).

[code]

[2021-10-08 11:46] nesnoj commented on #435
Sounds good!

I checked the region of Kiel and it looks as if the ratio is 1-2 in rural areas (which makes sense due to single-/two-family houses) and increases in urban areas. Ther're some red (rate: >20) areas in the suburbs, e.g. [Kiel Mettenhof](https://goo.gl/maps/GeNzzvPZMv6SFobr5) which has quite a lot of high buildings with many apartments, so at first sight it looks plausible to me.
But t

[2021-10-11 07:42] fwitte opened #468 "Task industrial_sites.download-import-industrial-sites seems to miss data_bundle dependency in pipeline"
The task was started before the data_bundle_egon_data.zip download was completed and therefore failed. After the download finished the task was successful. Add `data_bundle` to

https://github.com/openego/eGon-data/blob/1d65d82a9439d702bb8467b8725f2f6376bd256f/src/egon/data/airflow/dags/pipeline.py#L418-L420

 I guess?
[code]

[2021-10-13 09:51] ClaraBuettner opened #469 "Assign weather data id to power plants fails"
I tried to run the current `dev` branch but the task `power_plants.assign_weather_data.weather-id` failed:

[code]

@CarlosEpia have you ever seen this error? I assume that the datatype of the bus_id column has to be adjusted to` int`.

[2021-10-14 12:39] fwitte opened #471 "Table names in the datasets.yaml must be lower case only"
Just learned, that upper case in table names causes trouble in the sense, that the database is created with the upper case name, but queries always refer to lower case (or something like this?). Maybe add this to known issues while troubleshooting section? @gnn, just want to make sure this is correct. If it is, I will add a respective section.

[2021-10-15 10:11] fwitte opened #473 "Inserting eTraGo buses (maybe others as well?) seems to be a reusable function"
The lines https://github.com/openego/eGon-data/blob/1d65d82a9439d702bb8467b8725f2f6376bd256f/src/egon/data/datasets/heat_etrago/__init__.py#L13-L47 may be useful for many bus insertion processes (will use it at least for salt cavern hydrogen bus insertion). I feel making this part of a generic function would be nice. What do you think @IlkaCu @ClaraBuettner @AmeliaNadal?

[2021-10-15 10:24] fwitte commented on #473
Same for these lines: https://github.com/openego/eGon-data/blob/1d65d82a9439d702bb8467b8725f2f6376bd256f/src/egon/data/datasets/heat_etrago/__init__.py#L73-L86

[2021-10-15 14:04] fwitte opened #474 "Insert hydrogen infrastructure"

[2021-10-16 03:19] gnn commented on #271
It's been a while since this has been opened so it's about time to fix it. PR #475 is opened to monitor the progress on this.

[2021-10-19 11:35] fwitte opened #477 "Power-to-H2 links are written to the db twice (one of which is deleted again)"
These statements look like they write to one table (`egon_etrago_h2_link`), then rewrites to a different table (`egon_etrago_link`) and then deletes the first table. Why not write in the final table directly?

https://github.com/openego/eGon-data/blob/562187bbd7fd50aa80caf4f64061043a61e1732c/src/egon/data/processing/power_to_h2.py#L111-L137

[2021-10-19 13:36] #468 closed, assigned to nobody

[2021-10-19 14:40] nailend commented on #435
![grafik](https://user-images.githubusercontent.com/51374526/137933170-6314128d-6ad8-49d6-aea7-b1fc0c95cfe8.png)

Example for "Pülsen"

[2021-10-21 06:08] fwitte opened #479 "Import of egon missing in heat_demand_timeseries HTS.py module"
https://github.com/openego/eGon-data/blob/73865d0715b1152eebb6c1c236af9a9feeb367e1/src/egon/data/datasets/heat_demand_timeseries/HTS.py#L774

is called in the process, however missing `import egon`. We could also add something like `from egon.data.config import settings` and directly call `settings()`. `from egon.data import config` like in other modules is not possible as config is also imported

[2021-10-22 08:15] fwitte opened #481 "There should be a function to handle generic voronoi cell creation"
In the [gas_area.py](https://github.com/openego/eGon-data/blob/dev/src/egon/data/processing/gas_areas.py) file voronoi cell creation is handeled for H2 and CH4 carriers with individual functions. These are practically identical and can be reused easily. This might be useful for other voronoi routines, e.g. on the AC buses etc..

[2021-10-25 09:50] fwitte opened #483 "Insert industrial gas demand timeseries fails on second DAG (or task?) run"
It seems, as if the gas demand timeseries insertion misses deletion of old data. The insertion fails when starting a new DAG, I do however not know if it fails after just rerunning the task.

[code]

My guess would be, that the database is not cleand prior to insertion:

https://github.com/openego/eGon-data/blob/73865d0715b1152eebb6c1c236af9a9feeb367e1/src/egon/data/datasets/industrial_gas_demand.

[2021-10-26 08:52] CarlosEpia opened #484 "Create etrago-hv-busmap table"
As part of the integration of eGon-data and eTraGo, the table containing the busmap data "grid.egon_etrago_hv_busmap" must be created.

[2021-10-27 07:07] CarlosEpia opened #485 "Fill table egon_etrago_generator"
The table egon_etrago_generator has data related to CH4 and solar_rooftop generators, but all the other kinds of generators are not included yet. The generators available in the table supply.egon_power_plants should be grouped by carrier and bus. In case that there are weather-dependent generators located in different weather zones but linked to the same eHV bus, the values for renewable_feedIn sh

[2021-10-27 11:49] nesnoj opened #486 "Update OSM dataset"
Update OSM (currentl 01.01.2021) to a newer version, cf. https://github.com/openego/eGon-data/issues/435#issuecomment-952654765 to have a recent building dataset available.

May lead to osmTGmod issues, integration needs to be checked thoroughly.

[2021-10-29 07:42] fwitte opened #488 "HVMV Substations are offsetted north by about 0.2° from the respective AC buses"
I found that the positions of most HVMV substations are offsetted north by about 0.2° from their respective AC bus in my workflow run on the dev branch. Find both shapefiles attached (buses not filtered): [hvmv_buses.zip](https://github.com/openego/eGon-data/files/7439875/hvmv_buses.zip).

Visually, the red dots (HVMV substations) should not be visibile in this screenshot as they should be a subse

[2021-11-01 20:52] nailend opened #490 "Missing CRS in vg250"
I ran into some pipeline errors as the geometry of the vg250 tables didn't have a crs set while getting uploaded to the db.
As described in the [metadata](https://github.com/openego/eGon-data/blob/73865d0715b1152eebb6c1c236af9a9feeb367e1/src/egon/data/datasets/vg250/__init__.py#L428) the srid should be `4326`.

Therefore I recommend to add the srid to the geometry-definition while uploading to pos

[2021-11-02 06:05] nesnoj commented on #490
That's odd. When I load `boundaries.vg250_gem` or `boundaries.vg250_krs` in QGIS it shows 4326 as CRS.
Could you please post the error message? And what code raises the error?

(BTW, there're many occurrences where the dtype is exactly set with `dtype={"geometry": Geometry()}` without errors in the pipeline.)

[2021-11-02 09:35] fwitte opened #492 "Fixed location for federal states abbreviations"
This dictionary is used in various places. Is there a place in the code that we can import form to avoid redefining the same data over and over again?

https://github.com/openego/eGon-data/blob/1d65d82a9439d702bb8467b8725f2f6376bd256f/src/egon/data/datasets/industrial_gas_demand.py#L73-L92

https://github.com/openego/eGon-data/blob/1d65d82a9439d702bb8467b8725f2f6376bd256f/src/egon/data/datasets/ga

[2021-11-02 12:15] #392 closed

[2021-11-02 12:28] nesnoj opened #493 "Create metadata for demand.iee_household_load_profiles"

[2021-11-02 12:36] nesnoj opened #494 "Create metadata for grid.egon_mv_grid_district"

[2021-11-02 13:23] nailend commented on #435
The following picture shows the boarder of Schlweswig-Holstein and Hamburg. Apparently the borders of the osm_ids are blurred and a few buildings are associated to SH. So far, this does not lead to any problems as the osm_ids are matched to census cells via `ST_Within' of building centroid and census cell polygon. But in the edge case of, existing osm_id but not zensus profiles but population this

[2021-11-02 13:32] nailend commented on #490
Sorry, didn't keep the log and now wasn't able to reconstruct this error after new db-setup.

[2021-11-02 14:33] fwitte commented on #488
The issue persists in a completely clean run (fresh wdir, fresh airflow and egon databases).

[2021-11-02 14:42] fwitte commented on #488
I noticed two more details:

- The locations of HVMV substation points match with the EHV substation points (execpt the 4 yellow dots). Therefore, the position of these data must be off as well (see figure).
- The buses are inserted after insertion of the substations. Are the buses' position based on the substation points?

![grafik](https://user-images.githubusercontent.com/20252362/139869295-f84

[2021-11-03 14:51] #459 closed

[2021-11-03 18:59] ShaquilleH opened #496 "Metadata ShaquilleH #493"

[2021-11-04 08:41] ClaraBuettner opened #497 "Add biomass CHP to eTraGo tables"

[2021-11-04 15:19] IlkaCu opened #498 "Zenodo data bundle v0.3"
v0.3 is there: https://zenodo.org/record/5645351#.YYP5j7sxn_E and needs to be integrated in eGon-data

[2021-11-04 15:57] #498 closed

[2021-11-07 10:40] nesnoj commented on #435
As explained in the last weekly, this is probably due to the fact that in the state extracts of OSM there's no hard clipping at the borders but areas near the borders are retained (in this case maybe buildings somehow associated to the landuse areas)... so this shouldn't be a problem.

[2021-11-07 10:42] nesnoj commented on #490
Please close this one if outdated @nailend

[2021-11-07 14:02] #490 closed

[2021-11-07 14:34] nailend commented on #435
There is quite some deviation in zensus and osm data which can partially be explained by different counting methods. As one house in osm data can be counted  as multiple buildings in zensus depending on the number of house entrances, etc

![grafik](https://user-images.githubusercontent.com/51374526/140649027-b437f5d8-3d0d-48c8-b9ab-8730f7596b47.png)

For simplicity, synthetic buildings are initial

[2021-11-08 08:03] AmeliaNadal opened #502 "Improve modelling of CH4 grid storage capacity"
The whole storage capacity of the CH4 grid (130000 MWh, estimation of the Bundesnetzagentur) is split uniformly between all the german CH4 nodes of the grid. The capacities of the pipes are not considerated, what could be improve, weighting the nodes by the half of the capacity of all the pipes they are connected to.

[2021-11-09 09:46] #424 closed

[2021-11-09 14:54] fwitte opened #504 "The geopandas overlay function API works differently in geopandas 0.10.0 than before"
I have `geopandas==0.10.0` installed locally, the CI branch did run on `geopandas==0.9.0`. The overlay method changed from

`geopandas.overlay(gdf1, gdf2)` to `gdf1.overlay(gdf2)` (see Changelog, third bullet in highlights: https://geopandas.org/en/stable/docs/changelog.html#version-0-10-0-october-3-2021)

What should we do here? Use 0.9.0 API in our code or make the server install the latest geop

[2021-11-09 22:50] gnn commented on #377
Just a (late) heads up: the code on the CI branch was buggy and didn't want to start. I only managed to fix it on Monday evening and started the run afterwards. Hope that doesn't collide with any other server activity.

[2021-11-10 12:37] fwitte commented on #504
I tested a run with `geopandas==0.9.0` locally and it produces the same errors regarding substation/bus mapping as described in #488. Therefore I do not see a reason, why we should keep `geopandas>=0.9.0`.

[2021-11-10 12:49] fwitte commented on #504
@gnn: Any idea, why version `geopandas==0.9.0` is installed with requirement `geopandas>=0.9.0` although none of the dependants poses any restrictions?

[2021-11-10 13:50] IlkaCu opened #507 "demand.egon_demandregio_cts_ind is missing data for CTS sector in eGon2035 scenario"
Task  `electricity_demand.distribute-cts-demands ` of the current CI branch run fails as table `demand.egon_demandregio_cts_ind` is missing data for the CTS sector in eGon2035 scenario.
[code]
Any ideas what could cause this bug?

[2021-11-11 12:52] CarlosEpia opened #508 "Migrate dlr script to datasets"
the scrip that calculated the dynamic line rating of the HV and eHV transmission lines must be moved to Datasets. Additionally, code must be modified to create the class dlr.

[2021-11-11 12:55] IlkaCu opened #509 "Add component specific assumptions to table scenario.egon_scenario_parameters"
During our last egon-data webko we agreed to store carrier/ component specific assumptions like marginal costs, efficiencies, etc. in table `scenario.egon_scenario_parameters`.
The data can be accessed in other scripts to add this information to the etrago tables containing information on generators, storages, etc.
Table `scenario.egon_scenario_parameters` gets created and filled in module `scenar

[2021-11-12 08:30] ClaraBuettner opened #511 "Missing CTS demands from demandregio for eGon2035"
When `demandregio.insert_cts_ind_demands()` is executed the first time, there is sometimes (depending on the order of other tasks) no data for CTS for eGon2035.
This is caused by an issue with this function call:
https://github.com/openego/eGon-data/blob/67f5a4462258a9483df7c19e5174f578e4c0953e/src/egon/data/datasets/demandregio/__init__.py#L419-L421
When it is executed the first time directly aft

[2021-11-12 10:55] #405 closed

[2021-11-12 11:08] #496 closed

[2021-11-12 14:45] fwitte commented on #435
Hi,
just tested the current state of the CI branch on my machine and this error appeard on the hh_demand_buildings.map-houseprofiles-to-buildings:

[code]
Seems like just a forgotten .set_crs() on some dataframe, or the lateste version is not yet merged into CI. Just in case you wanted to fix it before the weekend :).

Have a nice weekend

[2021-11-12 14:51] nesnoj commented on #435
Thanks @fwitte for reporting!
@nailend do you have time to fix this today? I'm not familiar with the current state in the ci branch..

[2021-11-12 15:31] nailend commented on #435
@fwitte Thanks for the hint. As you already mentioned, the CI-Branch does not have the current version. @nesnoj This problem should already be fixed.

[2021-11-12 15:47] fwitte commented on #435
Great, have a nice weekend!

[2021-11-12 15:58] fwitte opened #514 "Errors might occur in case next_etrago_id is called simultanously"
As already discussed in the AP1 meeting on 20.10.2021 the next_etrago_id() might cause trouble, if tasks are executed simultaneously. The function is called from [various places in the code](https://github.com/openego/eGon-data/search?q=next_etrago_id&type=code). Unfortunately, the ids are written via different functions:

- gdf.to_postgis
- df.to_sql
- db.execute_sql

Since the last function is n

[2021-11-15 07:50] fwitte opened #515 "Missing crs on hvmv_substation_voronoi table in CI"
An error message is thrown when reading the hvmv_substation_voronoi table:

[code]

The `db.select_geodataframe` method complains about missing crs. QGIS, however, shows that the table
has a crs specified (`epsg=4326`). Any idea, where this error message comes from? It is caused by the task `hydrogen_etrago.storage.calculate-and-map-saltcavern-storage-potential` when reading the substation voronoi

[2021-11-15 08:18] fwitte commented on #515
After clearing the task, it ran successful... There might be some dependency issue..?

[2021-11-15 14:07] fwitte commented on #479
Hi @aadit879,
can we close this and #480? I just saw, that the task was successful on the CI run.

[2021-11-16 07:50] fwitte opened #516 "datetime.datetime should be used instead of pd.datetime"
The `heat_demand_timeseries.HTS` module calls the `pandas.datetime` function in some places. It should be `datetime.datetime` to avoid trouble with future versions of pandas: https://stackoverflow.com/questions/60856866/why-is-datetime-being-removed-from-pandas.

[2021-11-16 07:54] IlkaCu opened #517 "chp.extension_HH and chp.extension_NW failed in first attempt on CI branch"
During the latest run of our CI branch the tasks `chp.extension_HH` and `chp.extension_NW` failed on the first attempt. After clearing the tasks they succeeded. It might be related to missing dependencies.

Log `chp.extension_HH`:

[code]

Log `chp.extension_NW`:

[code]

[2021-11-16 15:35] aadit879 commented on #479
Yes this is solved. I will close it.

[2021-11-16 15:35] #479 closed

[2021-11-17 11:54] nesnoj opened #519 "Update MaStR data"
There will be a new release of the MaStR unit registry soon..

[2021-11-17 16:26] AmeliaNadal opened #521 "Task chp.extension-SH is failing in Oldenburg"
In the Oldenburg server, the task chp.extension-SH is failing with the following error message:
[code]

We guess that this problem is related to the issue https://github.com/openego/eGon-data/issues/488, because this one is also only affecting the Oldenburg server.

[2021-11-18 15:08] fwitte opened #522 "The updated saline structurual data is available"
I received a shapefile containing the data shown in the figure 7-1 of the report (see below).

![grafik](https://user-images.githubusercontent.com/20252362/142440853-b16a7d33-0fef-44b4-afaa-3686beb794a0.png)

We can filter the data according to the categories of the legend supplied, therefor an update should be made. I suggest first merging #478 and updating in a new pull request.

I was not (not

[2021-11-19 08:26] #504 closed

[2021-11-19 08:30] #516 closed

[2021-11-22 08:29] IlkaCu commented on #377
It seems that the code on the CI branch is buggy again and the dag wasn't executed during the weekend. The last commit on the CI branch was 8a96d0bc0641212d8df840de2aa3c53e6c3bb540 by @nesnoj
@nesnoj, @gnn: Any ideas how to solve it? Who takes care of it?

[2021-11-22 08:37] fwitte commented on #377
It might be the case, that there is no module `substation` in the `egon.data.processing` module, but it is imported here:

https://github.com/openego/eGon-data/blob/8a96d0bc0641212d8df840de2aa3c53e6c3bb540/src/egon/data/airflow/dags/pipeline.py#L71

[2021-11-22 08:41] fwitte commented on #377
Same issue with this import:

https://github.com/openego/eGon-data/blob/8a96d0bc0641212d8df840de2aa3c53e6c3bb540/src/egon/data/airflow/dags/pipeline.py#L61

[2021-11-22 08:47] IlkaCu commented on #377
Thanks for finding that - this is my fault. I will fix it.

[2021-11-22 09:06] nesnoj commented on #377
So did u restart the DAG?

[2021-11-22 09:08] IlkaCu commented on #377
Yes, a couple of minutes ago.

[2021-11-22 09:13] IlkaCu commented on #377
We should maybe think of a new start date for the weekend-run. What do you think about Fridays at noon? We would then have the change to fix bugs at Fridays afternoon instead of Monday or during the weekend.

[2021-11-22 09:23] IlkaCu commented on #11
If I am right, all relevant scripts have been integrated in the eGon-data workflow.

[2021-11-22 09:23] #11 closed

[2021-11-22 09:24] IlkaCu opened #525 "Migrate /processing/loadarea/ to datasets"
The creation of load areas must be moved to datasets.

[2021-11-22 11:16] IlkaCu commented on #422
@gnn: Is there any progress concerning this task? If you like, I can take this over.
Just let me know if you want me to do so and whether you already implemented something I could make use of.

[2021-11-22 14:01] IlkaCu opened #527 "Remove plot.py from processing folder"
Move this [script](https://github.com/openego/eGon-data/blob/dev/src/egon/data/processing/district_heating_areas/plot.py) from processing to the datasets module `district_heating_areas`

[2021-11-22 14:11] nesnoj commented on #525
Thanks for your efforts @IlkaCu but the loadareas cannot be simply migrated (they can, but it does not make much sense to me).
As the underlying data has completely changed methods are changing too (e.g. #250). We're working on this..

[2021-11-22 14:25] IlkaCu opened #528 "Move gas related scripts from processing to datasets folder"
Please move the scripts

- [gas_areas.py](https://github.com/openego/eGon-data/blob/dev/src/egon/data/processing/gas_areas.py)
- [power_to_h2.py](https://github.com/openego/eGon-data/blob/features/%23527-move-plotting-function-to-district-heating-dataset/src/egon/data/processing/power_to_h2.py)

from the processing to the datasets folder and adjust the scripts accordingly.

[2021-11-22 14:48] IlkaCu commented on #528
On the CI branch there is an additional script which should be moved to the datasets folder: [h2_to_ch4.py](https://github.com/openego/eGon-data/blob/continuous-integration/run-everything-over-the-weekend/src/egon/data/processing/h2_to_ch4.py)

[2021-11-22 15:03] IlkaCu commented on #525
Does it hinder your work to have the old stuff integrated in the datasets structure? I wanted to finally get rid of the processing and importing folders.
If it causes any problems on your side, I can revert my changes easily.

[2021-11-22 15:27] fwitte commented on #528
Good points, will move the stuff.

[2021-11-22 15:35] AmeliaNadal commented on #528
I made the requiered changes in the branch features/#474-insert-hydrogen-infrastructure which should be merged soon (PR https://github.com/openego/eGon-data/pull/478).

[2021-11-23 09:43] fwitte commented on #522
Requested permission, we can upload the data with the appropriate references (InSpEE-DS report, BGR/Geoviewer).

@IlkaCu: Can we update the data-bundle soon?

[2021-11-23 10:09] IlkaCu commented on #522
I was planning to update the data-bundle today or tomorrow anyways. Please update the files and description on the NC.

[2021-11-23 10:16] fwitte commented on #522
I'll let you know, when the data is uploaded. This will also require a change in the #478 workflow as the data structure changed.

[2021-11-23 12:59] ClaraBuettner opened #531 "Add weather dependent feed in time series for wind offshore"

[2021-11-24 08:12] ClaraBuettner opened #532 "Temperature-depending COP for heat pumps"

[2021-11-24 14:44] nesnoj commented on #200
Closed in favour of #451

[2021-11-24 14:44] #200 closed

[2021-11-24 14:51] nesnoj commented on #457
The idea of data collections apart from simple tags sounds great, I guess that'll be quiet some work for you (or @Ludee ).. :hammer:
I think we will be ready to publish the data in spring 2022, we can use whatever option will be available by then.

[2021-11-24 15:57] nesnoj commented on #525
No, go ahead :)

[2021-11-25 08:20] ClaraBuettner commented on #517
I fixed this problem with 06e6767200f5c7d82025fda8025e30c9826cbca7 and e467643 in PR #501.
I tested it manually on the server and merged the new changes into the CI-branch.

[2021-11-25 08:54] ClaraBuettner commented on #507
Unfortunately I created issue #511 to solve this, so I will clone this one.

[2021-11-25 08:54] #507 closed

[2021-11-25 09:00] ClaraBuettner commented on #320
This log was very confusing, I removed it in ee445abdc40a3dbef29dc5b7c5d54d3d52abe62e.

[2021-11-25 09:00] #320 closed

[2021-11-25 11:26] #146 closed

[2021-11-25 11:27] #329 closed

[2021-11-25 14:38] ClaraBuettner opened #535 "All eTraGo load values are deleted in electricity_demand_etrago"
In electricity_demand_etrago all entries of the eTraGo load and load time series are deleted and not only the ones with carrier = 'AC' which results in missing data for other sectors.

[2021-11-26 07:08] fwitte opened #537 "Saltcavern storage physically connected to the CH4 grid is not allocated to the respective buses"
In some instances a saltcavern H2 storage is placed near to a CH4 grid node (see image). In these cases, it is reasonable to connect the saltcavern storage to the H2 buses corresponding to the CH4 grid nodes instead of using an own bus. This could be done by searching within a certain distance (to be specified, e.g. 1 km) around the CH4 grid nodes.

![grafik](https://user-images.githubusercontent.

[2021-11-26 09:46] fwitte commented on #522
Changes have been made, will be merged into CI if data is available in databundle.

[2021-11-26 18:17] gnn commented on #377
Wasn't noon, but I started the run at ~14:30 today. But there weren't any errors so nothing to fix. I also got basic checks working again, so after you pushed something onto the CI branch you can have a look under the [GitHub Actions tab][0] and check whether the checks pass or fail with the state you pushed. Might take some time though. You can also check that locally (with the CI branch checked

[2021-11-29 08:06] ClaraBuettner commented on #377
Three tasks failed in the latest run:
`re_potential_areas.download-datasets`:
[code]
I have never seen this problem before, after clearing the task it was successful. So probably it was a temporary problem with the connection.

`chp.extension-HH`:
[code]
I think this is not related to the code. @gnn Do you have an idea how to solver or prevent this?

`heat_demand_timeseries.HTS.demand-profile-gene

[2021-11-29 08:16] nesnoj commented on #377
Our HH peak load task uses about 30..40 GB of RAM.

[2021-11-29 10:34] ClaraBuettner opened #538 "Missing input values for eTraGo in eGon2035 scenario"
Some input data in the eTraGo-tables is missing/incomplete which currently results in error when running eTraGo.
I run the CI-branch from last Friday to create the data model. The following values have to be adjusted to run eTraGo:

- [x] CH4 and H2 loads currently have `sign = NaN`, which breaks the optimization. This should be adjusted to `sign = -1` (@AmeliaNadal , @fwitte)
- [x] H2-to-CH4, CH4

[2021-11-29 10:46] #508 closed

[2021-11-29 10:47] #485 closed

[2021-11-29 10:57] #484 closed

[2021-11-29 10:57] #330 closed

[2021-11-29 11:25] fwitte commented on #538
The information for capital_cost, efficiency and marginal_cost of all gas related technologies will be written into the carrier table. I will open a PR to deal with these tasks.

- [ ] capital_costs
- [ ] marginal_costs
- [ ] efficiencies

The capital costs for saltcavern storage could/should be modified according to its integration in the datamodel (own H2 bus or connected to CH4 grid related H2

[2021-11-29 13:06] #527 closed

[2021-11-29 18:10] gnn commented on #377
[..]

I've seen this with @AmeliaNadal's non-dockered database previously. The problem occurs when a task tries to connect to the database and the database already has too many open connections. (I also can't exclude the possibility of SQLAlchemy's connection pool being fully used, but I consider that option less likely.) It's hard to solve this, once the problem occurs. In order to prevent it fro

[2021-11-30 08:25] AmeliaNadal commented on #538
The first point should be solved with PR https://github.com/openego/eGon-data/pull/539.

[2021-11-30 10:16] #304 closed

[2021-11-30 12:00] #535 closed

[2021-11-30 12:00] #532 closed

[2021-11-30 12:43] IlkaCu opened #540 "New version of our Zenodo Upload is available"
Includes new data on
* saltstructures
* pypsa-eur-sec

https://zenodo.org/record/5743452
The download-task as part of egon-data needs to be adjusted accordingly

[2021-11-30 23:24] gnn opened #543 "Adjust GitHub actions"
The way GitHub actions are currently set up should change. I'm going to elaborate, once I have more time. For now, I'm creating the issue in order to have an issue number for the feature branch.

[2021-12-01 11:03] fwitte commented on #386
I would root for having (different) marginal costs for natural gas and biogas.

[2021-12-01 15:42] AmeliaNadal opened #545 "Create CH4 buses im neighbouring countries (eGon2035)"
Currently, the the gas pipes connected to neighbouring countries are defined as links, but these have one bus which is not defined (the one abroad). This should be fixed.

**TODOs**

- [ ] Define one CH4 bus per neighbouring country. See https://github.com/openego/eGon-data/blob/features/%23138-integrate-pysa-eur-sec/src/egon/data/datasets/electrical_neighbours.py
- [ ] Redefine the links modellin

[2021-12-02 11:03] #497 closed

[2021-12-02 11:03] #517 closed

[2021-12-02 14:51] AmeliaNadal opened #548 "Integrate the gas turbines into the eTraGo tables"
The gas turbines are distributed in [power_plants.non_chp_conventional.](https://github.com/openego/eGon-data/blob/dev/src/egon/data/datasets/power_plants/conventional.py). Since they are modeled as link components between CH4 and AC buses, the integration into the eTraGo tables differs from the one for other power plants.

[2021-12-02 18:21] nesnoj commented on #339
Outdated

[2021-12-02 18:21] #339 closed

[2021-12-03 08:13] #525 closed

[2021-12-03 08:43] ClaraBuettner opened #549 "Insert cost assumptions from NEP and technology-data to scenario_parameters"
Fuel and CO2 prices will be added to the scenario parameters table according to table 6 in NEP 2035, Version 2021, 1. Entwurf (S.39).
Other marginal and capital costs are taken from technology-data repository

[2021-12-03 10:42] IlkaCu commented on #509
PR #547 adds assumptions for pumped hydro storages to the scenario-parameters - table.

[2021-12-03 10:45] IlkaCu commented on #509
Please leave a note here what parameters you are going to add to the named table and link to other issues if existing.

[2021-12-03 10:53] IlkaCu commented on #412
Fixed by PR #417

[2021-12-03 10:53] #412 closed

[2021-12-03 10:54] ClaraBuettner commented on #360
Merged in #467

[2021-12-03 10:54] #360 closed

[2021-12-03 10:57] #78 closed

[2021-12-03 12:05] fwitte commented on #549
Just a reminder for myself: these information might be relevant for CH4/biogas import as well @AmeliaNadal, I will put in on my todo list.

[2021-12-03 12:25] ClaraBuettner opened #551 "Insert carriers into grid.egon_etrago_carrier"
The table `grid.egon_etrago_carrier` is not filled yet, which results in errors in some of eTraGo's plotting functions.
At least the names of carriers have to be inserted into the table.

[2021-12-06 11:15] IlkaCu commented on #377
Unfortunately up to now three tasks in the current CI branch run failed:

- demandregio.insert-household-demand @ClaraBuettner
- gas_areas.create-voronoi @fwitte
- electrical_neighbours.grid @ClaraBuettner

[2021-12-06 12:15] fwitte commented on #377
@amelianadal: Any idea, why that task would fail suddenly?

[2021-12-06 13:35] IlkaCu commented on #377
It seems that the Open Data Portal resp. the DemandRegio database is not accessible in the moment. I contacted the developers. I hope it will be available soon - if not, we need to find an interim solution to bypass the `demandregio.insert-household-demand` - task.

[2021-12-06 15:45] nailend commented on #431
Apparently we are missing about 20% of all cells with population.

|            | # cells | %    |
|------------|---------|------|
| population | 143521  | 100% |
| households | 113798  | 79,3 |
| difference | 29723   | 20,7 |

[2021-12-06 15:52] ClaraBuettner commented on #377
This problem was fixed, I cleared the task and it was running successfully.

[2021-12-06 15:55] nesnoj commented on #431
Damn it, 20% seems to be the magic number today @ClaraBuettner :chart_with_downwards_trend: .
Shall we use a average split hh/pop, e.g. from neighbouring cells / same municipality / ...?

[2021-12-06 16:16] nesnoj commented on #431
Data for DE:

|            | # cells | %    |   people  |%    |
|------------|---------|------|------|------|
| population | 3177723  | 100 | 80324282| 100 |
| population w/ households | 2659745  | 83,7 | 78017556 | 97,1 |
| population w/o households | 517978   | 16,3 | 2306726 | 2,9 |

Somewhat better..

[2021-12-06 16:24] nesnoj commented on #431
I mean...[well](https://imgs.xkcd.com/comics/confidence_interval.png)...

[2021-12-07 07:53] nesnoj opened #552 "Integrate eMobility: heavy duty transport FCEV"
- [ ] obtain BaSt data
- [ ] add reqd. params to scenario table
- [ ] create Voronoi from count location
- [ ] assign to H2 buses
- [ ] generate load timeseries
  - [ ] eTraGo
  - [ ] p-e-s. Extend to other countries in separate issue.

[2021-12-07 07:53] nesnoj opened #553 "Integrate eMobility: motorized individual travel"
- [x] add MIT trips to datapackage #602
- [x] write trip pool to DB
- [x] add reqd. params to scenario table
- [x] obtain RS7 and KBA data, handle missing entries
- [x] merge muns, RS7, KBA data
- [ ] nice-to-have: improve vehicle segment distribution by KBA fz12
- [x] allocate EV numbers pop-weighted to different spatial levels: reg. districts, muns, MVGDs
- [x] draw from pool and assign to MVGDs

[2021-12-07 09:09] IlkaCu opened #554 "Integrate PyPSA's default values to egon_etrago tables"
PyPSA's default values should be added to our data processing pipeline to be visible in our resulting data set.

https://pypsa.readthedocs.io/en/latest/components.html

[2021-12-07 12:25] ClaraBuettner commented on #377
I manually inserted the data from demandregio and cleared the downstream tasks.
But since `gas_areas.create-voronoi` failed, many other tasks could not start. @AmeliaNadal and @fwitte Do you already have an idea how to solve this?

[2021-12-07 13:56] IlkaCu commented on #414
Solved by 8ea51b964a880136e8c7ffe8eabdf7b0e4061d08

[2021-12-07 13:56] #414 closed

[2021-12-07 13:59] IlkaCu commented on #403
Still open - but nice-to-have. Might be a good tasks for student assistants.

[2021-12-07 14:02] IlkaCu commented on #336
Tackled and solved in some other issues.

[2021-12-07 14:02] #336 closed

[2021-12-07 14:03] #129 closed

[2021-12-07 15:01] ClaraBuettner opened #556 "Conflicting package versions in egon-data installation"
I installed egon-data in a new environment but some package versions were conflicting each other. To start airflow I had to install some package versions manually:

- jsonschema~=3.0
- requests <2.24.0
- attrs<21.0
- importlib-resources~=1.4
- importlib-metadata ~=2.0
- click<8
- itsdangerous<2.0
- PyJWT<2.0
- WTForms==2.3.3

I use python 3.8.10 and pip 20.1.1

[2021-12-07 15:30] ClaraBuettner opened #557 "Assign heat demand profiles to osm-buildings"
The heat demand profiles will be directly assigned to the (synthetic) osm-buildings created in egon-data.

[2021-12-08 08:26] fwitte commented on #538
I added the missing p_nom_extendable column in all three tables (#478), the final capital_cost data will be integrated in a different PR.

[2021-12-08 08:38] #422 closed

[2021-12-08 12:33] #511 closed

[2021-12-08 12:48] #531 closed

[2021-12-08 14:40] fwitte opened #560 "The gas voronoi creation fails with buses inserted outside of German borders"
After adding the eGon100RE bus data for the European neighbors (from pypsa-eur-sec), the gas_areas.create-voronoi tasks fail. The gas voronois should be created based on the buses in Germany only, therefore we need to exclude the European neighbor buses from buses to create the voronois on. At the moment, we can do this by filtering for 'eGon2035' in the scn_name column, this will however only wor

[2021-12-08 14:43] fwitte commented on #560
After we have decided, I will make the changes accordingly. For now, I add the temporary fix mentioned above to make CI run this weekend :).

[2021-12-09 07:51] ClaraBuettner commented on #560
When the neighboring countries were integrated we introduced a column for the country name in `grid.egon_etrago_bus`. So I would vote for using this column to filter all H2 buses in Germany.

[2021-12-09 08:25] IlkaCu commented on #560
@ClaraBuettner's suggestion seems to be the easiest one to me.
But in general I would leave decisions like this to you, as the ones being responsible for the code implementation, especially in cases like this, where the output should be the same for all options.

[2021-12-09 08:26] fwitte commented on #560
Okay, that sounds very good. Then I will simply filter by country :)

[2021-12-09 09:17] IlkaCu opened #562 "Clean up "pipeline.py""
The `pipeline.py` looks a bit messy by now. Some needless leftovers, like unused dependency definitions, caused by the restructuring should be removed.

[2021-12-09 10:10] #540 closed

[2021-12-09 11:11] IlkaCu opened #563 "Missing entries in column p_set for industrial loads"
On the CI branch tables `demand.egon_sites_ind_load_curves` and  `demand.egon_osm_ind_load_curves` are missing entries in the column p_set
This problem already occurred earlier and was described here: #414

[2021-12-09 12:36] #563 closed

[2021-12-09 12:53] IlkaCu opened #565 "Add electricity loads to etrago-table for eGon100RE scenario"
Electricity loads for
* households
* cts
* industry
need to be added to tables `grid.egon_etrago_load_timeseries` and `grid.egon_etrago_load`

[2021-12-09 15:31] ClaraBuettner commented on #549
FOM costs are part of the investments costs in pypsa-eur-sec (see here: https://github.com/openego/pypsa-eur-sec/blob/40cd0447f73a605c71b39576430739bbfb595667/scripts/prepare_sector_network.py#L666).

[2021-12-10 09:12] #73 closed

[2021-12-10 09:19] fwitte commented on #528
All scripts have been moved in #478

[2021-12-10 09:21] fwitte commented on #466
Seemed to be an Oldenburg issue, was resolved by deleting all files in the working directory before restarting a new DAG run.

[2021-12-10 09:21] #466 closed

[2021-12-10 09:22] fwitte commented on #515
It was indeed a missing dependency, will be fixed by #478

[2021-12-10 10:56] ClaraBuettner opened #566 "Integrate extendable battery and heat stores"
Extendable battery storage units are inserted at each AC-bus.
Heat stores are modeled using link/store components an attached to each central and rural heat bus.
All cost and technology assumptions are selected from the scenario parameters table (#549)

[2021-12-10 15:51] AmeliaNadal opened #567 "Missing filters in data processing for gas data"
To fullfil the commit https://github.com/openego/eGon-data/pull/478/commits/4b8589ce0dab0df9973b7a27f11fb16ac5dcb8f6, add scanario filter in https://github.com/openego/eGon-data/blob/dev/src/egon/data/datasets/industrial_gas_demand.py.

[2021-12-14 08:11] #381 closed

[2021-12-14 09:50] #474 closed

[2021-12-14 09:50] #515 closed

[2021-12-14 09:50] #522 closed

[2021-12-14 09:50] #528 closed

[2021-12-14 09:50] #560 closed

[2021-12-14 13:15] fwitte commented on #567
- [ ] To fullfil the commit 4b8589c, add scanario filter in https://github.com/openego/eGon-data/blob/dev/src/egon/data/datasets/industrial_gas_demand.py.
- [ ] Filters for deletion from egon_etrago_store/link/... are missing. We can implement it like so https://github.com/openego/eGon-data/commit/7a4dddf8b492fd5cb86e2c759244885fb2f80b34.

[2021-12-14 13:56] nailend commented on #562
The `PythonOperator` used here are necessary even if the look like from old times. @gnn maybe you know a better way to to this.
The Problem is, that a function is called this with different parameters. You can also do it with `func_tool.partial` but it doesnt copy `__module__` and `__name__` attributes of the inner function [see here](https://github.com/elastic/apm-agent-python/issues/293), which

[2021-12-14 14:29] #306 closed

[2021-12-14 14:30] #278 closed

[2021-12-14 14:31] #348 closed

[2021-12-14 14:32] ClaraBuettner commented on #126
Done in #218

[2021-12-14 14:32] #126 closed

[2021-12-15 08:44] #333 closed

[2021-12-15 14:59] fwitte commented on #548
@IlkaCu: Can you give me a brief overview on the power plant structure in the db? This would facilitate/speed up the implementation on my side :).

[2021-12-16 08:43] ClaraBuettner opened #570 "Filter target values by scenario name"
`supply.egon_scenario_capacity` now includes values for both scenarios. This results in errors in some Datasets:

- [x] wind_farms
- [x] district_heating
- [x] pv_parks

[2021-12-16 10:25] ClaraBuettner opened #572 "Set `control` parameter for generators and storage units"
In our former data model, only large conventional power plants > 50MW were able to dispatch reactive power for voltage stability (`control = 'PV'`), all renewable and smaller conventional power plants had `control = 'PQ'`.

But technical requirements for all power plants have changed in the last years. According to 'Technische Anschlussbedingungen Mittelspannung, Westnetz, 2019' all power plants w

[2021-12-16 10:53] IlkaCu opened #573 "Export electricity timeseries to etrago tables for eGon100RE scenario"
Extent the Dataset `ElectricalLoadEtrago` to also export data for scenario 'eGon100RE' to etrago tables.

[2021-12-16 11:11] IlkaCu commented on #573
Already there

[2021-12-16 11:11] #573 closed

[2021-12-16 11:19] IlkaCu opened #575 "Adjust p-e-s carriers to eGon carriers for eGon100RE scenario"
p-e-s makes use of a different carrier naming than we used to do it in the eGon project. This needs to be adjusted for the eGon100RE scenario.

[2021-12-16 12:11] #570 closed

[2021-12-17 08:24] IlkaCu opened #580 "Integrate power plants for eGon100RE in etrago tables"
Integrate power plants for eGon100RE in etrago tables

[2021-12-17 08:25] IlkaCu opened #581 "Integrate electricity storages for eGon100RE in etrago tables"
Integrate electricity storages for eGon100RE in etrago tables

[2021-12-17 12:07] IlkaCu opened #582 "Create heat_buses for eGon100RE scenario"
Code to create heat_buses for scenario eGon2035 need to be extended to also create heat_buses for eGon100RE

https://github.com/openego/eGon-data/blob/639fa50be9e7ef037fa2a550c5636e09f9ece657/src/egon/data/datasets/heat_etrago/__init__.py#L14

[2021-12-17 12:57] IlkaCu opened #583 "Integrate heat timeseries in etrago tables"
Integrate heat timeseries in etrago tables by extending [hts_etrago.py](https://github.com/openego/eGon-data/blob/dev/src/egon/data/datasets/heat_etrago/hts_etrago.py).
Depends on #582

[2021-12-17 13:35] fwitte commented on #377
Some services seem to be unavailable currently leading to `re_potential_areas.download-datasets` and `mastr.download-mastr-data` not running.

[2021-12-17 14:23] ClaraBuettner opened #585 "Missing heat demand profiles for zensus cells close to German border"
Some zensus cells close to the German border are not intersecting with the climate_zone shape file. These cells get lost in these lines:

https://github.com/openego/eGon-data/blob/0730acfae19def9381f184b28f3304c5f7c0be3c/src/egon/data/datasets/heat_demand_timeseries/HTS.py#L629-L631

Can be fixed by using gpd.sjoin_nearest() instead of gpd.sjoin()

Waits for #558

[2021-12-17 14:39] nesnoj commented on #431
We decided to fix this by allocating an appropriate mean household distribution to affected cells.
Start here

https://github.com/openego/eGon-data/blob/1a6206eaff4341c56dd870a2020016071c99b8cb/src/egon/data/datasets/electricity_demand_timeseries/hh_profiles.py#L1195-L1196

https://github.com/openego/eGon-data/blob/1a6206eaff4341c56dd870a2020016071c99b8cb/src/egon/data/datasets/electricity_demand_

[2021-12-17 14:41] nesnoj opened #586 "Fill table `demand.egon_demandregio_zensus_electricity` after profile allocation"
Table `demand.egon_demandregio_zensus_electricity` contains el. demand for residential and CTS based upon Zensus pop. Due to changed methodology (Zensus HH) the residential data is inconsistent.

- [x] Remove old data insertion
- [x] Write new residential cell demand after profile allocation, either at peak load creation or from scratch

Waits for #558
Consistent results only if #431 is solved

[2021-12-17 14:49] nesnoj opened #587 "Add new building table for residential"
As input for el and heat allocation

Waits for #487

[2021-12-17 14:53] nesnoj commented on #572
Important point! I'll discuss this with @birgits in January and get back to you...

[2021-12-17 15:28] nesnoj commented on #377
Yes, that's fine as they didn't change. Thank you.

[2021-12-20 07:39] nesnoj commented on #377
The task `gas_grid.insert-gas-data` failed in the CI run @AmeliaNadal @fwitte

[2021-12-20 09:10] AmeliaNadal commented on #377
This is solved, sorry for blocking the workflow: a test couldn't be perfomed in normal mode and some cross-bording pipes had non-valid country buses.

[2021-12-20 13:31] nesnoj opened #589 "Task `pypsaeursec.eGon100-capacities` initially failed - missing dependencies?"
In a fresh `dev` installation, task `pypsaeursec.eGon100-capacities` initially failed, ran successfully after clearing - are there required dependencies not specified in the task?

**Code**
https://github.com/openego/eGon-data/blob/0730acfae19def9381f184b28f3304c5f7c0be3c/src/egon/data/datasets/pypsaeursec/__init__.py#L257-L262

**Log**
[code]

[2021-12-20 13:45] AmeliaNadal opened #590 "Filter the Scigrid pipeline data"
In the [gas grid definition](https://github.com/openego/eGon-data/blob/dev/src/egon/data/datasets/gas_grid.py) the links arriving from the pipelines download of the Scigrid data should be filtered:

- [ ] Some link are disconnected from the rest of the grid. For now they are removed manually but an automatic testing would be better.
- [x] The links with length = 0 should be removed.
- [x] Some bus

[2021-12-21 06:35] fwitte commented on #377
The tasks `heat_etrago.supply` and `power_plants.assign_weather_data.weatherId-and-busId` failed @CarlosEpia @ClaraBuettner. Both of the tasks have not been modified in about a month, so there might be some dependency issues.

[2021-12-21 07:38] ClaraBuettner opened #592 "Potential areas outside of Germany"
One of the pv ground mounted plants for eGon100RE is allocated to a potential area outside of Germany (blue line):
![image](https://user-images.githubusercontent.com/22964326/146889043-45c600c7-56cc-40e0-8755-4b636e26269f.png)
I think we should cut the potential areas at the border.
@nesnoj: Can I add this to your `re_potential_areas` dataset? I could also update PowerPlants but I would prefer to

[2021-12-21 07:39] ClaraBuettner commented on #377
Thanks for repoting this! Both problems are caused by new data for eGon100RE.
I was able to fix `heat_etrago.supply` easily. But `power_plants.assign_weather_data.weatherId-and-busId` is a bit more complicated, I created a new issue #592.

[2021-12-21 08:36] #545 closed

[2021-12-21 09:49] #548 closed

[2021-12-21 11:40] #549 closed

[2021-12-21 12:09] ClaraBuettner opened #593 "Electricity load timeseries for 8784 hours"
In` grid.egon_etrago_load_timeseries `all 'AC' loads have more p_set values than expected:
[code]
This seems to be caused by the household profiles, the input table `demand.egon_etrago_electricity_households` already has values for 8784 hours:

[code]
I used the data from the latest CI-run.
@nesnoj @nailend Do you have an idea why this happened?

[2021-12-21 12:09] #551 closed

[2021-12-21 12:21] nesnoj commented on #593
Yes, `len(pd.read_hdf('household_electricity_demand_profiles_2400.hdf5'))` reveals that the original timeseries holds data for 8784h, apparently they chose a leap year :-/.
Shall we remove February 29th?

[2021-12-21 12:29] ClaraBuettner commented on #593
When we delete February 29th we mix up the weekdays. But that happens anyhow when the data was created for another year... Do you know if the household profiles are very different during a week?

[2021-12-21 12:36] nesnoj commented on #592
Uh, that's odd! Thanks for this observation!
I found out why this happens.
I'll could add a clipping but I wanted to update the dataset in any case, so I'll consider this issue.

Is it time-critical for you?

[2021-12-21 13:10] ClaraBuettner commented on #592
The dev and CI branch currently fail for ` dataset-boundary=='Everything'` because of this issue. It would be good to have a running dev branch, so I would prefer to fix this soon/before the next CI-run.
I manually fixed this for the latest CI run by inserting only data for eGon2035, I could also commit that as an intermediate bugfix.

[2021-12-21 13:28] nesnoj opened #595 "Update RE potential areas"
Update data added in #124 to
- include latest data
- fix critical #592

[2021-12-21 13:28] nesnoj commented on #592
Sorry for this extra work.
No, I'll take care asap #595

[2021-12-21 14:10] fwitte opened #596 "Insert carrier information into etrago tables (gas related carriers)"
As discussed in #576 the hard coded data in the gas related carrier scripts should be replaced and missing data should be inserted using the `scenario_parameters` data. We will decide whether this is done in a central script or on generation of the data in the respective dataset scripts.

[2021-12-21 14:54] nesnoj commented on #593
In your script [HTS.py](https://github.com/openego/eGon-data/blob/bc4aec0148ac02b6f8d278accf39625e6dcd5bfc/src/egon/data/datasets/heat_demand_timeseries/HTS.py) you use 2011 but is this for indexing purposes only or does it incorporate the weekly patterns too?

[2021-12-21 15:33] nesnoj commented on #277
With Zensus you migrated the last dataset, right @IlkaCu ? If so, please close..

[2021-12-21 16:03] #262 closed

[2021-12-21 16:33] #435 closed

[2021-12-21 16:41] #557 closed

[2021-12-22 08:26] nesnoj commented on #593
I've prepared a fix in #597.
@ClaraBuettner If you agree with my underlying assumptions above, it could be deployed pretty soonish. Currently executing in test mode..

[2021-12-22 08:37] ClaraBuettner commented on #593
Removing the first day seems to be the best solution for me. The holidays will not be the same, but that's less critical.
We are not dividing heat profiles into different weekdays because they don't depend that much on the weekday since (space) heating demand is less dependent on the presence of persons.
But the CTS and industry electricity profiles depend on the weekday, especially some industria

[2021-12-22 08:44] IlkaCu commented on #277
Right!

[2021-12-22 08:44] #277 closed

[2021-12-22 08:45] #462 closed

[2021-12-22 09:12] AmeliaNadal opened #598 "Create a gas bus located in Finland"

[2021-12-22 11:09] nesnoj opened #599 "Add link to meta creator to docs"

[2021-12-22 11:12] #599 closed

[2021-12-22 11:21] nesnoj opened #601 "Bypass external dependencies: create a full data bundle"
External dependencies are a long term problem - links to required web resources might be dead, file content/structure or APIs will change (past examples: ERA5, demandregio, Zenodo sandbox, ...)

We could provide a full data bundle which includes all external resources.

Proceed after pipeline / publication on OEP is done #367 #451.

[2021-12-22 11:51] #566 closed

[2021-12-22 14:48] nesnoj opened #602 "Zenodo data bundle v0.5"
I'd like to have the [data bundle](https://zenodo.org/record/5743452) updated.

To be added (tick if added on NC):
- [x] eMobility trip data #553 @nesnoj
- [x] RE potential areas (new data and drop the sandbox dependency) #595 @nesnoj
- [ ] ~MaStR data (new data and drop the sandbox dependency) #519 @nesnoj~
- [ ] ~updated p-e-s output dataset (depends on #604 ) @ulfmueller~

Feel free to add furt

[2021-12-24 10:44] ulfmueller opened #604 "Update p-e-s fork"
I have been testing if merging the newest p-e-s master development into our fork works. For one, the atlite update can be addressed like this. Moreover, it might be an advantage because the scigrid gas grid is included in the newest p-e-s development. Last but not least, we are up-to-date again...
The task has generated results already (only the last subtask make_summary task is still failing). Th

[2022-01-03 09:47] #593 closed

[2022-01-03 10:06] IlkaCu commented on #377
As a quick reminder: Task`power_plants.assign_weather_data.weatherId-and-busId` still fails on the CI-branch

[2022-01-03 10:27] #582 closed

[2022-01-03 11:41] #585 closed

[2022-01-03 11:45] fwitte opened #605 "The investment cost data for H2 steel tank are incorrect"
- <del>Investment for SMR is 540560.0 €/MWh in our run, I have no idea where this value emerges from. In PyPSA/technology_data the number is nowhere to be found.</del> -> zenodo archive has not been updated, value is correctly imported https://zenodo.org/record/5544025.
- Source for investment cost for H2 steel tank is USD/kWh and therefore not converted to /MWh correctly. The source should be cha

[2022-01-03 12:00] #567 closed

[2022-01-03 12:00] #596 closed

[2022-01-03 13:38] #425 closed

[2022-01-03 14:56] fwitte opened #607 "OCGT scneraio_parameter location needs a fix"
See comment by @ClaraBuettner in https://github.com/openego/eGon-data/issues/578#issuecomment-1004138864

[2022-01-04 07:15] fwitte opened #609 "Insert 100RE hydrogen infrastructure"
# List of tasks

1. H2 pipeline network
2. Interconnections between pipeline network and flexibility options (hydrogen caverns)
3. Localize methanation to meet CH4 demands
4. Insert technology data into scenario_parameters task
5. ...

[2022-01-04 07:18] fwitte commented on #538
I think we can close this one @ClaraBuettner on merge of #608

[2022-01-04 07:21] fwitte commented on #509
A lot of parameters have been inserted in #550

[2022-01-04 08:12] ClaraBuettner opened #610 "`osmtgmod_substation` fails when `substation` tasks are skipped"
When the `substation` tasks are skipped but `osmtgmod` was executed, `osmtgmod_substation` fails with the following log:

[code]
I had a look into `osmtgmod/substation_otg.sql`, where the `bus_id`s are replaced with the `otg_id` from osmtgmod. Even if that already happened in the previous (successful) run, the `bus_ids` differ from the `otg_ids`, so some bus_ids are duplicated when they are replac

[2022-01-04 11:15] ClaraBuettner opened #611 "Add DC-lines from DE to DK and SE"
Can be implemented similar to: https://github.com/openego/data_processing/blob/ae3c537a3299eb9465df163fe127ef3df18073c6/dataprocessing/sql_snippets/ego_dp_powerflow_electrical_neighbour.sql#L451-L492

[2022-01-04 11:45] #605 closed

[2022-01-04 14:15] ClaraBuettner commented on #604
I run your branch and had a look at the heat data. The district heating shares were not set correctly, I fixed it in https://github.com/openego/pypsa-eur-sec/commit/d583fb12c2c6363c4ae70439ff8f9178c3368cf7 The other changes for the heat sector are still working.

When running pypsa-eur-sec I get many warnings about links with an undefined bus. It looks like the `EU gas` bus is missing. Maybe that

[2022-01-05 11:14] #538 closed

[2022-01-05 11:14] #607 closed

[2022-01-05 14:47] ulfmueller commented on #604
@AmeliaNadal told me today they would be fine with an updated p-e-s. Once @nesnoj gives feedback on his part, we can decide if we stick with the updated version. If this happens, can you (@AmeliaNadal ) check if the gas parameters (in particular [these](https://github.com/openego/pypsa-eur-sec/blob/update-pes/config_egon.yaml#L255-L264) are set correctly?

[2022-01-06 08:09] ClaraBuettner opened #613 "Foreign generators and loads are deleted from eTraGo tables"
As @fwitte mentioned, there is currently no data for electric load and generation in foreign countries.
These are currently deleted by `fill_etrago_gen`
https://github.com/openego/eGon-data/blob/e82acd887655a5e0460b09bf5a4816410cf731b8/src/egon/data/datasets/fill_etrago_gen.py#L233-L242
and `electricity_demand_etrago`
https://github.com/openego/eGon-data/blob/e82acd887655a5e0460b09bf5a4816410cf731

[2022-01-07 08:16] nesnoj commented on #602
@IlkaCu I have to do some further checks before the first three datasets can be included, so if @ulfmueller doesn't mind I'd like to postpone the update to next week.

[2022-01-07 15:03] nesnoj commented on #604
Checking [release notes](https://pypsa-eur-sec.readthedocs.io/en/latest/release_notes.html) and [blame `prepare_sector_network.py`](https://github.com/openego/pypsa-eur-sec/blame/a676bb6514135e5d0f02c260324ae56b6c1ff28e/scripts/prepare_sector_network.py#L1326) the transport sector seems not to be overhauled (except for CO2 costs for ICE vehicles).

Also, @ClaraBuettner has already [removed the rai

[2022-01-10 06:43] fwitte commented on #377
The run on the new CI branch went smoothly :), except

is still an issue.

[2022-01-10 08:39] ulfmueller commented on #604
Very good @nesnoj - Thx for checking! In fact, the railway part, as I merged the update with our development, is already removed as @ClaraBuettner once implemented it.

[2022-01-10 10:53] ClaraBuettner opened #617 "Rename carrier 'pv' to 'solar'"
The ground mounted pv park should have `carrier = 'solar'.` But currently the carrier is changed to 'pv' here:
https://github.com/openego/eGon-data/blob/e82acd887655a5e0460b09bf5a4816410cf731b8/src/egon/data/datasets/fill_etrago_gen.py#L222-L225

@CarlosEpia Can you adjust this so that the carrier is 'solar' in `grid.egon_etrago_generator` ?

[2022-01-10 11:15] IlkaCu commented on #554
A quick remark on your changes you pushed to your branch:
* Please remove the full stop for all columns which are not of type float, see: https://github.com/openego/eGon-data/blob/ea45e417144c41d165a8eb8bf54750947ae147be/src/egon/data/datasets/etrago_setup.py#L339
* Also note that Python is case sensitive, so capitalization is important in case of boolean values (False instead of false)
* In case

[2022-01-10 14:57] CarlosEpia commented on #617
Sure. I will adjust it.

[2022-01-10 16:30] IlkaCu opened #618 "Foreign CH4 buses are not located in the center of the countries"
The CH4 buses in the data model are not located in the center of the countries, which looks a bit odd in some cases. Could you please adjust this and choose the same location as the central electrical bus?
![grafik](https://user-images.githubusercontent.com/16799094/148800489-9b82b513-2254-4309-ae33-5ebf716d67d7.png)

[2022-01-10 16:44] IlkaCu opened #619 "Border crossing CH4 pipelines between foreign countries"
In the electrical grid we also model the border crossing lines between the considered neighbouring countries. We should think of doing the same for the CH4 grid.
@AmeliaNadal: What do you think?

[2022-01-11 05:17] CarlosEpia commented on #617
Hi @ClaraBuettner. The required adjustment is already available in the branch [https://github.com/openego/eGon-data/tree/fixes/%23617-Rename-carrier-pv-to-solar](url)
During the process, I ran egon-data and marked the task "fill_etrago_genertors" as failed in order to check the input data. I found out that there are some "solar", "wind_onshore", and "wind_offshore" generators in the table grid.ego

[2022-01-11 08:02] IlkaCu commented on #617
If I am not mistaken the generators you just described are the foreign generator capacities connected to the AC buses in the neighboring countries. But installed capacities equal to zero seems a bit odd.

[2022-01-11 08:30] ClaraBuettner commented on #617
Yes, the described generators are the ones in foreign countries. The generators with `p_nom = 0` were caused by a minor bug in the electrical_neigbours dataset. I fixed this in #612 (95cbff442c7424cf0cf311aabdaf1c355515247f).

[2022-01-11 11:40] nesnoj commented on #595
Some stats fyi @ClaraBuettner:

**Current dataset**
- `potentialarea_pv_road_railway`:
area: 4990 sqm, installable power: 499 GW
- `potentialarea_pv_agriculture`:
area: 7041 sqm, installable power: 704 GW

**New dataset**
- `potentialarea_pv_road_railway`:
area: 1132 sqm, installable power: 113 GW
- `potentialarea_pv_agriculture`:
area: 6341 sqm, installable power: 634 GW

(assuming 100 MW/sqkm fo

[2022-01-11 11:59] fwitte opened #620 "Connect H2 loads to H2_grid system and H2_saltcavern in case of proximity"
Open question: How does aggregation work with loads beeing connected non-uniformly to different H2 systems.

-> two H2 loads are in same H2_grid voronoi, one of them is connected to H2_saltcavern, the other is not.

[2022-01-11 11:59] fwitte opened #621 "Remove H2 steel tanks for saltcavern storage"
Regarding specific cost: With both storage options extendable and no minimal investment (due to LP restrictions), the cheaper option (saltcavern) will be built until its upper capacity limit before the more expensive option is built (steel tanks). Therefore, the steel tank option will be removed for the flexibility option H2 buses.

[2022-01-11 12:10] ClaraBuettner commented on #595
PyPSA-eur-sec assumes an overall possible capacity of ~360 GW for solar ground mounted in Germany. In the first calculation, the ground mounted pv generators in Germany are extended to 159 GW, this might change in the final run.
So the potential areas next to roads and railways might not be enough, but in that case we could also consider the agriculture potential areas.

[2022-01-11 12:14] CarlosEpia commented on #617
Thanks for the clarification. I proceed to create the PR.

[2022-01-11 12:47] fwitte commented on #477
Closed, misunderstanding from my side.

[2022-01-11 12:47] #477 closed

[2022-01-11 12:50] fwitte commented on #537
Idea is postponed, is only a maybe nice to have feature. There are more urgent topics.

[2022-01-11 12:51] fwitte commented on #514
I found that handling this automatically poses more threats of potential errors than leaving it as is. Closed.

[2022-01-11 22:19] gnn commented on #562
There are multiple ways of fixing this, but first things first: I think the lines you tried to link shifted, @nailend. The "pipeline.py" file changed and since your link always points to whatever `dev` currently points to, the line numbers are no longer correct. In order to avoid this, hit the "y" key while on a page displaying a file. Then the URL will change to incorporate the ID of the commit y

[2022-01-12 01:28] nesnoj commented on #602
No 1 and 2 are now updated on the NC, 3 will be added soon. I propose to make a release now especially to merge #624.

Do you want to add 4. now @ulfmueller or wait for 3.?

[2022-01-12 03:22] CarlosEpia opened #625 "Assign "carrier" to transmission lines with no value"
Most of the transmission lines in the table grid.egon_etrago_line have no value assigned in the column "carrier" (presumably lines inside Germany). This data must be added.

[2022-01-12 08:08] ClaraBuettner opened #626 "Industrial electricity demand eGon100RE"
The industrial electricity demand from  demandRegio includes only "conventional" demand and no additional demand due to electrification e.g. of process heat.
pypsa-eur-sec considers new electricity demand from the industry, but this needs to be spatially allocated.
We plan to update the overall electricity demand per sector from demandregio with data from pypsa-eur-sec and keep the spatial distrib

[2022-01-12 10:47] nesnoj opened #627 "Zenodo data bundle v0.6"
Update of [data bundle](https://zenodo.org/record/5743452).

To be added (tick if added on NC):
- [x] UPDATED eMobility trip data #553 @nesnoj
- [x] p-e-s data
- [ ] ~MaStR data (new data and drop the sandbox dependency) #519 @nesnoj~
- [ ] ~updated p-e-s output dataset (depends on #604 ) @ulfmueller~

Feel free to add further datasets..

[2022-01-12 10:48] nesnoj commented on #602
I moved 3 and 4 to a new issue #627

[2022-01-12 11:34] IlkaCu commented on #626
@fwitte and @AmeliaNadal: Could you please compare the annual values for the German H2 and CH4 demands from PES and extremos to get a first impression how well they fit to each other?

[2022-01-12 12:35] ClaraBuettner opened #628 "Remove `_fixed` prefix from column names of eTraGo tables"
When column names are used in pypsa for static and time-varying attributes (e.g. p_set) we currently give them the prefix `_fixed` in the static tables.
These values are not imported correctly because PyPSA keeps the same column name for static and time-variant attributes.
We could solve this by updating the column names of the eTraGo tables.
If we do so, we also have to adjust the scripts inserti

[2022-01-12 16:54] AmeliaNadal opened #629 "Aggregate generators and stores for CH4"
In some cases, the CH4- and H2-voronoi contain more than one CH4 generator and/or more than one CH4 store (non extendable). These could be aggregated.

[2022-01-12 17:30] AmeliaNadal commented on #452
Two new conecerns:

- By connecting the H2 loads to the H2_saltcavern buses, this is not trivial to aggregate the H2 loads. Maybe the aggregation should concern only the CH4 loads.
- If the H2 loads are aggregated, the aggregation could also include the H2 transport loads. Should this happend in egondata workflow or later on in etrago?

[2022-01-13 08:42] IlkaCu commented on #554
@Alonsoju95: It seems that the `server_default` is causing the problems we discovered on Tuesday. Could you please replace `server_default=` by `default=` and run the tests again?

[2022-01-13 09:39] Danaabusubaih commented on #554
Hi Ilka,

I hope all is well. I just arrived to Flensburg and would like to go to the
office tomorrow. Me and Alonso are coming to the office but we do not have
keys. Will you be there? Or anyone? Thank you.

Best,
Dana

On Thu 13. Jan 2022 at 09:42 IlkaCu ***@***.***> wrote:

--

[2022-01-13 10:17] IlkaCu commented on #554
Yes, I will be there.

[2022-01-13 15:52] IlkaCu commented on #602
Version 0.5 got published: https://zenodo.org/record/5846441
@nesnoj: You will update the deposit_id in your features branch, right?

[2022-01-13 16:04] nesnoj commented on #602
Uh, obviously you mean the first.
Yes, I can change the data bundle's deposit id in my feature branches as I do not expect interferences with other datasets.

[2022-01-16 22:38] nailend commented on #431
After thinking about this, I realized that this is not trivial and a mean distribution does not bring a plausible solution for all cases. The population value of the cells would not fit to the amount of people which are allocated to these household types. Even if we determine a mean distribution just within subgroups of specific population values implausible deviations remain. Especially in the ce

[2022-01-17 09:56] #613 closed

[2022-01-17 14:53] nesnoj commented on #553
One more question @ClaraBuettner concerning the filling of eTraGo tables:
Are there task dependencies I should rely on beside `EtragoSetup`? I could imagine that there might be concurring tasks writing to eTraGo tables which is a problem when using `next_etrago_id()`? (even if it's unlikely tasks could get the same max id)

[2022-01-17 21:57] nesnoj commented on #553
@ulfmueller @ClaraBuettner
While preparing the model data I found "land transport EV" already being a carrier in `grid.egon_etrago_load` - looks exactly like the [one used by p-e-s](https://github.com/openego/pypsa-eur-sec/blob/40cd0447f73a605c71b39576430739bbfb595667/scripts/prepare_sector_network.py#L1098-L1103). What task creates those ones? Are they placeholders? Can we drop it?

[2022-01-18 06:40] fwitte commented on #620
I accidentally ran black on the CH4_storages module @IlkaCu, no need to review that part :)

[2022-01-18 06:42] fwitte opened #638 "Insert H2 gas grid for eGon100RE"

[2022-01-18 08:01] ClaraBuettner commented on #553
You don't need an additional dependency for writing into the tables. There might be conflicts with `next_etrago_id()` (see #514 ) but we didn't run into them up to now and therefore didn't come up with a solution yet.

[2022-01-18 08:05] ClaraBuettner commented on #553
These are the mobility loads of foreign countries, we copied all foreign loads from pypsa-eur-sec.
If you also have data for the other countries, it could be also an option to overwrite the data for pypsa-eur-sec and keep the copy function in egon-data.

[2022-01-18 08:28] fwitte opened #640 "Buses from the P-E-S eGon100RE are located at 0/0"
This is at least the case in the current CI run, see attached shapefiles.
[eGon100RE_european_buses.zip](https://github.com/openego/eGon-data/files/7887386/eGon100RE_european_buses.zip)

[2022-01-18 09:10] nesnoj commented on #553
I see, guess most tasks bulk-write new components using pandas and this probably won't rise problems as all data is committed before the next task starts. However, my task takes a couple of hours. It iterates over grid districts and creates components per grid district. So there's a higher probability of conflicts. I see if I can switch to bulk-insert or a fallback if an id already exists.

[2022-01-18 09:24] nesnoj commented on #553
To get this right: we have 2 places where this data is held, right?
1. for the scenario generation via p-e-s: currently original data from p-e-s (data bundle), will be replaced a soon as you provide some location it shall be exported to @ClaraBuettner . So the tables from 2. are not used here, correct?
2. for eTraGo run only: in tables `grid.egon_etrago_*`. By which task are they created?

I do no

[2022-01-18 10:22] #592 closed

[2022-01-18 10:22] #595 closed

[2022-01-18 10:22] #602 closed

[2022-01-18 11:28] nesnoj commented on #586
@nailend Coud you take care of this as soon as #636 is merged?

[2022-01-18 12:07] ClaraBuettner commented on #626
These are the industrial demands in pypsa-eur-sec:
carrier | demand pypsa-eur-sec |   | used in eGon-data
-- | -- | -- | --
elec | 442,46 | Twh | yes
coal | 0,00 | Twh | no
coke | 0,00 | Twh | no
biomass | 129,13 | Twh | no
methane | 105,49 | Twh |  
hydrogen | 42,09 | Twh |  
heat | 13,34 | Twh | no
naphtha | 241,36 | Twh | no
process emission | 22,27 | Twh | no
process emission from feedstock |

[2022-01-18 12:07] nesnoj opened #641 "eGon data fails after fresh install due to package problems: `psycopg2.errors.UndefinedTable`"
I made a fresh install on our server and eGon-data does not start with a fresh venv. However, my previous venv worked correctly.

I created a diff of pip freeze:
[pip_diff.txt](https://github.com/openego/eGon-data/files/7888856/pip_diff.txt)

Error message:
[code]

Related: #343 #556

[2022-01-18 12:37] nesnoj commented on #556
Is this the same problem as in #641?

[2022-01-18 14:01] #625 closed

[2022-01-18 14:01] #617 closed

[2022-01-18 14:55] #611 closed

[2022-01-19 11:54] nesnoj opened #642 "Create result table for number of households and buildings with el+heat profiles per census cell"
In tasks `electricity_demand_timeseries.hh_buildings.map-houseprofiles-to-buildings` #489 and `heat_demand_timeseries.HTS.demand-profile-generator` #558 el+heat profiles are assigned to buildings.

Needed: table with number of buildings and households per census cell with el+heat profiles.
Currently only table `demand.egon_household_electricity_profile_of_buildings` contains similar information in

[2022-01-19 12:25] ClaraBuettner commented on #642
Maybe we could even add the building_id and/or type of the household or number of persons? So sth. like this:

| zensus_population_id | building_id | household_type / n_persons
| ------------- | ------------- | ------------- |

When I'm not mistaken you already have this data in your `demand.egon_household_electricity_profile_of_buildings`  table.
Regarding the name, it could be also an option to

[2022-01-19 16:21] nesnoj commented on #514
@fwitte @ClaraBuettner I tackle this potential error by catching `UniqueViolation` and obtaining a new id. Example snippet:

[code]

This could also be wrapped using a decorator function for convenient use in different places. If you're interested, I can make a proposal..

[2022-01-20 17:26] nesnoj commented on #486
Results from run on fresh installation:

Initially the task `osmtgmod.run` failed with new OSM data:
`psycopg2.errors.InvalidParameterValue: Geometry type (Point) does not match column type (LineString)`

[Full log](https://github.com/openego/eGon-data/files/7903742/egon-data-processing-pipeline_osmtgmod.run_2022-01-18T12.35.33.419798%2B00.00_1.log)

Apparently the manual fix for Garenfeld #245 wa

[2022-01-21 14:34] #431 closed

[2022-01-21 15:21] nailend commented on #642
Exactly, all the information is there but not as sums of the specific categories (e.g. building_count, household_count) like @nesnoj proposed. Is an extra table needed? Like this?

![grafik](https://user-images.githubusercontent.com/51374526/150552587-24d152b4-51a6-463e-a388-72e235c9cf4b.png)

[code]

@ClaraBuettner  I don't understand your table proposal, especially the column (household_type/n_p

[2022-01-24 06:34] fwitte commented on #377
The task

failed while the link geometry/topology is created.

[2022-01-24 07:51] ClaraBuettner commented on #377
Thank you, I fixed it and cleared the task. But now `gas_grid.insert-gas-data` failed:

[code]
It looks like there is a conflict between #637 and #634. I would like to merge #634 soon, to avoid other issues like that. Could you solve this in your branch @AmeliaNadal?

[2022-01-24 07:55] ClaraBuettner commented on #486
I would prefer a backup of the `grid.egon_etrago_` tables

[2022-01-24 08:19] fwitte commented on #377
@ClaraBuettner, thank you for letting us know. I fixed it on the server and I already pushed it to #637. No need for your action @AmeliaNadal. Task was successful.

[2022-01-24 11:59] #610 closed

[2022-01-24 12:16] nesnoj commented on #486
I've sent you a link to the backup file via mail..

[2022-01-24 15:59] #481 closed, assigned to fwitte

[2022-01-24 15:59] #620 closed

[2022-01-25 06:54] fwitte opened #643 "Industrial gas loads for eGon100RE"

[2022-01-25 14:33] nailend commented on #562
@gnn thanks for this idea! It works! I will open up a separate issue and apply your fix  on a new branch.

[2022-01-25 14:38] nailend opened #644 "Move operators out of the pipeline"
As discussed in #562 @gnn proposed a fix [here](https://github.com/openego/eGon-data/issues/562#issuecomment-1010409471).

- Partial is therefore replace by the full fledged class (dataset)
- function are defined in 'init\t and therefore call in the pipeline as soon as the class is called

[2022-01-25 16:21] ClaraBuettner opened #645 "Missing generator timeseries in eTraGo tables"
In `fill_etrago_gen` all entries from `grid.egon_etrago_generator_timeseries` are dropped:
https://github.com/openego/eGon-data/blob/d677eceb32e5b6813ad65ca210e925da1dd2e850/src/egon/data/datasets/fill_etrago_gen.py#L145-L150

But other tasks also fill this table and this data is missing. Deleting from the table needs to be implemented with conditions.
@CarlosEpia Should I fix this or could you do

[2022-01-25 17:26] gnn commented on #556
Not exactly the same problem, but the `WTForms==2.3.3` line would take care of issue #641, so they are at least partially related.

[2022-01-25 17:50] gnn commented on #641
So, I did some research and the issue is related to us still not having upgraded to `"airflow>=2.0"`. The `airflow` version we're currently using pulls in the `WTForms` package indirectly via `Flask-WTF`. The latter does not specify an upper version limit on `WTForms`, so the most recent one gets installed. But `airflow` imports `wtforms.compat` which got removed when `WTForms` bumped its major ve

[2022-01-25 21:00] gnn commented on #562
Thanks. Good to know that it worked. Now that I had some time to ponder over the code, I actually don't think that the two functions are that clunky, if done right. I'll push a few corresponding commits to a proper `"features/"` branch tomorrow, i.e. on Wednesday.

[2022-01-26 07:39] CarlosEpia commented on #645
Hi  @ClaraBuettner! thanks for letting me know about this bug. I will fix it.

[2022-01-26 10:41] #621 closed

[2022-01-26 13:16] fwitte opened #648 "era5 download pauses weirdly"
In the test mode, the era5 download task runs in very strange chunks for me. Did anybody else experience this before @ClaraBuettner, @IlkaCu, @AmeliaNadal?

For example, in a clean run I started around 09:30, the downloads startet at 09:45. The europe part finished after about 90 minutes, the germany part took about 120 Minutes, the offshore part is not yet finished...

[2022-01-26 13:37] nesnoj commented on #519
@ClaraBuettner I just received the new version and will integrate into the bundle in February..

[2022-01-26 16:26] gnn opened #650 "Re-enable skipped test"
There's [a test][0] starting Airflow, which is currently disabled because it would need a Docker and/or PostgreSQL installation. Since this would've caught at least one issue which occurred since the test was disabled, we should work on enabling it again.

Enabling this test has a few subtasks:

  - [ ] Check whether the runner's local PostgreSQL installation can be used to run the test.
    - [ ]

[2022-01-27 12:20] nailend opened #651 "Change method of household types refinement in hh_profiles"
When refining the census household dataset, we expand from 5 to 10 household types.
This is done by applying a  percentage distribution to clusters within 5 household types to all cell in a federal state, by multiplying it.

For example: 3 * families with child * [30%,30%,30%] = 1 couple with 1 child, 1 couple with 2 children, 1 couple with 3 children.

However, in the case where the percentage di

[2022-01-27 13:10] nesnoj commented on #287
@gnn As just mentioned in the PM the verification should be taken into account here

[2022-01-27 13:32] fwitte opened #653 "H2 feed-in should not be extendable"

[2022-01-27 14:52] nesnoj commented on #287
is outdated. Current:

- https://github.com/openego/eGon-data/blob/b8d8cf62ddf73172240467483ad6c697bb120e8f/src/egon/data/datasets/electricity_demand_timeseries/hh_profiles.py
- https://github.com/openego/eGon-data/blob/b8d8cf62ddf73172240467483ad6c697bb120e8f/src/egon/data/datasets/electricity_demand_timeseries/hh_buildings.py

[2022-01-30 15:57] nailend commented on #377
No run this weekend?

[2022-01-30 16:00] nesnoj commented on #377
Dunno, I wrote a mail to @gnn , will see..

[2022-01-30 19:19] gnn commented on #377
Sorry, totally forgot to start the run during the project meeting. Thanks for your mail, @nesnoj. Should be running now.

[2022-01-31 07:57] fwitte commented on #377
The run currently stops at mastr download, service is not unavailable.

[2022-01-31 15:30] #628 closed

[2022-02-01 10:43] nailend commented on #642
@ClaraBuettner could you have a look here and share your perspective please?

[2022-02-01 14:28] ClaraBuettner commented on #642
@nailend: I'm sorry for my late reply!
Since I only use the number of buildings and households, the table @nesnoj  proposed in [the beginning](https://github.com/openego/eGon-data/issues/642#issue-1108009262) would be also fine for me.
I was just wondering if you would like to share your final distribution of selected household types a bit more directly. But if you don't want to do this or don't k

[2022-02-03 11:55] #618 closed

[2022-02-07 07:08] fwitte commented on #377
Some instances (in electrical neighbours and h2_to_ch4) of "..._fixed" attributes were resurrected. For h2_to_ch4, it is fixed in https://github.com/openego/eGon-data/pull/654/commits/f13d958056d328eeae6a21e581684bfb2f69493c. For the electrical neighbours, I could not find where it originated... Any ideas? On top of that the opendata.ffe server was not available (still is not).

[2022-02-07 08:20] ClaraBuettner commented on #377
The "..._fixed" attributes were updated for the electrical_neigbours dataset in 40d275f2992b0bf26a466dc59d61160331d0b9a8 but this commit was not on CI-branch, I fixed this.

[2022-02-07 08:21] CarlosEpia opened #655 "Central and rural heat store buses must be clustered"
The implemented spatial methods for no electric buses are limited to buses directly connected to the electrical network. Therefore, the "central_heat_store" and "rural_heat_store" buses are not being clustered. A second level approach should be proposed to reduce the number of the mentioned buses.

[2022-02-07 10:37] AmeliaNadal opened #656 "pandas version 1.4 incompatible with sqlalchemy version<1.4"
The [setup.py](https://github.com/openego/eGon-data/blob/dev/setup.py) requires:

- pandas>1.2.0 and
- sqlalchemy<1.4.

However, the pandas version 1.4 is incompatible with the sqlalchemy versions<1.4. Limiting the pandas version with "pandas<1.4" is fixing this issue.

[2022-02-07 15:11] ClaraBuettner commented on #377
I added the tables from demandregio manually and cleared all downstream tasks.

[2022-02-08 08:39] #655 closed

[2022-02-08 14:43] nailend commented on #642
With #652  there will be the possibility to get the cellwise hh_type distribution:
![grafik](https://user-images.githubusercontent.com/51374526/153010035-ab7ca0be-1962-4083-890c-fc3684409627.png)

[code]

[2022-02-09 07:00] #653 closed

[2022-02-11 10:28] AmeliaNadal opened #657 "Gas in neighbouring countries"
In the neighbouring countries, it should be inserted:

- [x] Production
- [x] Demand
- [x] Storage
- [x] Power-to-Gas capacities
- [x] Border crossing CH4 pipelines with Germany
- [x] The border crossing CH4 pipelines between foreign countries sould also be modelled: https://github.com/openego/eGon-data/issues/619
- [x] The bus in Finland should be neglected: https://github.com/openego/eGon-data/p

[2022-02-14 07:36] CarlosEpia commented on #377
The next tasks failed:
- society_prognosis.zensus-household
- zensus.download-zensus-misc
I just cleared them. Let's see if they run successfully this time.

[2022-02-14 08:18] #629 closed

[2022-02-14 14:55] ulfmueller opened #660 "Split up run_pypsaeursec"
In order to easily manipulate input data from pes, I would suggest to split up the named task into two. One, called s.th. like prepare_pypsaeursec, which clones all repos and downloads and unzips all necessary data bundles. And another one, executing the snakemake run of pes.
In between, you can then change the input data. Right now, this is especially addressing @nesnoj 's needs but eventually ma

[2022-02-15 10:36] KathiEsterl opened #661 "Aggregate DSM components per substation"
Instead of differentiating between DSM potential in the different sectors (CTS, industry), we would like to aggregate the DSM components per substation.

[2022-02-15 12:23] #642 closed

[2022-02-15 17:34] nailend opened #662 "Zensus population id differs between DE and SH"
When comparing the results of a DE and a SH run, I stumbled across the fact that the census population ID differs, as it is probably a serial ID and therefore depends on the cutout. Normally this should not be a problem as long as no one starts defining and comparing different clippings but maybe there should at least be a hint somewhere in the documentation?

I would leave this open for discussio

[2022-02-15 23:09] nailend opened #663 "Change method of building assignment"
In the old method, profiles are assigned randomly within cells with replacement. This could lead to a higher number of multi-houses in cells with low household density. Therefore all buildings should get a profile assigned if enough available and only additional profiles will be distributed randomly

[2022-02-16 08:20] #651 closed

[2022-02-16 11:22] nesnoj opened #665 "Airflow webserver raises `TypeError: Object of type Undefined is not JSON serializable`"
After a fresh install and using `continuous-integration/run-everything-over-the-weekend-v2`, `egon-data serve` starts up properly, but accessing the webinterface gives

[code]
Packages: [pip_freeze_eGon-data-sh2.txt](https://github.com/openego/eGon-data/files/8079377/pip_freeze_eGon-data-sh2.txt)

Any ideas, @gnn ?

[2022-02-17 12:41] #663 closed

[2022-02-17 12:57] #586 closed

[2022-02-22 08:08] IlkaCu opened #667 "Fix wrong dependency for society_prognosis.zensus_household"
Dependency needs to be `zensus_miscellaneous` instead of `zensus_population`

[2022-02-22 09:02] nesnoj opened #668 "Wrong year in table `demand.egon_demandregio_cts_ind` for eGon100RE"
Shouldn't that be 2050?

![image](https://user-images.githubusercontent.com/15910173/155098371-823e8482-0187-4341-80bf-a5c864487a0c.png)

[2022-02-22 09:18] IlkaCu commented on #668
No, it is correct like this. DemandRegio only provides demand data for industry and cts up to year 2035 - therefore we had to use this information also for our eGon100RE scenario.

[2022-02-22 09:26] nesnoj commented on #668
Ok, thanks for the clarification

[2022-02-22 09:26] #668 closed

[2022-02-22 12:16] nailend opened #669 "importlib-metadata dependency error"
I just ran into a pip package dependency conflict and couldn't start airflow using the current CI-branch:

[code]

I downgraded to importlib-metadata==2

[code]

Which will probably end up in errors with sphinx but airflow starts again.

[2022-02-22 13:16] nesnoj opened #671 "Assign CTS demands to buildings"
Similar to #435 for households, CTS demands need to be allocated to buildings.

Idea
- Use the aggregated el. CTS profile grid district level from `demand.egon_etrago_electricity_cts`, but it's probably better to use [this function](https://github.com/openego/eGon-data/blob/3983dac0743c6361ee4e023791235c6c5bbce647/src/egon/data/datasets/electricity_demand/temporal.py#L38-L114) to obtain the timese

[2022-02-22 15:23] ClaraBuettner opened #672 "Annualize `capital_costs` in eTraGo tables"
The `capital_costs` are currently overnight costs, which might be misleading. In addition eTraGo needs annualized costs for the investment optimization, so we will annualize the capital costs directly in eGon-data.

[2022-02-22 16:30] nailend opened #673 "Fix function to get scaled hh profiles"
The function get_scaled_profiles_from_db  in hh_profiles doesn't work, due to some refactoring. Multiindex for iee_profile need to be removed.

[2022-02-22 17:46] nesnoj commented on #233
I think this can be closed?!

[2022-02-23 07:00] #673 closed

[2022-02-23 08:50] nesnoj commented on #671
Sorry, the right table for the amenities is **not** `openstreetmap.osm_amenities_shops_filtered` but `openstreetmap.osm_amenities_not_in_buildings`, I adjusted my post above.
Unfortunately, the preprocessing does not come to an end in reasonable time, I will restructure this part and restart the DAG in eGon-data2..

[2022-02-23 12:06] #233 closed

[2022-02-23 12:15] ClaraBuettner commented on #581
Pumped hydro capacities abroad for eGon2035 are added here:
https://github.com/openego/eGon-data/blob/eb4ec505e3c14b7f48dd72175711ec1f2fade8db/src/egon/data/datasets/electrical_neighbours.py#L944-L1003

[2022-02-23 12:15] IlkaCu commented on #581
Parameters on efficiency are missing for pumped_hydro plants in foreign countries.

[2022-02-23 14:16] ClaraBuettner commented on #672
@fwitte: While updating the capital costs I stumbled over this line:
https://github.com/openego/eGon-data/blob/1d5e22938e6969932e3edc2d45cee8b30edd9527/src/egon/data/datasets/scenario_parameters/parameters.py#L251
I thought that H2 feedin is not extendable, so you don't need any costs. Is that correct?

[2022-02-23 14:23] #589 closed

[2022-02-23 15:46] AmeliaNadal opened #676 "Gas stores have wrong values"
The gas are not importing the right value from the Scigrid_gas data.

[2022-02-24 07:47] fwitte commented on #672
Correct!

[2022-02-24 08:12] ClaraBuettner commented on #672
I can also adjust it in this branch if that's fine for you.

[2022-02-24 08:51] fwitte commented on #672
That would be nice, thank you :)

[2022-02-24 11:16] AmeliaNadal opened #678 "Improve modelling of NG and biomethane production"
As mentionned in https://github.com/openego/eGon-data/issues/386, the modelling of the gas production is unfinished. Therefore, the following improvements should be done:

- [ ] Insertion of marginal costs for NG and biogas
- [ ] Change the definition of p_nom:
- p_nom is constant over the year (regionalised values from SCIgrid gas data (like in p-e-s) for NG and from the Einspeiseatlas for biogas

[2022-02-24 14:36] ClaraBuettner opened #679 "Distribute rural heat supply for residential and service"

[2022-02-24 23:28] #587 closed

[2022-02-24 23:41] #644 closed

[2022-02-28 08:48] ClaraBuettner commented on #377
The task `electricity_demand.get-annual-household-el-demand-cells` failed:

[code]
There is plenty of disk space left, so I don't understand why this happened.

[2022-02-28 09:24] nesnoj commented on #377
I had this error as well on our server (despite of 16TB of free space), clearing the task did solve the issue. I thought it might be related to our machine but now I think this should be investigated. I can check what's wrong here.
I restarted the task on the Flensburg server, now it's not immediately failing..

[2022-02-28 13:09] #679 closed

[2022-02-28 14:13] CarlosEpia commented on #645
Solved in PR #659.

[2022-02-28 14:13] #645 closed

[2022-03-01 07:00] CarlosEpia opened #683 "Cross-border lines without DLR time-series"
Some cross-border transmission lines have no DLR time series. It is a consequence of the lack of data in the column "geom". There must be DLR values for each transmission line, no matter the location.

[2022-03-01 12:36] IlkaCu commented on #580
Adjustments needed for

- [ ] solar_rooftop:  https://github.com/openego/eGon-data/blob/dev/src/egon/data/datasets/power_plants/pv_rooftop.py#L34-L217
- [ ] hydro and biomass: https://github.com/openego/eGon-data/blob/dev/src/egon/data/datasets/power_plants/__init__.py#L576-L594
- [ ] wind onshore: https://github.com/openego/eGon-data/blob/dev/src/egon/data/datasets/power_plants/wind_farms.py#L10-

[2022-03-02 10:07] #672 closed

[2022-03-02 10:54] ClaraBuettner commented on #575
The carrier for supply.egon_scenario_capacities are adjusted here:

https://github.com/openego/eGon-data/blob/ed8ee0777c769c53a91397e1a5106d35749b6eb1/src/egon/data/datasets/scenario_capacities.py#L517-L595

In 409cf38ccd6c564b9cbe7d7ec11dcaf2b079f6a0 the reservoir capacities are renamed as well

[2022-03-03 08:44] AmeliaNadal commented on #598
In the [TYNDP 2020](https://www.entsog.eu/tyndp#entsog-ten-year-network-development-plan-2020) (see Annex C2 - Capacities per country), there is no transmission capactity between Germany and Finland (neither now or in 2035), so we could neglected the exchange of CH4 between Finland and Germany. Therefore, there is no need to have a gas bus there.

[2022-03-03 08:44] #598 closed

[2022-03-03 08:45] #676 closed

[2022-03-04 09:13] nesnoj opened #684 "Distribution of PV rooftop capacities"
Distribution of PV rooftop capacities for SQ and 2035 scenario. Replaces temporary method implemented in #255.

Distribution
- [x] Distribute SQ capacities from MaStR (if no coords available: use geocoding using postal code and place)
- [x] Distribute eGon2035 capacities (table `supply.egon_scenario_capacities`) using demand and/or SQ's installed capacities

Single units for distribution grid
- [

[2022-03-04 09:14] nesnoj commented on #255
@khelfen is currently implementing a new distribution #684. The DB table `supply.egon_scenario_capacities` contains scenario data for eGon2035 (fed state) and eGon100RE (1 value for DE). Is the latter already supplied by p-e-s or a dummy value @ClaraBuettner? And is this the right table to import the capacities for eGon100RE from?

(btw: for eGon100RE the component value differs from the ones in e

[2022-03-04 15:09] nesnoj commented on #486
You wrote that you experienced problems with the new OSM dataset, are there any new findings here?

[2022-03-05 23:43] gnn commented on #377
I had to do some checks before running the current weekend run. As a result I only managed to start it on Sunday morning at around half past midnight. Just a heads up so that there's no confusion.

[2022-03-07 08:16] #386 closed

[2022-03-07 08:16] #678 closed

[2022-03-07 08:32] fwitte opened #686 "Assigment of H2 and CH4 capacitites for pipelines and stores"

[2022-03-07 08:32] fwitte opened #687 "Assignment of H2 and CH4 demand for eGon100RE"

[2022-03-07 12:21] IlkaCu opened #688 "Missing time series for pv_rooftop"
There are no time series for pv_rooftop in grid.egon_etrago_generator_timeseries

[2022-03-07 13:40] CarlosEpia opened #690 "Create wind generators for 100RE scenario"
Currently, there is a script that creates the onshore wind farms for the 2035 scenario. That script must be modified to create also the wind farms for the 100RE scenario, which has just one total installed capacity value for Germany instead of objective values per region.

[2022-03-07 15:16] nesnoj commented on #665
This seems to be resolved although only datasets seem to have changed. o_O
Closing...

[2022-03-07 15:16] #665 closed

[2022-03-07 16:23] AmeliaNadal commented on #604
By running the [features/update-pes branch](https://github.com/openego/eGon-data/tree/features/update-pes), the task run-pypsa-eur-sec is failing with the following error:

(I am obtaining the same error by running manually 'snakemake -j1 prepare_sector_networks'.)
@ulfmueller, have you already seen this error?

[2022-03-08 09:27] ulfmueller commented on #604
No, I am not familiar with this error. It seems to be a problem with the input data which is being imported. Did you change any data? I would check this importing function and the corresponding file which shall be imported. In your error message, these lines seem to be leading to the file and maybe the source of the error:
[code]
If you havent changed anything I cant think of the error's source ri

[2022-03-08 12:57] IlkaCu commented on #580
Wind onshore is tackeled here: https://github.com/openego/eGon-data/pull/691

[2022-03-08 12:57] IlkaCu commented on #580
Open ToDo for hydro: Dealing with plants without complete geometry information.

[2022-03-09 03:21] gnn commented on #343
I finally managed to put together the upper version limits which should make the workflow run again. The corresponding changes are in PR #692. This PR also serves as an example of when I'm not against upper bounds on package versions: when they can't be avoided because we know that more recent packages cause breakage. Because if we know, then we can also document how these versions break our packa

[2022-03-09 03:24] gnn commented on #669
PR #692  should fix this. Would you mind testing whether this is correct?

[2022-03-09 03:25] gnn commented on #556
PR #692 should fix this. Would you mind testing whether this is correct?

[2022-03-09 03:30] gnn commented on #641
PR #692 should fix this. Would you mind testing whether this is correct?
I also know now why this wasn't caught during the weekend runs and this issue is fixed as well. Work and getting Docker and/or PostgreSQL into GH actions to catch stuff like this earlier is also progressing, so if the fix works, the issue can be closed.

[2022-03-09 03:38] gnn commented on #665
Weird. For what it's worth, I checked the linked pip freeze output against what's used for the weekend run and the only package which is older in the weekend run compared to the linked versions is "hijri-converter==2.2.0". I would've asked you to downgrade and try again, but since the problem is not reproducible any more, this note serves only as a reminder in case the issue crops up again.

[2022-03-09 07:35] nesnoj commented on #580
BTW, I'm currently preparing the MaStR update #519

[2022-03-09 09:45] fwitte commented on #604
Snakemake should be restricted to `snakemake<7`, since it requires versions of jinja2 incompatible with apache-airflow (`jinja2<2.12.0`) and flask (`jinja2<3.0`).

[2022-03-09 14:59] nesnoj opened #693 "Task `osm_buildings_streets.extract-buildings-wo-amenities` does not terminate"
in full run.

[2022-03-09 19:40] #693 closed

[2022-03-10 07:22] nesnoj opened #695 "Wrong solar capacities `supply.egon_power_plants` for eGon2035"
Given capacities in `supply.egon_power_plants`:

![grafik](https://user-images.githubusercontent.com/15910173/157607455-5d924b18-fd29-4105-8352-a271b03e1e80.png)

According to data bundle's `NEP2035_V2021_scnC2035.xlsx` solar should amount to 120 GW.

PS: at first sight, gas and oil generation capacities also seem to be flawed but I'm not familiar with the splits and carrier allocation so not sure

[2022-03-10 07:38] nesnoj opened #696 "Offshore turbines not located offshore in `supply.egon_power_plants`"
![grafik](https://user-images.githubusercontent.com/15910173/157611252-9ef420cd-a556-4fc5-a650-3001b1432cd8.png)

[2022-03-10 07:46] nesnoj commented on #695
Uh, the PV capacity seems to include PV ground capacities only (as listed in `supply.egon_scenario_capacities`) so seems to be correct.

I'll leave this one open to discuss the assumptions in PV ground share and to extend the task by solar rooftop.

[2022-03-10 09:54] ulfmueller commented on #696
sorry, no expert on this, but it looks like that they are georeferenced to their connection points to the main grid.

[2022-03-10 13:00] #683 closed

[2022-03-10 15:11] nesnoj commented on #696
Thanks for your comment. For some nodes that seems plausible, but what about e.g. Osnabrück?
BTW, it's not relevant for the distribution grids but it'd be good to have proper coordinates for the WebApp #447

[2022-03-10 20:59] nesnoj commented on #695
Some questions/remarks on **PV ground**:

**1. Difference in capacities - why?**
`supply.egon_power_plants`: 29.33 GW
`supply.egon_scenario_capacities`: 35.93 GW

**2. On the ground-mounted share:**

Numbers in `supply.egon_power_plants` for 2035: 29.33 GW, total 120 GW -> 24.4 %
You use the same ratio as in MaStR, right?

Previous analyses have shown that the quality of column "Lage" in the MaStR

[2022-03-11 08:49] fwitte commented on #377
In the current CI there are two entries for the HeatDemandEurope dataset. On dev only one entry exists. Which one is correct?

dev + CI:

https://github.com/openego/eGon-data/blob/9c7f2393cce5ef8290d5766ef6a3624a6a954620/src/egon/data/airflow/dags/pipeline.py#L157-L159

only CI:
https://github.com/openego/eGon-data/blob/91fdc7dd8d7854c4b58292d0dda15e857df08bbf/src/egon/data/airflow/dags/pipeline.p

[2022-03-14 07:06] fwitte commented on #377
Apparently storage is full:

[code]

[2022-03-14 08:02] nesnoj commented on #377
Checking `df` there is sufficient disk space available. In the past I encountered this error a couple of times as well and dunno why this happens. I got the impression that it's about temporary space of the docker, maybe @gnn has an idea?

I restarted the 2 tasks...

[2022-03-14 09:45] ClaraBuettner commented on #696
Yes, these are the existing and future connection points. According to NEP (https://www.netzentwicklungsplan.de/sites/default/files/paragraphs-files/NEP_2035_V2021_1_Entwurf_Teil1_1.pdf), table 20, page 121 the TSOs assume e.g. connection points near Osnabrück (Suchraum Gemeinden Ibbenbüren / Mettingen /Westerkappeln) and 40km from Duisburg (Suchraum Zensenbusch).

[2022-03-14 12:38] IlkaCu commented on #695
I cannot answer this immediately, but I will further investigate it as soon as the current CI run finished.

We **did not** take this information from MaStR but from the NEP. There are individual shares for every federal state.

We all discussed our procedure several times during its development and I doubt that we have the time to change our methods again unless you present very strong arguments

[2022-03-14 13:37] ClaraBuettner commented on #255
The installed capacity for eGon100RE is from a first p-e-s calculation, it will change when we run p-e-s again with all changes (e.g. your mobility data). So it is not the final value but also not dummy data.
And yes, the table is the right one.

Thank you for the remark, I will change this.

[2022-03-14 22:34] nesnoj commented on #519
Will not integrate into data bundle, will make a new release on Zenodo instead.

[2022-03-15 10:40] IlkaCu opened #698 "Offshore wind generators with control = 'Slack' in eGon100RE"
As shown in the graphic below some offshore wind generators have `control = 'Slack`' in the eGon100RE scenario.

![grafik](https://user-images.githubusercontent.com/16799094/158359562-4dacdad1-bb05-418f-bb78-8405c98e30b9.png)

[2022-03-15 12:09] ClaraBuettner commented on #556
I can install egon-data without any problems, but when I try to start it with `egon-data serve` I run into this error:
[code]

I created a new python3.8.10 environment; these attached packages were installed by running `pip install -e eGon-data/`:
[requirements.txt](https://github.com/openego/eGon-data/files/8253061/requirements.txt)

[2022-03-16 10:42] ClaraBuettner opened #699 "Insert eGon100RE scenario_parameters for electricity sector"

[2022-03-16 13:39] IlkaCu commented on #695
A closer investigation revealed that this difference in capacities occurs in four different federal states: Brandenburg (DE4), Mecklenburg-Vorpommern (DE8), Sachsen (DED) and Sachsen-Anhalt (DEE). The potential areas in these federal state are not sufficient to meet the target capacity.
An adjustment in our method to also take existing plants outside of potential areas into account potentially red

[2022-03-16 13:51] IlkaCu commented on #695
There seems to be a bug in the code, as a closer look at the potential areas shows that there should still be sufficient capacity available. I will further investigate this tomorrow.

[2022-03-17 14:52] nesnoj commented on #695
Thanks for checking! Sounds like a good reason for #382.
Does that mean u will touch the distribution as well? :smile_cat:

[2022-03-18 16:58] gnn opened #702 "PostgreSQL sometimes raises a "could not resize shared memory segment" error during a full worfklow run"
This was [mentioned](https://github.com/openego/eGon-data/issues/377#issuecomment-1066445745) in issue #377 and since there was no issue for this error yet, I'd thought I'd open one in order to gather all the information about it. I found a good explanation on why this happens in [this thread][0] and I also figured out two possible solutions from the Docker docs and [this article about "Shared Mem

[2022-03-21 07:43] nesnoj commented on #702
Thanks for tackling this problem, we observed this as well in #267 and #258 where increasing the `shm_size` (first of your options) did not solve the problem. So let's see if the second one does better..

[2022-03-21 10:47] nailend opened #704 "twisted number error in residential demand script"
I just found a major bug/wrong coding in my own code, effecting the whole residential demand timeseries generation. I mixed up the order of two numbers [here](https://github.com/openego/eGon-data/blob/de83b34126017f9a109a0a80490a3f158795296d/src/egon/data/datasets/electricity_demand_timeseries/hh_profiles.py#L1098-L1104). Leading to a very small share of `pairs with kids` living in germany but a h

[2022-03-21 10:50] nailend commented on #704
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>

	<title></title>
	<meta name="generator" content="LibreOffice 6.4.7.2 (Linux)"/>
	<style type="text/css">
		body,div,table,thead,tbody,tfoot,tr,th,td,p { font-family:"Liberation Sans"; font-size:x-small }
		a.comment-indicator:hover + comment { background:#ffd; position:absolute; display:block; border:1px solid black; p

[2022-03-21 11:16] nesnoj commented on #377
There's a major bug in the household demand #704. As we need the results for the paper we would like to restart the weekend run asap or after the run finished.
Would that be ok for you @AmeliaNadal @IlkaCu @ClaraBuettner @fwitte @gnn @ulfmueller ?

PS: If you have objections, I'd prepare a full run on the RLI's workstation..

[2022-03-21 11:16] nesnoj commented on #704
Coordination: https://github.com/openego/eGon-data/issues/377#issuecomment-1073772947

[2022-03-21 11:19] ClaraBuettner commented on #377
The last weekend run had some problems downloading zensus data, so many tasks didn't run yet.
It would be fine for me to stop this run and restart it with your changes.

[2022-03-21 11:20] AmeliaNadal commented on #377
I just checked with @fwitte and it's ok for both of us to restart the weekendrun.

[2022-03-21 11:21] nailend commented on #377
its not yet in the CI. Ran into some merge problems.

[2022-03-21 11:53] nesnoj commented on #377
Thanks for you quick replies!!
I'll take care of the restart..

[2022-03-21 11:54] nailend commented on #377
Merge done, ready to run

[2022-03-21 12:25] nesnoj commented on #377
Run has been started..
btw, ` industrial_gas_demand.download-industrial-gas-demand` is immediately failing

[2022-03-21 12:35] fwitte commented on #377
I might have overseen a dependency to the `scenario_parameters.insert-scenarios` task. I'll restart the download after that task was successful, and adjust the pipeline if necessary. Thank you for reporting!

[2022-03-21 14:30] gnn commented on #377
Now that this task gets mentioned, I'd also like to point out that "pipeline.py" tries to add it to the workflow twice.

Overlooked, I presume. ;)

[2022-03-22 06:22] fwitte commented on #377
Thanks for noticing @gnn!

Yesterday, I cleared the task `scenario_parameters.download-pypsa-technology-data` because it was running for > 5 hours and it then finished within 30 sec as it should and the `industrial_gas_demand.download-industrial-gas-demand` was successful after that. However, many other tasks are now on orange state and do not start, even though there is no failed task. I tried to

[2022-03-22 08:43] nesnoj commented on #377
Hmm, @nailend experienced similar oddities yesterday - we really should think about a new weekend v3 branch..

[2022-03-22 09:40] nesnoj commented on #377
Several CHP extension tasks (BW, HH, HE) failed @ClaraBuettner ("sqlalchemy.exc.OperationalError: (psycopg2.OperationalError) FATAL:  sorry, too many clients already"), is that a resources' problem?
I cleared them..

[2022-03-22 11:09] ulfmueller opened #706 "Battery storage in the neighboring countries do not get capital costs"
since there are by default p_nom_extendable = False, it does not matter in the the default case but it will be weird once they are optimized as well. ToDo: set the same paramter as the one for the possible ones in Germany.

[2022-03-23 13:58] #690 closed, assigned to CarlosEpia

[2022-03-23 16:53] nesnoj commented on #377
All done

[2022-03-23 21:35] gnn commented on #377
@AmeliaNadal had a similar problem on the DLR's server. That usually means that PostgreSQL's connection limit as been reached. Maybe due to parallelism? I'll look into what the default connection limit is and whether it's possible to increase it.

That's a nice suggestion. Since I didn't rename the weekend v2 branch yet, we could create a new fork from `dev` under the original name. I asked in the

[2022-03-24 13:00] ClaraBuettner opened #708 "Drop rural_heat buses without load"

[2022-03-25 06:57] #638 closed

[2022-03-25 06:57] #483 closed

[2022-03-25 06:57] #643 closed

[2022-03-25 06:59] fwitte commented on #377
@gnn FYI: Amélia was out of office yesterday and today.

[2022-03-25 09:11] ulfmueller opened #710 "x values for etrago lines in eGon2035 are too high"
count     21822.000000
mean        635.918861
std        3633.076381
min           0.114049
25%           7.958350
50%          56.256286
75%         245.502631
max      130516.583553
Name: x, dtype: float64

whereas in the eGon100RE scenario the max value is at about 106. It seems that the x values are roughly by a factor 100 too high in the eGon2035 scenario. I wonder where this scenario-specifi

[2022-03-25 09:27] ulfmueller opened #711 "x values for etrago transformers might be too small"
probably by a factor of 100.
We should recheck [this line](https://github.com/openego/eGon-data/blob/dev/src/egon/data/datasets/osmtgmod/__init__.py#L584).
It seems weird that it is different from [the branch interpretation](https://github.com/openego/eGon-data/blob/dev/src/egon/data/datasets/osmtgmod/__init__.py#L558) which would mean that osmtgmod has different units for different components, wh

[2022-03-25 10:37] IlkaCu opened #713 "Heat supply in eGon100RE"
The heat supply needs to be allocated for the eGon100RE scenario.

[2022-03-25 20:21] gnn commented on #556
That's funny. Looking at the attached file reveals a broken installation due to conflicting package versions: `Flask == 1.1.4` is installed alongside `itsdangerous == 2.1.1`, but `Flask == 1.1.4` has the constraint [`itsdangerous < 2.0`][0]. So `pip` should either refuse to install this package configuration or warn you that you have conflicting package versions.
Would you mind creating a fresh Py

[2022-03-28 07:52] gnn commented on #377
Thanks. Amélia told us during the AP1 conference on Wednesday so I didn't expect the fork to be done before the weekend anyway. :) Also, I noted that I forgot Ulf so I added him to the list.

[2022-03-28 09:18] ClaraBuettner commented on #711
I think multiplying by 100 was intended. The base power seems to be 100MVA for transformers in osmTGmod, so it had to be converted for pypsa (see https://github.com/openego/data_processing/commit/06c48b79b02f25e01d522922ff0413bc7b9fda2d) .
I can add a comment.

[2022-03-28 10:02] ulfmueller commented on #711
Ok, but doesn't the base-kV applies for the lines as well (for the entire model)? I trust you that it is correct like that - but it seems a bit weird, still.

[2022-03-28 10:04] IlkaCu commented on #575
We agreed on applying the carrier names from eGon2035 in the eGon100RE scenario (Germany and abroad), too.

[2022-03-28 10:09] ulfmueller commented on #711
I just checked the osmTGmod code, and like I said, the base_MVA=100 is used for lines and for transformers:
https://github.com/openego/osmTGmod/blob/features/egon/sql-scripts/functions.sql#L2333
https://github.com/openego/osmTGmod/blob/features/egon/sql-scripts/functions.sql#L2506

[2022-03-29 08:52] ClaraBuettner commented on #486
@nesnoj: Have you already created a branch for the OSM update?

[2022-03-29 09:26] IlkaCu commented on #50
This task is tackeled in #367

[2022-03-29 09:26] #50 closed

[2022-03-29 09:26] nesnoj commented on #486
No, just tested manually.
I think the only things that have to be adjusted are the files to `germany-220101.osm.pbf` / `schleswig-holstein-220101.osm.pbf`:
https://github.com/openego/eGon-data/blob/ee5cd59e95344e58102e0fb70da8202d7b65ba7c/src/egon/data/datasets.yml#L1-L10
...and your manual handling.
If I'm not mistaken the metadata is adapted automatically..

[2022-03-29 11:54] IlkaCu commented on #377
Hello eGon-data people,

@gnn and me agreed on a time plan to create a new CI branch and do some clean-up. Here it is:

Until Wednesday evening: Merge tested and approved features to dev (all)
Thursday morning: Clean pipeline.py on dev up (@IlkaCu)
Thursday noontime: Review clean-up and create new CI-branch from dev (@gnn)
Thursday afternoon - Friday afternoon: Merge new features into new CI-branc

[2022-03-29 14:24] nesnoj commented on #640
Will this one be solved? @ClaraBuettner @ulfmueller

[2022-03-29 17:31] gnn opened #718 "Implement a task or subcommand uploading data to the OEP"
At the end of the workflow run, the data generated should be uploaded to the OEP. If it's an official run, at least. So in order to do this, a task or subcommand uploading the data should be implemented.
The tables who's contents should be uploaded are listed in issue #367. It's not done yet, but the tables already listed there are a good starting point to begin development.

[2022-03-29 18:36] gnn opened #719 "The `demand-profile-generator` task fails when `download-era5` did not complete successfully"
More specifically, I'm talking about `heat_demand_timeseries.HTS.demand-profile-generator` and `era5.download-era5`. I started a `Schleswig-Holstein` run based on commit 2f57511ee136bfc65ee25b1eefec8832b47375c8 in an improperly configured environment which made `era5.download-era5` immediately fail without downloading anything. The only other task which failed in this run, too, was `heat_demand_ti

[2022-03-30 06:20] nesnoj commented on #719
You're right, era5 is [missing in the dependency list](https://github.com/openego/eGon-data/blob/63a4ea698dfad1c379edf9229d8b75b6f8f205fb/src/egon/data/airflow/dags/pipeline.py#L565). I talked to @ClaraBuettner on Monday and she'll prepare a fix..

[2022-03-30 08:06] nesnoj commented on #514
As needed for eMob, I implemented a wrapper

[2022-04-01 03:37] #702 closed

[2022-04-01 03:46] #562 closed

[2022-04-01 07:48] IlkaCu commented on #367
Please update the list above until the 14th of April and make sure that the corresponding tables have correct meta data assigned.

[2022-04-01 11:39] IlkaCu opened #722 "Conventional power plants are missing marginal costs in 'eGon2035'"
Conventional power plants are missing marginal costs in 'eGon2035'. Data need to be added to 'scenario_parameter' and assigned to corresponding plants.

[2022-04-01 15:09] AmeliaNadal opened #723 "Final gas demand in Norway eGon2035"
In the TYNDP data, there is no final gas demand for Norway (CH4), a value should be searched and implemented.

[2022-04-04 10:53] ulfmueller opened #724 "Missing timeseries for fluctuating renewable energy sources"
There are no time series (p_max_pu) for fluctuating renewable energy sources (i.e. solar, wind_offshore, wind_onshore (the ones I checked)...) in grid.egon_etrago_generator_timeseries for the eGon2035 scenario (did not check the other scenario) at the neighboring countries' buses.

[2022-04-05 10:34] gnn commented on #377
The tasks
  * [`heat_demand_timeseries.HTS.demand-profile-generator`][0] and
  * [`industrial_gas_demand.insert-industrial-gas-demand-egon2035`][1]
failed. I've linked their failure logs and restarted the tasks. The second one is a known failure which also occurs during the SH run and is probably due to a missing dependency.

[0]: https://gist.github.com/gnn/4742b0d2b164a6c9cf379030a3c93a80#file-8

[2022-04-05 11:23] fwitte commented on #377
Hmm, I have never seen that specific issue with [industrial_gas_demand.insert-industrial-gas-demand-egon2035](https://gist.github.com/gnn/4742b0d2b164a6c9cf379030a3c93a80#file-8615374-de-industrial_gas_demand-insert-industrial-gas-demand-egon2035-01-log), thank you for noticing it. After restarting it was successful. I will have a look if the data look fine before next Friday's run.

[2022-04-05 13:25] AmeliaNadal commented on #367
From the DLR perspective, the list is complete.

[2022-04-06 09:48] nesnoj commented on #514
Done in #720

[2022-04-06 13:49] IlkaCu opened #725 "Missing dependencies in some tasks"
HTS.demand-profile-generator is missing ERA5 dependency
society_prognosis.zensushousehold is missing table society.egon_destatis_zensus_household_per_ha
chp.insert-chp-egon2035 is missing openstreetmap.osm_landuse

[2022-04-08 09:04] AmeliaNadal opened #728 "Inconsistency of sources for the pipeline capacities calculation between Germany and neighbouring countries in eGon2035"
To calculate the pipelines capacities in eGon2035, the following sources are used:

- In Germany: Matching between the Scigrid data (pipeline diameter) and the classification of gas pipelines [LKD-EU](https://www.econstor.eu/bitstream/10419/173388/1/1011162628.pdf).
- Border crossing CH4 pipelines with Germany: TYNDP data are used
- Border crossing CH4 pipelines between foreign countries: TYNDP ar

[2022-04-08 12:08] gnn commented on #377
So, as mentioned in the last AP1 conference @IlkaCu and me had to fix some missing dependencies after cleaning up the pipeline and this took a bit longer than expected. But the fixes are part of the CI branch now and they're running in an `Everything` and a `Schleswig-Holstein` run. The runs aren't done yet but they look promising. All the tasks which failed in previous runs are done and we're now

[2022-04-08 12:36] nesnoj commented on #377
Cheers!

You'd do me a favour if you wait at least until 6pm before you start the run as I'm still working on some stuff...

[2022-04-08 12:58] nesnoj commented on #553
Quick question @ClaraBuettner: In some grid districts there are no EV in some scenarios (e.g. 6 in eGon2035).
Currently, my code does not create any components in the eTraGo tables for those MVGDs. I assume this ok with your model - or does this induce problems?

[2022-04-08 13:17] IlkaCu opened #730 "Missing marginal costs for generators and links at foreign buses"
In the eGon2035 scenario marginal costs are not defined for most components in `grid.egon_etrago_generator` and `grid.egon_etrago_link` which are connected to foreign buses. Similarities to #722

[2022-04-09 14:37] gnn opened #731 "The `zensus.download-zensus-misc` task does not verify downloaded files"
During the last SH run based on 2d06b02322f1d99af2e3d5d9f10e54871b3259bf, the `zensus.download-zensus-misc` task was stalled so I had to abort it. Even after a successful rerun this lead to a subsequent [failure][0] of the `zensus.zensus-misc-to-postgres` task because of a corrupted zip file, probably due to an incomplete download. Checking the downloaded files, deleting the corrupted one, "csv_Ge

[2022-04-10 13:10] #725 closed

[2022-04-11 06:48] ClaraBuettner commented on #553
Yes, that is ok with our model.

[2022-04-11 08:00] IlkaCu commented on #377
Task `mastr.download-mastr-data` failed due to some connection issues. I cleared the task ... lets see what happens.

[2022-04-11 08:03] IlkaCu commented on #377
The task finished successfully.

[2022-04-11 11:05] #699 closed

[2022-04-15 09:39] #669 closed

[2022-04-19 06:40] nesnoj commented on #731
This zip file problem sometimes occurs in other tasks too. A common function which subsequently checks file integrity and re-issues the download if required would be a great improvement.

[2022-04-19 06:43] nesnoj commented on #377
Large parts of the pipeline failed due to failed ERA5, I'll try to clean the task...

[2022-04-19 06:46] nesnoj commented on #377
Hmm: `ERROR - the request you have submitted is not valid`
Could you please check if ERA's API has changed @ClaraBuettner @IlkaCu ?

[2022-04-19 07:46] ClaraBuettner commented on #377
I couldn't find the problem by now, I copied the data from another directory. The workflow is now running again. I will try to fix the problem locally.

[2022-04-19 08:08] ClaraBuettner commented on #377
`hydrogen_etrago.h2_grid.insert-h2-pipelines` failed:

[code]
I tried to clear the task but it was still failing. @AmeliaNadal and @fwitte: Could you please check the task?

[2022-04-19 10:29] nesnoj commented on #377
The emob part also failed due to not updated files in the data bundle #627. I'll add manually and restart the tasks..

[2022-04-20 07:24] #724 closed

[2022-04-21 07:33] #710 closed

[2022-04-21 07:41] #661 closed

[2022-04-22 10:46] nesnoj commented on #377
Argh, the emob timeseries generation failed due to connection problems at 06:20am yesterday:
[code]
Any ideas why this happened, @gnn? `docker ps` says that all containers were down... did anyone restart docker?
Docker logs do not give answers either, there's a gap during this time.

I will not restart the tasks as @gnn is up to restart the run anyways tonight..

[2022-04-25 14:28] ClaraBuettner opened #734 "Missing gas_bus_id in Baden-Württemberg"
One municipality of Baden-Württemberg (Büsingen am Hochrhein) is isolated from the rest of Germany (marked in orange). This area is not part of any CH4 voronoi (shown in red). There is an industrial area in the municipality, when a CHP is assigned to this area, the chp-tasks run into errors.

![image](https://user-images.githubusercontent.com/22964326/165108871-4b2d5e21-d5e5-4510-b363-5670d36f61da

[2022-04-26 06:05] nesnoj commented on #486
Any updates here?

[2022-04-26 06:25] nesnoj commented on #627
@IlkaCu Could you please create the new version? (updated eMobility trip data only)
The old `.tar.gz` file can be deleted, you can find 2 new files on the server, cf. [readme on NC](https://next.rl-institut.de/f/1286631).

[2022-04-26 06:31] nesnoj opened #735 "Update HH electricity demand profiles"
Update HH demand profiles to fix bugs:
- [x] remove leap year: use 2011 instead of 2016
- [x] removed daylight saving
- [x] adjusted pool size of family types to match with Zensus 2011
- [x] update import in egon-data
- [x] merge  profile type O2, O1 and O0 in egon-data
- [x] update filename in `datasets.yml`

[2022-04-26 06:31] nesnoj opened #736 "Zenodo data bundle v0.7"
Update of [data bundle](https://zenodo.org/record/4896526).

To be added (tick if added on NC including description):
- [x] updated eMob trip data #553 @nesnoj

Feel free to add further datasets..

[2022-04-26 07:40] nesnoj commented on #367
From my perspective, the list above lacked most of the essential datasets. Some are also required by ding0, some as reference for the HH demand paper. I added the ones I'd like to have on the OEP (unfortunately, many of them are still lacking metadata... #450). I could imagine that you're also still missing some? (e.g. what about the industrial sites?)

Try to think from a user's perspective and c

[2022-04-26 07:49] nesnoj opened #738 "Tables missing prefix"
There some tables which are missing a prefix:
- [x] #746
- [x] demand.heat_idp_pool -> demand.egon_heat_idp_pool
- [x] demand.heat_timeseries_selected_profiles - demand.egon_heat_timeseries_selected_profiles

[2022-04-26 08:47] IlkaCu commented on #688
Fixed by PR #689

[2022-04-26 08:47] #688 closed

[2022-04-26 08:47] #696 closed

[2022-04-26 08:49] #667 closed

[2022-04-26 10:45] nesnoj commented on #382
Thanks for taking care!
How can we integrate additional checks?

@nailend Could you add some points/scrips/links to other issues here for validating the HH el. demand that have been used during the development?

[2022-04-28 07:22] fwitte commented on #734
Working on it, thanks for notifying!

[2022-04-28 07:39] nesnoj commented on #448
Sankey diagram?

[2022-04-28 08:21] fwitte commented on #734
Fixed it in the PR, the enclaves are now included in the voronois:

![grafik](https://user-images.githubusercontent.com/20252362/165709761-3c4578c3-f905-4ca3-ada0-d9de15fcc84c.png)

[2022-04-29 09:20] fwitte opened #741 "The length information of links other than pipelines should be removed"
It distorts the values for capital cost in the aggregation of eTraGo (see https://github.com/openego/eTraGo/issues/405), thank you @CarlosEpia for spotting it. Since the information is only used in eGon-data internally, values can be set to `0` safely just before writing the info to the db.

[2022-05-02 11:46] fwitte commented on #738
@nesnoj: Is this a naming convention thing? I can update the saltstructure stuff, since I implemented that dataset.

[2022-05-02 13:14] nesnoj commented on #738
Yes, we once agreed on using the original source as prefix, so if you can afford this change that would be nice.
If the data is altered to a significant degree, we are the authors so we use the prefix `egon_`.

[2022-05-02 13:30] AmeliaNadal opened #744 "Two gas buses are wrongly attributed to DE"

[2022-05-02 13:42] ClaraBuettner commented on #719
Thanks to @IlkaCu the missing dependency was already added in  77f5acd8304d2dac7c6f43814f6f1ae02b8a0378

[2022-05-02 13:42] #719 closed

[2022-05-03 06:15] fwitte commented on #744
Also fixes https://github.com/openego/eTraGo/issues/397

[2022-05-03 06:17] #734 closed

[2022-05-03 06:22] #741 closed

[2022-05-03 07:35] fwitte opened #746 "boundaries.saltstructures_inspee -> boundaries.inspee_saltstructures ?"

[2022-05-03 14:56] #486 closed

[2022-05-04 07:11] ClaraBuettner opened #748 "Always use `db.next_etrago_id` when writing into etrago tables"
To avoid problems with duplicate key values, the updated function `db.next_etrago_id` (see #514 and #720 ) should be used in all tasks that write data into etrago tables.
At least the dsm-datasets has to be adjusted, other datasets have to be checked.

[2022-05-04 07:14] ClaraBuettner opened #749 "Add pv home batteries per mv grid district"
Home batteries should define a lower boundary of the extendable battery storage units. The overall number of batteries is taken from NEP for eGon2035.
The distribution should be done according to the installed pv rooftop capacity and depends on #684

[2022-05-05 11:06] IlkaCu commented on #627
The new data bundle version 0.6 is available here: https://zenodo.org/record/6520140

[2022-05-05 11:28] nesnoj commented on #627
Thank you! The deposit id needs to be updated in the `datasets.yml` - are you planning to do this as well?

[2022-05-05 11:45] IlkaCu commented on #627
I can do that as well.

[2022-05-05 11:52] IlkaCu commented on #627
I update the deposit id on this feature branch: https://github.com/openego/eGon-data/tree/features/%23627-zenodo-v0.6
Please add additional changes, if needed.

[2022-05-05 13:23] nesnoj commented on #627
Thx, I'll create a PR

[2022-05-06 08:19] nesnoj commented on #377
I just fixed a major bug in the emob part, so u can chuck away (at least from a quantitative perspective) the model data of current run @ClaraBuettner

Another interesting observation: The emob model data generation for eGon2035 took 63h on your server, my current estimation on ours is 13h.. **(o_O)**

[2022-05-06 11:44] #15 closed

[2022-05-09 06:50] nesnoj commented on #377
Tasks `pypsaeursec.neighbor-reduction` and `DSM_cts_ind.dsm-cts-ind-processing` failed in the current run...

[2022-05-09 13:27] ClaraBuettner opened #752 "Missing solar generators in eTraGo tables"

[2022-05-09 17:01] fwitte opened #754 "Catch unique violation (#514) interferes with copying data from one scenario to another without changing id"
Unfortunately #720 interferes with a lot of tasks for the gas data in eGon100RE scenario as infrastructure (buses and links) is copied from eGon2035 to eGon100RE only changing the scn_name field and preserving the `bus_id` or `link_id`.

I'll implement `next_etrago_id()` instead then.

- pipeline links
- power_to_H2
- H2_to_power
- CH4_to_H2
- H2_to_CH4
- Store (?)

[2022-05-09 17:19] #746 closed

[2022-05-10 08:10] #722 closed

[2022-05-10 08:18] Danaabusubaih opened #755 "Create Sanitychecks for 100RE Scenario"
Create Sanity checks for 100RE Scenario for both heat and electricity.

[2022-05-10 09:39] Danaabusubaih opened #756 "Create Sanity Checks for Europe"
Create Sanity Checks for Europe for the 2035 and the 100RE scenarios.

[2022-05-10 09:52] #752 closed

[2022-05-10 09:58] #581 closed

[2022-05-10 10:00] #708 closed

[2022-05-11 12:46] #695 closed

[2022-05-12 06:43] #627 closed

[2022-05-12 07:42] nesnoj commented on #445
Manually triggered: data will be obtained from OEP and processed for app.

Waits for OEP publication #457 #367 .

[2022-05-13 13:00] fwitte commented on #748
#754/#757 should work with next_etrago_id as well

[2022-05-16 08:21] nesnoj commented on #377
This time `electrical_neighbours.tyndp-generation` failed - who is responsible?

[2022-05-16 09:15] CarlosEpia commented on #377
I will fix it.

[2022-05-16 11:28] CarlosEpia commented on #377
The problem with electrical_neighbours.tyndp-generation is already solved. Airflow is working again.

[2022-05-16 11:38] CarlosEpia opened #758 "Problem while assigning the weather series data to cross-border generators"
There was an update about the name of some generator carriers in the egon100RE scenario, which created a conflict while generating the time series data for the egon2035 scenario.

[2022-05-16 12:35] ClaraBuettner commented on #377
`DSM_cts_ind.dsm-cts-ind-processing` failed because of the known bug with eTraGo ids. No other task depends on it, I will clear it when all other tasks finished.

In addition `hydrogen_etrago.h2_grid.insert-h2-pipelines` failed:
[code]

[2022-05-16 12:46] fwitte commented on #377
Thanks for notifying. I oversaw that... I'll try to fix it today evening or tomorrow, but it might take a quite a bit more time, since I need to make some new tables in the database to lookup the pipelines with their respective buses, I think.

[2022-05-17 08:42] #619 closed

[2022-05-17 08:42] #657 closed

[2022-05-17 12:24] nesnoj opened #760 "Zenodo data bundle v0.8"
Update of [data bundle](https://zenodo.org/record/4896526).

To be added (tick if added on NC including description):
- [x] updated eMob trip data #553 @nesnoj
- [x] updated HH electricity demand profiles #735 @nesnoj

Feel free to add further datasets..

[2022-05-17 13:37] #758 closed

[2022-05-18 07:56] IlkaCu commented on #736
The updated data bundle is available: https://zenodo.org/record/6557453

[2022-05-18 11:26] #736 closed

[2022-05-18 12:25] CarlosEpia opened #763 "List of new plots for eGon-data scenarios"
In order to provide a better context of the different parameters part of our scenarios eGon2035 and eGon100RE, the idea of creating some functions to produce some plots has come out. Their main purpose is to be used in future papers and reports. Please list all plots that could be useful in this ticket, including a short description in case it is necessary.

**Generation - installed capacity**
[ ]

[2022-05-19 09:04] ClaraBuettner opened #764 "Temporary dependencies to avoid problems with duplicate ids"

[2022-05-19 09:32] nesnoj commented on #735
The daylight saving cannot be quickly removed by IEE, we gotta fix this manually in the HDF file(s).

[2022-05-19 09:43] #211 closed

[2022-05-19 09:51] nesnoj commented on #287
Any updates on the custom roles in Sphinx @gnn ?

[2022-05-19 10:00] IlkaCu opened #766 "chp_etrago.insert fails due to wrong carrier name"
chp_etrago.insert fails on dev (and most likely would do it on CI, too) due to a wrong carrier name (gas_chp instead of chp_gas)

https://github.com/openego/eGon-data/blob/dev/src/egon/data/datasets/chp_etrago.py#L115

https://github.com/openego/eGon-data/blob/dev/src/egon/data/datasets/chp_etrago.py#L245

[2022-05-19 11:04] #766 closed

[2022-05-19 13:56] IlkaCu opened #769 "Number of hvmv substations differs between egon-data runs"
We noticed that the number of hvmv substation differs between different egon-data runs. First investigations showed that this might be related to a lacking reproducibility of osmTGmod results.

[2022-05-20 06:24] khelfen opened #770 "Dependency issues with black and flask"
When installing eGon-data by running `pip install -e .[dev]` I get dependecy conflicts between `black`, `click` and `flask`. I guess in the end it comes from `apache-airflow`. To resolve this for me I have to pin `black` within the `setup.py` to version `21.12b0`.

But after installation the `pre-commit` hook for black errors out for me.

![Screenshot at 2022-05-20 08-12-38](https://user-images.gi

[2022-05-20 06:32] khelfen commented on #770
Changing the `black` `rev` within the `.pre-commit-config.yaml` to `22.3.0` resolves the `pre-commit` issue for me.

https://github.com/openego/eGon-data/blob/c8874748c33c11f3681a6be053662d1d5ad2047b/.pre-commit-config.yaml#L21-L25

[2022-05-20 06:47] khelfen commented on #770
Adding the little suggestions to change the `pre-commit` order to run `black` before `flake8`

[2022-05-20 08:40] IlkaCu opened #771 "Missing dependency for heat_etrago.bus"
It seems that a dependency for for heat_etrago.bus is missing. When running dev in SH mode on my local machine it says that relation "demand.egon_etrago_timeseries_individual_heating" does not exist

[2022-05-20 11:43] IlkaCu commented on #769
In SH mode hvmv substation creation results in 171 substation. In substation_otg.sql 7 substations get deleted, as they do not have a corresponding bus in the osmTGmod results.

[2022-05-20 16:01] nailend commented on #735
As DST change happens from 2-3am, when there is almost no significant electricity load, we will fix it just by adding the mean value at summer-time change and remove one hour at winter-time change.

[2022-05-20 16:04] nailend commented on #735
Pool size matching zensus 2011
Type | Profile | %
-- | -- | --
O2 | 100 | 0.1
O1 | 200 | 0.2
OO | 500 | 0.5
OR | 900 | 0.9
P1 | 10,000 | 10.0
P2 | 10,000 | 10.0
P3 | 5,500 | 5.5
PO | 17,000 | 17.0
PR | 11,000 | 11.0
SK | 6,400 | 6.4
SO | 24,000 | 24.0
SR | 14,400 | 14.4
**SUMME** | 100,000 | 100.00

Household types O2, O1 and OO will be merged as they are used as one category in egon-data

[2022-05-21 15:41] nailend commented on #671
**Disagregate cts:**

1. mv_grid level
2. census level
3. buildings level

1 -> 2:
- annual demand share per mv_grid (same for both scenarios)
- use demand regio annual demand at census cell level
- group by mv_grid and calc share
- cts-profiles already scaled? @nesnoj

2 -> 3:

- cells with amenities
    - <s> distribute to building by polygon-area </s>
    - distribute to building with amenity-s

[2022-05-23 08:06] nailend opened #772 "rename internal identifier for openstreetmap buildings"
We are currently using an internal identifier `id` or sometimes `building_id` for openstreetmap buildings. Reasons for this are:
- `osm_ids` go beyond the scope of buildings
- we use tags to identify certain buildings and don't use all of them
- synthetic building are created and need an unique identifier

To align the internal identifiers and keep them more manageable, I propose to change it to `

[2022-05-23 08:46] nailend commented on #772
New identifier could also be `egon_id_building`?

[2022-05-23 09:29] nesnoj commented on #772
I propose to use `building_id` as the `egon_` prefix rule only applies to table names. And as `building_id` does not exist in any original dataset it should be unambiguous. Any objections?

[2022-05-23 09:35] nailend commented on #772
Why not apply the rule to columns as well to make it more specific where the id comes from? Like in `zensus_population_id`

[2022-05-24 09:09] #452 closed

[2022-05-24 09:17] IlkaCu opened #773 "Wind-offshore capacities exceed input values"
The latest CI run showed that for scenario `eGon2035` the wind_offshore capacities for Germany exceed the input values by 148%.
Might be related to the updated osm data?!

[2022-05-25 12:11] IlkaCu opened #774 "Heavy deviations between input and output capacities for hydro carriers"
The sanity checks revealed some problems with the distribution of generator capacities. In case of reservoir and run_of_river were not distributed at all.

[2022-05-27 12:42] CarlosEpia opened #776 "fill_etrago_gen.py is not processing power plants from eGon100RE"
The script fill_etrago_gen.py must be adjusted to group also the power plants that belong to the eGo100RE scenario.

[2022-05-27 12:45] CarlosEpia commented on #773
The commits 3bc74b5440c9a779c9271fcad321c5c739d8822a and c756e53e6a2a3e26c31b623409e427e7999edd24 were created in March but are not part of dev yet. Their purpose was to create the wind offshore power plants for the eGon100RE. The data for the eGon2035 scenario was overwritten by the data of the other scenario and this created the problem. It was solved in the commit c48b3b90e8d049052432e97ef048f2

[2022-05-30 11:17] IlkaCu commented on #774
This bug might be caused by the buggy feature to integrate capacities for eGon100RE.

[2022-05-30 13:37] nesnoj commented on #769
So the problem origins in osmTGmod?

[2022-05-30 13:48] ClaraBuettner commented on #377
`emobility.motorized_individual_travel.model_timeseries.generate-model-data-eGon2035 ` failed:

[code]

[2022-05-30 14:16] AmeliaNadal opened #777 "eGon100RE H2 buses abroad are missing coordinates"

[2022-05-30 14:20] AmeliaNadal opened #778 "eGon100RE CH4 buses abroad are missing"
In eGon100RE, pes defines buses in the neighbouring countries with carrier 'gas', with 2 buses in DK and 2 buses in GB. There are the two following options:

- Use these buses
Carrier should be changed:
Aadvantage: they are already associated to other components arrising fron pes like stores.
- Copy the buses abroad from eGon2035 like in https://github.com/openego/eGon-data/pull/780

[2022-05-30 14:22] AmeliaNadal opened #779 "eGon100RE gas stores are missing"
- **In Germany**
The storage capacity of the gas grid used for CH4 storage is reduced in comparison with eGn2035 because a part of the grid is retroffited for H2. The corresponding H2 stores (grid capacity, non extendable) are missing.

- **Abroad**
The CH4 stores defined by the p-e-s run should be non extendable, e_nom should be set to the e_nom_opt value calculated by p-e-s.

[2022-05-30 14:31] nesnoj commented on #377
Thanks for reporting. Yes I'm aware of this one - there's a check whether the dir exists but as both model generation tasks often start at the very same time (+/-100ms) both "think" it doesn't exist and try to create it simultaneously... I'll fix this.

[2022-05-31 08:38] ClaraBuettner opened #781 "Deviation in input and output of heat demand"

[2022-05-31 10:11] ClaraBuettner opened #783 "Deviation of input and output data on resistive heaters"

[2022-06-01 08:11] nesnoj opened #787 "No primary key in table `openstreetmap.osm_ways_with_segments`"
Set `osm_id` as PK

[2022-06-01 09:06] fwitte opened #789 "Simplify H2 feed-in restrictions"
The H2 feed-in restrictions will be simplified within the eGon-data workflow by assigning a p_nom value, that is a fraction of the CH4 transport capacity of the connected pipelines. The modeling of H2 feed-in restrictions proposed in eTraGo (see https://github.com/openego/eTraGo/pull/392) are quite complex and there should be a more simple approach available.

[2022-06-01 09:06] fwitte opened #790 "Add simplified variant for H2 feed-in restrictions into CH4 grid"
The H2 feed-in restrictions will be simplified within the eGon-data workflow by assigning a p_nom value, that is a fraction of the CH4 transport capacity of the connected pipelines. The modeling of H2 feed-in restrictions proposed in eTraGo (see https://github.com/openego/eTraGo/pull/392) are quite complex and there should be a more simple approach available.

[2022-06-01 12:27] ClaraBuettner commented on #556
I created a new environment and installed egon-data. The packages listed in [packages_pip20_1_1.txt](https://github.com/openego/eGon-data/files/8813937/packages_pip20_1_1.txt) were installed. The output of `pip check` was:
[code]
`egon-data serve` results in this error:
[code]

I updated pip as you described above and reinstalled eGon-data. Now, the packages listed in [packages_pip22_1_2.txt](http

[2022-06-03 09:05] #382 closed

[2022-06-03 10:11] nesnoj opened #794 "Zenodo data bundle v0.9"
Update of [data bundle](https://zenodo.org/record/4896526).

To be added (tick if added on NC including description):
- [x] updated HH electricity demand profiles #735 @nesnoj

Feel free to add further datasets..

[2022-06-03 10:36] nesnoj commented on #794
raise NotImplementedError ;)

[2022-06-03 10:36] #794 closed

[2022-06-03 13:49] AmeliaNadal opened #797 "Move (and ev. modify) assign_bus_id"
The function assign_bus_id, defined there https://github.com/openego/eGon-data/blob/1f7c6e0fb14021fb9064a58a31bfaa58f9116f17/src/egon/data/datasets/ch4_prod.py#L235 should be moved at central place and eventually merged with the functions assign_bus_id and assign_gas_bus_id defined in [src/egon/data/datasets/power_plants](https://github.com/openego/eGon-data/blob/ed8ee0777c769c53a91397e1a5106d3574

[2022-06-03 14:07] IlkaCu commented on #769
I run some tests to investigate whether this problem results in osmTGmod or not. And it is the case that the osmTGmod results are not reproducible. Also in SH mode some of the resulting hvmv substations differ from run to run.

[2022-06-07 07:16] nesnoj commented on #377
The dev run looks good except for the emob part which crashed since I trusted the code style suggestions of flake8 on Friday which lead to an assertion error :(.
Fixed and restarted...

[2022-06-07 07:49] ClaraBuettner opened #798 "Missing reservoir and run_of_river power plants in eTraGo tables"
When running the current `dev`-branch (without #580), there are no reservoir and run_of_river plants in `grid.egon_etrago_generator`.
This is also reported by the sanity checks.
reservoir and run of river power plants are listed in supply.egon_power_plants, they are not transferred to the eTraGo tables.

I assume that these power plants were dropped in this merge:
https://github.com/openego/eGon-d

[2022-06-07 11:55] nesnoj commented on #377
We agreed on recreating the CI branch from dev after the current run, right?

[2022-06-07 12:02] nesnoj commented on #760
Both datasets have been updated on the server and in the description file, it's ready for release @IlkaCu
I will take care of the deposit id update.

[2022-06-07 12:17] nesnoj opened #799 "Postgres throws `FATAL: sorry, too many clients already`"
In motorized individual travel #553 I introduced parallelization in c3542f3311d686159b9f6db74cb82716dfc2938f which also leads to parallel DB queries/commits.

As reported via email postgres sometimes throws `FATAL: sorry, too many clients already`. For testing I increased the config param `max_connections` from 100 (default) to 300 and the error now occurs only rarely (and only with many other par

[2022-06-08 04:14] nesnoj opened #800 "Dependency error in `heat_etrago.buses`"
When running the current dev in testmode (same result for two separate runs on two different machines) the task `heat_etrago.buses` produces the error below. Re-running the task at a later point in time works out. Seems to be caused by a missing dependency.

[code]

[2022-06-08 04:33] nesnoj commented on #799
Now I'm getting some `psycopg2.errors.DeadlockDetected exception`s which seem to be an Airflow problem already discussed [here](https://github.com/apache/airflow/issues/19957) but not finally solved - there's an [open issue](https://github.com/apache/airflow/issues/23361) on this.

Full (exemplary) log:
[code]

[2022-06-08 07:55] ClaraBuettner commented on #800
Is this the same error reported in #771? I will fix this.

[2022-06-08 08:06] ClaraBuettner opened #801 "ModuleNotFoundError: No module named 'pytest'"
eGon-data is not running on current dev branch. Manually installing `pytest` using pip solved the problem.
@nesnoj: It seems to be caused by the e-mob branch. Could you solve this?
[code]

[2022-06-08 11:13] nesnoj commented on #801
Hey, oh I thought pytest is part of the requirements already as @gnn also makes use of it [here](https://github.com/openego/eGon-data/blob/dev/tests/test_egon-data.py#L4). I added it to skip a certain test the same way to make the testing happy.
Could you please drop a note @gnn?

[2022-06-08 11:14] nesnoj commented on #800
Yes, same same.

[2022-06-08 11:14] #800 closed

[2022-06-08 14:23] AmeliaNadal opened #803 "Non-AC buses abroad are missing coordinates in eGon100RE"
In eGon100RE, all the buses abroad with a carrier different of 'AC' ('biogas', 'gas', 'gas for industry', 'H2', 'low voltage', 'residential rural heat', 'residential rural water tanks', 'residential urban decentral heat', 'residential urban decentral water tanks', 'services rural heat', 'services rural water tanks', 'services urban decentral heat', 'services urban decentral water tanks', 'urban ce

[2022-06-09 07:17] nesnoj commented on #803
If this includes #777 and #778, you may want to close those ones?
And if this is a duplicate of #640, please close that one.

[2022-06-09 07:19] ClaraBuettner commented on #377
The dev run finished, all tasks were running successfully. I will create a backup of the grid schema. Should I backup other schemas as well?

[2022-06-09 07:21] nesnoj commented on #377
Nothing else from our side..

[2022-06-09 07:21] #778 closed

[2022-06-09 07:21] #777 closed

[2022-06-09 07:30] CarlosEpia commented on #377
Could you include also the boundaries schema, please?

[2022-06-09 09:16] nesnoj opened #804 "Grid districts' geometries differ between egon-data runs"
This also seems to occur with the same substation input dataset.
[MV grid district script](https://github.com/openego/eGon-data/blob/81d3e2675bf5c8269aeb38aaf6a15e25bccaaeed/src/egon/data/datasets/mv_grid_districts.py) needs to be checked.

Related: #769

[2022-06-09 10:15] AmeliaNadal commented on #640
Newly described in #803.

[2022-06-09 10:15] #640 closed

[2022-06-09 10:15] AmeliaNadal commented on #803
You're fully right, I've closed these 3 older issues.

[2022-06-09 17:13] gnn commented on #801
So, the place I'm using "pytest" is part of the tests. These are not actually part of the installed package, i.e. it's not code which can be reached and run by standard means if you install the package. That's why "pytest" isn't part of the requirements already. It is part of the `dev` extra requirements, though. So if you do `pip install .[dev]`, or `pip install egon-data[dev]` once the package h

[2022-06-09 17:14] gnn commented on #801
Oh and yes, we could potentially add "pytest" to the requirements. But I'd rather avoid that if possible, as our requirements are already rather heavyweight.

[2022-06-10 07:35] nesnoj commented on #801
Thanks a lot for your very extensive answer @gnn !

You got that right, I renamed the function in afb8adb1ea0f5fda41a05bf6321aa1bf69475e22 and kicked out pytest - github action tests in #588 now work out without the marker.

I don't understand what you mean by "be a link to its definition".

[2022-06-10 07:35] nesnoj commented on #377
@gnn Do we already have a new CI branch for the weekend run? I gotta merge some stuff..

[2022-06-10 07:47] nesnoj commented on #760
Do you think you can update the deposit before today's CI run @IlkaCu ?

[2022-06-10 07:50] IlkaCu commented on #760
Yes, I will tackle it now.

[2022-06-10 07:54] #801 closed

[2022-06-10 07:55] nesnoj commented on #801
I hotfixed it into `dev`

[2022-06-10 08:51] IlkaCu commented on #760
You find the new version here: https://zenodo.org/record/6630616#.YqMGEznP3aE

[2022-06-10 12:14] IlkaCu commented on #377
As discussed with @gnn, we will run the old CI branch one more time this weekend and create a fresh CI branch next week.

[2022-06-10 12:53] nesnoj commented on #377
Change of plan: @gnn will now create a new CI branch

[2022-06-10 13:37] nesnoj commented on #799
As proposed by you @gnn I'm testing with some modifications in 157e29a0d3bf72e363cbfd1ef6d0311bffb6094e.

[2022-06-10 14:05] gnn commented on #377
We do now. The new branch is called `continuous-integration/run-everything-over-the-weekend-2022-06-10`. In order to give everybody enough time to merge stuff into it, I'll start it tonight.

[2022-06-10 15:11] gnn opened #806 "Move open features to 2022-06-10 CI branch"
There's a new CI branch, called `continuous-integration/run-everything-over-the-weekend-2022-06-10`. The branch will be left at it's current name until all features which still need to be tested and are present in the old CI branch are moved to this new branch. To this end, would you please merge everything you want to have tested into the new branch and check the box next to your nick below, once

[2022-06-10 15:33] gnn commented on #377
I also announced the branch in a [news](https://redmine.iks.cs.ovgu.de/oe/news/233) and opened an [issue](https://github.com/openego/eGon-data/issues/806) to track when we can delete the old CI branch and for any other comments on it.

[2022-06-10 20:46] nesnoj commented on #377
Alright, I'm all set :rocket:

There're some PRs marked as merged into CI (#793, #782, ...) but all of them refer to the old CI I guess. As no one seem to have objections, go for it. Thanks for this nightly build :crescent_moon:

[2022-06-13 07:46] #787 closed

[2022-06-13 07:59] #735 closed

[2022-06-13 08:00] #760 closed

[2022-06-13 10:17] nesnoj commented on #377
The config of the CI run only allows for 5 parallel jobs so it will take quite long to finish the emob part. Is this on purpose? May I increase it? @gnn @ClaraBuettner

[2022-06-13 10:54] khelfen opened #807 "Missing flake8 config"
At the moment there is no config for `flake8`. Since black uses 88 characters by default and `flake8` uses 79 characters, this leads to incompatibility. The `.flake8` file should at least include:

[code]

[2022-06-13 11:02] nesnoj commented on #377
We only use about 10% of the 315G RAM so in this regard we have plenty resources left. But you may have restricted the jobs to 5 for good reasons?!

[2022-06-13 11:21] ClaraBuettner commented on #377
I did not decided to run only 5 tasks in parallel (at least I didn't intended it, it might have been the number of parallel jobs I just in the first runs on the server and it was working).
Are these 10% the maximum needed RAM or the current usage? I assume there are some tasks which need more RAM, like the heat demand timeseries, osmTGmod or pypsa-eur-sec.

[2022-06-13 11:48] nesnoj commented on #377
ok

I don't know, but I just ran DE with 32 jobs on a machine with 256G RAM and it worked out well. But it also depends if there's other stuff running on the Server in parallel (e.g. other instances etc.) - is that the case?

If there're no objections I would like to reconfigure the run..

[2022-06-13 12:00] ClaraBuettner commented on #604
There is still no new release of pypsa-eur-sec and the repository doesn't indicate that there will be one soon. So I would tend to not wait any longer and use the version referenced in this branch. Are there any objections?

[2022-06-13 12:27] ClaraBuettner commented on #377
We don't run something in parallel, but other departments of the university have access to the server ans sometimes use it. As far as I know they don't need that many resources and would inform us if they need more, but I don't know about exact numbers.

[2022-06-13 13:47] ClaraBuettner commented on #764
Included in #795 (https://github.com/openego/eGon-data/pull/795/commits/a0d3db3ae6e28e9144b0b7a431b48ff91dedd603)

[2022-06-13 13:47] #764 closed

[2022-06-14 08:15] khelfen commented on #807
@gnn I have created a proposal and opened a PR. See #810

[2022-06-14 11:32] khelfen opened #812 "Duplicate key values in get_annual_household_el_demand_cells"
Running the current `dev` for SH gives me the following duplicate key value error. Any idea why this could happen?

[code]

[2022-06-15 07:15] ClaraBuettner commented on #812
I don't have any ideas why this could happen by now. Besides, I didn't implement the current version of this function, I think it was done by @nailend

[2022-06-15 15:34] nailend commented on #812
I had a look at the code. From my understanding, it should only happen if the function "get_annual_household_el_demand_cells" runs twice as the result is appended to the table if existing. Will have to check it next week.

[2022-06-20 07:07] nesnoj commented on #377
The task `heat_demand_timeseries.HTS.demand-profile-generator` has been running in the CI for more than 24h.
usually, it takes 10-15h to finish. Also, there's some CRS mismatch, see log.
@ClaraBuettner Could you please have a look?

PS: I don't think this is related to the new el. profile pool as it ran successfully on other 2 DE instances. (it reported the same CRS mismatch though)

[2022-06-20 11:01] ClaraBuettner commented on #377
I did some change there, but at least in test mode the execution time was reduced by 50%, I just checked it again. I try to solve it or undo my changes.

[2022-06-20 12:50] AmeliaNadal opened #813 "Cross border gas pipeline without bus in AT"

[2022-06-21 11:00] ClaraBuettner opened #815 "Timeseries for foreign generators have only 2920 values"
Due to the 3-hourly-resolution of the current pypsa-eur-sec run, the copied timeseries for foreign generators have only 2920 entries.
As long as there is no hourly data from pypsa-eur-sec, the data should be copied for the in between hours before writing into the eTraGo tables.