[2022-06-22 10:46] nesnoj opened #816 "Add error handling and retry to `session_scope()`"
In 157e29a0d3bf72e363cbfd1ef6d0311bffb6094e a temporary error handling was built into `check_db_unique_violation()` now covering `UniqueViolation` (`IntegrityError`), `DeadlockDetected` (`OperationalError`) with a retry functionality.

The "Too many clients already" #799 is not covered yet but could be. Alternatively, we could increase `max_connections()`.

`check_db_unique_violation()` was not me

[2022-06-22 11:16] #553 closed

[2022-06-22 13:26] ClaraBuettner opened #817 "eGon100RE: Add industrial electricity demand due to electrification"
pypsa-eur-sec includes additional electricity demand for the industry caused by the electrification of process heat.
These demands need to be included in eGon-data.
The easiest option would be to increase the overall industrial electricity demand here:
https://github.com/openego/eGon-data/blob/ad6494245c258b5c595c85302770c0a1c03c936d/src/egon/data/datasets/demandregio/__init__.py#L513-L521
But new

[2022-06-22 13:49] #783 closed

[2022-06-22 13:54] IlkaCu opened #818 "Sanity checks revealed deviations of capacities for oil and other_non_renewable"
eGon2035 in Germany mode:
oil: -59,89 %
other_non_renewable: 20,4 %

[2022-06-22 13:55] IlkaCu opened #819 "Capacities for other_renewable need to be distributed"
...in eGon2035

[2022-06-22 17:48] nesnoj opened #820 "Add sanity checks for eMob MIT"
For each scenario:

Cumulative
- [x] total EV count
- [x] total annual driving demand
- [x] total annual charging demand
- [x] max. charging capacity
- [x] total charging energy (= driving energy + delta soc)
- [x] Check noflex scenario

Timeseries
- [x] store: soc min <= soc_max
- [x] lengths of ts in all eTraGo tables

[2022-06-23 09:25] nesnoj opened #821 "Add noflex scenario for eMob MIT"
Current structure with flex:
[code]

Noflex:
[code]

[2022-06-23 09:31] nesnoj opened #822 "Create lowflex scenario"
We discussed an (eTraGo) no-flex scenario several times in the past. Today, we agreed on creating it.
The main question is how to integrate it into the pipeline while keeping the time expenditure low. The cleanest way seems to be new scenario names such as `eGon2035_noflex`. We estimated that changing all steps that write into the `grid.egon_etrago_*` tables is too time-consuming do we decided to

[2022-06-24 10:50] nesnoj commented on #377
Some questions on today's CI run:
- As there's no new CI, do we use `continuous-integration/run-everything-over-the-weekend-2022-06-10`? (at least there were recent pushes..)
- @gnn Will you take care of the CI ignition despite your holidays?

[2022-06-27 06:59] nesnoj commented on #377
I started the run on Friday. The tasks `DSM_cts_ind.dsm-cts-ind-processing` and `district_heating_areas.demarcation` failed @ClaraBuettner

[2022-06-27 07:33] ClaraBuettner commented on #377
Thanks for notifying. Both tasks have not been changed in the last week. But there was a `geopandas` release on 20th of June, and the newest version was installed in our environment. The changelog of `geopandas 0.11.0` (https://geopandas.org/en/stable/docs/changelog.html) includes deprecations which have caused these errors.
I could try to fix them as soon as possible, but since `geopandas` is use

[2022-06-27 07:50] nesnoj commented on #377
During the last months, I encountered quite some usages of deprecated functions - yes, this will happen again..
And yes, we could lower the geopandas version for this run but then how can we see what other tasks are affected? Does someone wants to go through all the logs searching for deprecation warnings?
Maybe we use this run to upgrade all affected tasks, even if it won't run completely until F

[2022-06-28 04:51] nesnoj commented on #377
Once again: `psycopg2.errors.UniqueViolation: duplicate key value violates unique constraint "egon_etrago_link_pkey"`. I had to clear
- `hydrogen_etrago.h2_to_ch4.insert-h2-to-ch4-to-h2`
- `industrial_gas_demand.insert-industrial-gas-demand-egon2035`

Both make use of `db.engine()` which is problematic for several reasons. If switched to `db.session_scope()` we had the possibility of retrying #816

[2022-06-29 09:58] nesnoj commented on #377
Decisions:
- We agreed on keeping the current name of the CI branch (`continuous-integration/run-everything-over-the-weekend-2022-06-10`) with date as version number
- New CI branches will be created from scratch on demand
- Always use the CI branch with the latest version number

[2022-06-29 10:13] ClaraBuettner commented on #660
@nesnoj: The demand time series for electricity and heat are are stired in egon-data in the branch related to this PR https://github.com/openego/eGon-data/pull/647
The data is used in pypsa-eur-sec here: https://github.com/openego/pypsa-eur-sec/pull/9
I will merge both branches soon and integrate this issue.

[2022-06-29 13:27] #812 closed

[2022-06-30 05:23] fwitte commented on #377
Thank you for the info!

[2022-06-30 07:09] nesnoj commented on #822
@AmeliaNadal @fwitte I kindly ask you to add your flex above.

[2022-06-30 09:25] nesnoj commented on #816
@gnn As agreed yesterday, the floor is all yours! :)

[2022-06-30 10:14] khelfen opened #824 "Inconsistent component column in supply.egon_scenario_capacities"
The naming of components between the scenarios `eGon2035` and `eGon100RE` within the table `supply.egon_scenario_capacities` is not consistent at the moment.

In scenario eGon100RE all components strings are written in plural and in scenario eGon2035 in singular. E.g. `generator` vs. `generators`.

![image](https://user-images.githubusercontent.com/46815982/176652470-a23c02dd-4510-4d97-b8a2-d6d369

[2022-07-01 12:40] nailend opened #827 "Misinterpretated data type from db in Query"
I am running into some weird problems. Some SQL Queries in `zensus_vg250` fail stating the same error message.
The problems seems to be that some columns which were defined as `int` are wrongly detected as `string`.
This happened [here](https://github.com/openego/eGon-data/blob/62a045764a7f56f5ca13d2e3659fd57d5005c5ad/src/egon/data/datasets/zensus_vg250.py#L312-L319)
[code]

And also happend [here

[2022-07-01 12:59] nesnoj commented on #377
The task `power_plants.pv_rooftop_buildings.pv-rooftop-to-buildings` #809 has been running for 72h, don't hesitate to kill everything for tonight's run @gnn.

@khelfen has introduced some checks to track down the reasons for the poor performance. But if the task takes that long again, the rest of the pipeline won't be finished until next Friday. @khelfen have you already done something on the perf

[2022-07-01 13:02] #827 closed

[2022-07-05 11:52] khelfen commented on #377
By making simple adjustments, I was able to halve the computing time. I have not yet undertaken more complex refactorings.

[2022-07-05 12:33] IlkaCu commented on #377
This was me. I can tackle this tomorrow.

[2022-07-05 12:54] fwitte commented on #377
I will make a dependency in the pipeline to prevent this in the future.

[2022-07-05 21:07] nesnoj commented on #806
I'd say, not responding for 25 days is definitely a yes.

[2022-07-06 10:00] #89 closed

[2022-07-06 10:01] ClaraBuettner commented on #16
This implementation would require some manual work, since data from the newest NEP should be integrated. I'm not sure if we will do this in eGon, it is maybe a nice-to-have feature.

[2022-07-06 10:17] ClaraBuettner opened #829 "Issues with new geopandas version"
The most recent version 0.11.0 of geopandas leads to errors in some tasks (https://geopandas.org/en/stable/docs/changelog.html), as already discussed in https://github.com/openego/eGon-data/issues/377#issuecomment-1167006583 .
Until now, we know that `DSM_cts_ind `and `district_heating_areas` need to be updated. But `geopandas` is used in many datasets, so there might be additional datasets which

[2022-07-07 07:02] nesnoj opened #830 "eMob MIT load timeseries"
Charging load is used instead of driving load

[2022-07-07 08:53] nesnoj commented on #830
@ClaraBuettner Due to this annoying bug, the backup file from June which was considered stable is now kinda useless as the eTraGo run is likely to fail :roll_eyes:

[2022-07-07 09:41] nesnoj commented on #822
I propose the following scenario names:

eGon2035: `eGon2035_noflex`
eGon100RE: `eGon100RE_noflex`

(which I will now use for the eMob part)

In case we will have more variations in different sectors, a more sophisticated name (e.g. [as in p-e-s](https://github.com/openego/pypsa-eur-sec/blob/40cd0447f73a605c71b39576430739bbfb595667/config.yaml#L18)) could be helpful.

[2022-07-08 12:02] nesnoj opened #834 "Missing dependency in `heat_demand_timeseries.HTS.demand-profile-generator`"
era5 is missing in dependencies.
This was supposed to be solved in #725 but apparently missed.

Full log:
[code]

[2022-07-08 18:22] #830 closed

[2022-07-08 18:25] nesnoj commented on #806
C'mon @IlkaCu, tick it so we can get rid of the branch ;)

[2022-07-10 00:53] nesnoj commented on #821
@ClaraBuettner
The emob MIT part ran successfully in SH mode (CI run running), and the components in the eTraGo tables look as in the first post above.

[2022-07-11 09:52] ClaraBuettner commented on #177
There is a table to store scenario parameters, so I will close this issue.

[2022-07-11 09:52] #177 closed

[2022-07-11 09:54] #748 closed

[2022-07-11 14:33] ClaraBuettner commented on #834
This bug was introduced by #402 which was only merged into CI and not into dev yet. I fixed the problem in d2002d90510af16a3e6ce4d95562e08306eadeae.

[2022-07-11 14:33] #834 closed

[2022-07-12 07:09] #790 closed

[2022-07-12 08:43] AmeliaNadal commented on #521
Without real explanation, this task is not failing anymore in Oldenburg.

[2022-07-12 08:43] #521 closed

[2022-07-12 09:22] #687 closed

[2022-07-12 14:03] nesnoj opened #836 "Inject eMob MIT timeseries into pypsa-eur-sec workflow"
### Tasks

- Similar to #647, make p-e-s use the eMob data from eGon-data.
- Check, if #660 is required for this.
- Use data from `eGon100RE` and `eGon100RE_noflex` scenarios (the latter requires merge of #832).
- If CSV files are usd, they may be exported to `<working_dir>/emobility/` (in the bast case a subdir is created)

The following p-e-s components/vars are relevant, the data can be obtaine

[2022-07-12 14:52] nesnoj commented on #377
`power_plants.pv_rooftop_buildings.pv-rooftop-to-buildings` is now running for 23h and shows only 13 % completion. We either need an incredible speedup @khelfen or we have to rearrange the tasks in a way that the downstream dependency tree gets smaller (e.g. temporarily move this task to a separate dataset with no dependencies)

[2022-07-13 10:51] ClaraBuettner commented on #377
The most recent CI-data base we can currently use for eTraGo calculations is already 4 weeks old, the runs in between never finished because of different tasks. But since several bug were fixed for our eGon2035-model we would like to have a new dataset  for eTraGo.
Looking at the current status, the run started last week will also not finish until Friday.
Besides, some features which update datase

[2022-07-13 15:05] #402 closed

[2022-07-13 15:05] #604 closed

[2022-07-14 11:30] AmeliaNadal opened #838 "electricity_demand_timeseries.hh_buildings.map-houseprofiles-to-buildings is failing in Oldenburg"
The task electricity_demand_timeseries.hh_buildings.map-houseprofiles-to-buildings is failing in Oldenburg with the following error message:
[code]

There is probably a problem in the default setting of the SRID when the code in run without docker container, which could also be the source of the issue https://github.com/openego/eGon-data/issues/488.

[2022-07-14 21:47] gnn opened #839 "The weekend run might not get started this weekend"
During this week a task got added which takes a pretty long time. Together with the fact that there already is a task present which takes a very long time, the weekend run does not finish during the course of one week. Since this means that the run didn't fully finish for a few weeks now, we thought that it would be a good idea to not stop the run and start it anew this Friday in order to let new

[2022-07-15 08:42] AmeliaNadal commented on #838
Because of the two new dependencies of the task PypsaEurSec:

https://github.com/openego/eGon-data/blob/8c1355bf03079b1471a9270823e2141342dc08d2/src/egon/data/airflow/dags/pipeline.py#L328-L329

we cannot test our (gas related) tasks, which make this issue kind of urgent.

[2022-07-19 16:15] nailend commented on #838
Did you try to clear the task already? Sometimes the DB just bugs with the SRID.

The error message doesn't really make sense as the table is created at this point and the SRIDs are definied `3035` for both [db-table](https://github.com/openego/eGon-data/blob/8c1355bf03079b1471a9270823e2141342dc08d2/src/egon/data/datasets/electricity_demand_timeseries/hh_buildings.py#L155) as well as Geodataframe

[2022-07-19 16:25] nailend commented on #671
First implementation is running in SH. Current issues are:
- missing information on educated-guess for cells without information on amenities or buildings
- currently using 1 building per cell and 1 amenity per building as first implementation
- there are duplicated building ids, resulting from SQL scripts. These are adhoc dropped as I couldn't find the source.

[2022-07-19 16:37] nailend commented on #671
|                                          | cells | buildings | amenities |
|------------------------------------------|-------|-----------|-----------|
| df_buildings_with_amenities              |  2716 |    6510   |    9826   |
| df_buildings_without_amenities           |  8370 |    8370   |    8370   |
| df_synthetic_buildings_with_amenities    |  517  |    654    |    654    |
| df_synthetic_

[2022-07-19 17:07] nailend opened #842 "dependency error afer fresh egon-data install"
I got the following error after doing a fresh install of the dev on a linux-server. Couldn't start airflow as well

[code]
After merging #811

[code]

[code]

[2022-07-19 20:34] nailend commented on #671
![newplot(1)](https://user-images.githubusercontent.com/51374526/179843218-efb45e04-8103-411f-bcf9-3227250d8584.png)

[2022-07-20 09:44] AmeliaNadal commented on #838
The issue occurs even with cleaning and on clean runs.

This is probably not a postGIS version problem because the versions we use (PostgreSQL 12.3 and POSTGIS=3.0.1) are newer as the one mentionned in the issue you've found. @gnn thinks more that there could be a problem in the code: data that do not have SRID.
However, @nailend it will be difficult for you to solve this if you cannot reproduce t

[2022-07-20 10:08] AmeliaNadal commented on #838
To prevent the same error to occur, we make use of the following SQL function

https://github.com/openego/eGon-data/blob/08962a73f84504c9d104752e7e8fe46d62fbcd5d/src/egon/data/datasets/gas_grid.py#L666

in order to integrate some gas related links.

[2022-07-21 08:50] AmeliaNadal commented on #822
The links with carriers 'H2_feedin' and 'H2_to_power' (not only the ones connected to H2_saltcavern buses) could also be removed in order to limit the electricity-H2 flexibility. However, it is contra intuitive that the system build these components. Therefore we would remove them only if we state that the optimization build them largely.

[2022-07-21 13:52] nailend commented on #842
solved after upgrading pip and using bash instead of zshell...

[2022-07-21 13:52] #842 closed

[2022-07-22 14:52] nesnoj commented on #377
The run is still ongoing and will probably finish this weekend. As it contains some new eMob data we will wait for completion.

I'll backup the eTraGo tables afterwards @ClaraBuettner and @gnn will start the new run.

[2022-07-26 08:31] AmeliaNadal opened #844 "Create biogas generators for eGon100RE"
In eGon100RE, biogas generators are modelled as follow PyPSA generators with carrier 'CH4'.

**In Germany**
- Total potential comes from the p-e-s run (written in [parameters.py](https://github.com/openego/eGon-data/blob/dev/src/egon/data/datasets/scenario_parameters/parameters.py) and later used as constraint in eTraGo)
- Localisation and repartition as the biogas generators in eGon2035

**Abroad

[2022-07-26 11:41] nailend opened #845 "Add mapping zensus - weather cells"
This mapping will be frequently used in edisgo for heatpump integration and local cop times eries.

I will add the code to there the time series actually is generated
`src/egon/data/datasets/renewable_feedin.py`

[2022-07-27 06:44] #803 closed

[2022-07-27 08:05] #797 closed

[2022-07-27 15:00] AmeliaNadal opened #847 "Technology gas costs are incorrect for eGon100RE"

[2022-07-28 13:14] ClaraBuettner opened #849 "Missing import in storages.pumped_hydro"
The task storages.allocate-pumped-hydro-eGon2035 failed in the current CI-run:

[code]
I had a look at the recent changes, it looks like https://github.com/openego/eGon-data/commit/f94f918d684cbaf1d9ad1da5b7d985cd3bd82383 created this problem. I manually undid this change in the current CI run and the task run successfully.
@AmeliaNadal: These changes seem to be already in the dev-branch. Do you k

[2022-07-28 13:43] #781 closed

[2022-07-28 13:51] #817 closed

[2022-07-28 14:11] #849 closed

[2022-07-28 14:21] ClaraBuettner opened #851 "Integrate CHP distribution for eGon100RE"
In eGon100RE we only have urban central gas CHPs.
They need to be desaggregated using similar methods then the ones integrated for eGon2035.

[2022-07-28 14:23] ClaraBuettner opened #852 "Add extendable batteries only at substations"
Currently there are extendable batteries at every AC node in Germany which is not necessary. To reduce the complexity, they should be only added to all substation-buses.

[2022-08-01 07:31] ClaraBuettner opened #856 "Conflicting ids in osmtgmod_substation"
When the substation dataset was skipped because of versioning but osmtgmod was executed, the task `osmtgmod.osmtgmod_substation` fails because of conflicting ids:

[code]
It might be related to #769
We could solve it by using different tables for the results from the substation and the osmtgmod-substation dataset.

This problem occured during the latest CI-run. I will add a `.dev `to the version n

[2022-08-01 08:04] ClaraBuettner commented on #856
I would suggest to rename the output tables from the substation dataset to `grid.egon_ehv_transfer_buses` and `grid.egon_hvmv_transfer_buses`. The substation tables (e.g. `grid.egon_ehv_substation`) would be created in `osmtgmod.osmtgmod_substation` based on the transfer buses tables.
This would mean that we have two additional tables with somehow redundant data. But since these are only smaller t

[2022-08-01 10:00] #798 closed

[2022-08-01 13:13] ClaraBuettner opened #857 "Store intermediate results of heat demand timeseries"
It should be possible to extract final heat demand timeseries per building using only table in the database. Currenty, weather data and some functions from eGon-data (e.g. for the h-values) are needed to do this.
In order to be able to extract the data only from the database, we need some additional tables.
It could be done like this:

table 1: map_census_climate_zones:

| zensus_population_id | c

[2022-08-01 14:41] nailend commented on #806
Which one is the current CI branch used? I am a bit lost. This one?

[2022-08-01 14:45] ClaraBuettner commented on #806
Yes, the current CI-branch is still the one called `continuous-integration/run-everything-over-the-weekend-2022-06-10`

[2022-08-02 07:18] ClaraBuettner opened #858 "Fix running eGon-data using versioning"
The current CI-run (not a 'clean run' but using versioning) has uncovered some issues with the versioning:

- the mv grid ids are used as a foreign key, so we need to drop the table using "DROP CASCADE"
- all buses have to be deleted from the etrago bus table before the results from osmtgmod are inserted

[2022-08-02 11:47] ClaraBuettner opened #861 "eGon100RE: Distribute solar rooftop capacities to MV grid dsitricts"

[2022-08-03 10:28] fwitte opened #863 "Check OCGT capacities for eGon2035"
The ocgt capacities are electrical values and read from the database as p_nom. p0 (therefore also p_nom) referes to gas input, which would be incorrect.

https://github.com/openego/eGon-data/blob/eac8f2ee3d04abeca79e43539c0705cf9e99b8d2/src/egon/data/datasets/power_etrago/match_ocgt.py#L88-L91

Should be fixed until next over-the-weekend-run!

[2022-08-03 14:14] AmeliaNadal opened #864 "Create sanity checks for gas sector for eGon2035"
Create gas sector sanity checks for eGon2035:

In Germany:

- [x] Loads
- [x] Generators
- [x] Stores
- [x] Buses
- [x] Links

Abroad:
- [x] Loads
- [x] Generators
- [x] Stores
- [x] Buses
- [x] Links

[2022-08-04 06:39] #847 closed

[2022-08-05 12:31] nailend opened #865 "district_heating_areas.demarcation is failing at RLI"
Hello like-minded, I am running into an error in `district_heating_areas.demarcation`. My branch is up-to-date with dev.

[code]

It's happening [here](https://github.com/openego/eGon-data/blob/d9a34a922980a50c7752e74629626a266e28b63f/src/egon/data/datasets/district_heating_areas/__init__.py#L599) but I dont really understand where its coming from. Anyone experiencing the same problem? The code ap

[2022-08-05 13:08] nailend commented on #865
As aadhoc fix I just commented this part as non off the actions have an effect anyways (inplace=False)

[2022-08-08 07:11] ClaraBuettner commented on #865
This problem might be caused by the newest geopandas version (see #829). Could you try to install `geopandas==0.10.2` ?

[2022-08-10 07:30] #852 closed

[2022-08-10 11:34] IlkaCu opened #866 "Zenodo data bundle v0.9 - 2nd attempt"
Update of [data bundle](https://zenodo.org/record/4896526).

To be added (tick if added on NC including description):
- [x] updated p-e-s results
- [x] updated data from Netzentwicklungsplan (include batteries)

Feel free to add further datasets until Thursday noon.

[2022-08-11 12:06] #861 closed

[2022-08-12 07:25] khelfen commented on #770
@gnn Any update here?

[2022-08-12 07:25] khelfen commented on #807
@gnn Any update here?

[2022-08-17 13:08] CarlosEpia opened #868 "Create wind_offshore generators for the eGon100RE scenario"
Wind_offshore generators must be created for the scenario eGon100RE. The wind farms given by NEP are used and then escalated to match the scenario capacity in the table supply.egon_scenario_capacities.

[2022-08-17 16:11] AmeliaNadal commented on #865
This solved the problem for me :)

[2022-08-18 13:05] IlkaCu commented on #377
Task `gas_areas.voronoi-egon2035` failed with the following error message on the server
[code]
We deleted all entries from table `grid.egon_gas_voronoi` to be able to continue.
@AmeliaNadal: Please make sure to fix this bug in the code by adding a suitable delete statement.

[2022-08-19 05:37] #789 closed

[2022-08-19 05:38] #492 closed

[2022-08-19 05:38] #473 closed

[2022-08-19 05:41] fwitte commented on #471
@gnn: Should we just write this down this information somewhere in the docu? Or may we want to rewrite the `to_postgis` in order to lower case the table name before writing to the db? If neither of both, I'll close this.

[2022-08-19 05:42] #537 closed

[2022-08-19 05:43] fwitte commented on #754
We found, that this does not work easily, since there are relations that also have to be changed. Therefore sticking with copy and closing here for now.

[2022-08-19 05:43] #754 closed

[2022-08-19 05:48] fwitte opened #871 "Use own load buses for gas loads instead directly attaching them to grid"
Since all gas loads (H2 and CH4) are on NUTS3 level, we cannot really say, where the gas load is. To make desaggregation easier after optimization and to make clearer what the data model actually represents, for every load an own bus will be created per NUTS3.

Then for H2 and CH4 the load bus will be connected to

- all grid buses inside that NUTS3
- the nearest H2 or CH4 grid bus outside of the

[2022-08-19 06:09] fwitte commented on #377
@IlkaCu, that is weird, thank you for reporting. This was not a clean run, right?

@AmeliaNadal: There is a drop statement actually, so maybe something is wrong with that.

https://github.com/openego/eGon-data/blob/2b71c2f573f03fda85b0991c27c98717d7d9fc4f/src/egon/data/datasets/gas_areas.py#L68-L73

Since it deletes by `carrier` and `scn_name`, it looks like the same `bus_id` was added for two dif

[2022-08-19 08:14] nesnoj commented on #865
Has this solved the problem for you too @nailend ?

[2022-08-19 08:29] nesnoj opened #872 "Task `hvmv_substation` fails due to missing table"
2 clean runs of `continuous-integration/run-everything-over-the-weekend-2022-06-10` (head: 740f279f4bc457666bd568780382b35768661fb9) for DE lead to the same error:

[code]
Apparently, you did some renaming/changed import of the HV/MV substation table in #860.
The table should have been created in [osmtgmod substation](https://github.com/openego/eGon-data/blob/b6afe88eaa8d7a0cb7538a896945e491f4d5f3

[2022-08-19 08:32] nesnoj commented on #872
BTW, `grid.egon_ehv_substation` is not created either

[2022-08-19 08:33] ClaraBuettner commented on #872
Sorry, I forgot to change the table name in two lines of the hvmv-substation script, this should be fixed in https://github.com/openego/eGon-data/pull/860/commits/b2376c2c061d750f05d0b0cf00239d5cd28c4edb.

[2022-08-19 08:35] ClaraBuettner commented on #872
These tables are now created in the osmtgmod dataset. The substation-dataset creates and fills the `grid.egon_hvmv_transfer_buses` and `grid.egon_ehv_transfer_buses` tables. Before these changes, the tables were filled in one dataset and updated by another one which resulted into problems when one of them was skipped due to versioning.

[2022-08-19 08:42] nesnoj commented on #872
Thanks for the quick fix, I'll give it another try

[2022-08-19 09:17] nesnoj commented on #872
Seems to work out

[2022-08-19 09:43] CarlosEpia opened #873 "Different offshore capacities for eGon2035"
To create the offshore wind farms for the eGon2035 scenario, the data in the file data_bundle_egon_data/nep2035_version2021/NEP2035_V2021_scnC2035.xlsx is used. The sum of all the capacities in that file is 34019 MW, but the total capacity mentioned in eGon-data (supply.egon_scenario_capacities) is 34000 MW.

To avoid this small difference, it is proposed to use the value from NEP2035_V2021_scnC20

[2022-08-22 08:31] nesnoj commented on #377
@khelfen The PV rooftop distribution was successful (16h) but the sanity checks failed:
[code]

[2022-08-22 09:01] IlkaCu commented on #871
I just stumbled over this issue. Is it an idea or are you already sure you want and need to implement it like this?
I would suggest to discuss it in one of our next meetings, as this would require some changes in the modeling concept and egon-data.

[2022-08-22 10:23] fwitte commented on #871
I did not yet start to implement it, but I do think some of the decisions made earlier in the project (by me) were unreasonable or based on assumptions, which I later learned were incorrect. And it would also compliment with the integration of the H2 loads for mobility @khelfen will start to work on (do you?). I can join you on Wednesday.

[2022-08-23 07:10] ClaraBuettner opened #874 "Isolated transformers in eHV grid"
There are some isolated transformers / eHV buses in the eHV grid which should be deleted to avoid problems in the grid optimization and clustering.

[2022-08-23 08:05] ClaraBuettner opened #876 "CI branch not starting airflow"
I can not start airflow using the current CI branch anymore. It looks like the problem is caused by merging #826:

[code]

[2022-08-23 08:17] ClaraBuettner commented on #377
The latest CI-run finished today in the morning.
@gnn We would like to merge some branches for the next run. We can either start the next run or inform you as soon as we are done with merging, as you prefer.

Besides, #876 has to be fixed before starting the next run.

[2022-08-23 09:03] AmeliaNadal opened #877 "Some gas technologies from p-e-s should not be extendable"
Some gas related links from p-e-s do have `p_nom_extendable = True` which shouldn't be the case:

- H2_retrofit
- CH4
- biogas_to_gas

[2022-08-23 09:19] nesnoj commented on #876
Fixed in 30948e8 and merged into CI

[2022-08-23 09:22] nesnoj commented on #377
Done

[2022-08-23 10:49] #876 closed

[2022-08-23 11:39] khelfen commented on #377
Hmm yes, the total allocated capacity seems to be 5 GW lower than the desired scenario value. I'll have to check that out.

[2022-08-23 16:40] nesnoj opened #878 "Delete eMob MIT data from eTraGo tables on init"
To allow for re-run/clearing MIT task, first the data from eTraGo tables needs to be deleted from the PF tables.

[2022-08-23 19:34] #821 closed

[2022-08-24 06:40] nesnoj commented on #872
Now I'm getting `psycopg2.errors.UndefinedTable: table "egon_mv_grid_district" does not exist` in the task `mv_grid_districts.define-mv-grid-districts` (HEAD: 5e0ab3b2c0dae33c51172fde282602eda13a2443).

It is raised in [this line](https://github.com/openego/eGon-data/blob/9651a39ed1123d6fd104d221c059b6f4469c15d3/src/egon/data/datasets/mv_grid_districts.py#L567-L571). @ClaraBuettner you added this

[2022-08-24 06:49] nesnoj commented on #872
After removing [those lines](https://github.com/openego/eGon-data/blob/9651a39ed1123d6fd104d221c059b6f4469c15d3/src/egon/data/datasets/mv_grid_districts.py#L567-L571) the task finishes successfully

[2022-08-24 07:02] nesnoj commented on #377
Please do not trigger the next run before our today's weekly

[2022-08-24 07:18] ClaraBuettner commented on #872
I changed this in #859. Dropping without `CASCADE` resulted into problems because the eMobility-dataset has a ForeignKey to the mv grids.
I can add `IF EXISTS` to the drop statement.

[2022-08-24 07:36] nesnoj commented on #872
I see, yes that would be nice if you added `IF EXISTS`.

And could you please delete the [ORM drop statement](https://github.com/openego/eGon-data/blob/9651a39ed1123d6fd104d221c059b6f4469c15d3/src/egon/data/datasets/mv_grid_districts.py#L572) then?

PS: It would be also possible to keep the ORM statement and define the cascade in the foreign key relationship but I had troubles in the past and don'

[2022-08-24 09:43] nesnoj commented on #806
As agreed on today, I deleted the old CI branches
- `continuous-integration/run-everything-over-the-weekend`
- `continuous-integration/run-everything-over-the-weekend-v2`

[2022-08-24 09:43] #806 closed

[2022-08-24 09:57] IlkaCu commented on #866
Our zenodo record exceeded the 50 GB limit. As an interim solution I created a zenodo sandbox record for version 0.9: https://sandbox.zenodo.org/record/1095882#.YwX1jGHP0UE

[2022-08-24 10:20] #575 closed

[2022-08-24 10:36] nailend commented on #865
I guess so but had it fixed, this way already

[2022-08-24 10:36] #865 closed

[2022-08-24 11:31] khelfen commented on #871
@fwitte for now I only implemented the part that determines the H2 demand from HGV traffic per NUTS3 region. Next would be to map the demand to H2 buses like you said. Did you already start with making your changes? Should we have a call?

[2022-08-24 11:50] ClaraBuettner commented on #872
Done in 8cab0bf32ecf852265fefd802e467298e0498de9

[2022-08-24 11:59] nesnoj commented on #872
thx

[2022-08-24 12:00] nesnoj commented on #872
Just a sec, you also dropped `MvGridDistricts.__table__.create(bind=engine)`, please keep this ;)

[2022-08-24 12:33] ClaraBuettner commented on #872
Sorry for my confusion, I fixed it again...

[2022-08-24 12:38] fwitte commented on #871
I did not, we can talk tomorrow, if you have time.

[2022-08-24 13:12] #872 closed

[2022-08-24 13:45] AmeliaNadal opened #881 "Cross bordering pipelines with Germany in eGon100RE"
Cross bordering pipelines (for H2 and CH4 transport) with Germany in eGon100RE are missing.

[2022-08-24 15:04] IlkaCu commented on #377
I am done with merging new features into CI

[2022-08-24 15:19] nesnoj commented on #839
Accepted! ;)

[2022-08-24 15:19] #839 closed

[2022-08-24 15:24] nesnoj opened #882 "Parallelize sanity checks"
As there are more checks to come and some of them may take a while (e.g. PV rooftop in current CI run), let's parallelize the tasks!

[2022-08-25 07:45] IlkaCu commented on #749
Installed capacity for pv home batteries according to NEP C2035: 16,8 GW. Number can be found here: `NEP2035_V2021_scnC2035.xlsx`

[2022-08-25 09:59] IlkaCu opened #886 "Sanity checks reveal significant deviations on CI"
Current (2022-08-19) sanity checks on CI (executed with versioning), revealed significant deviations for several carriers:

other_non_renewable: 35.34 %
other_renewable: 1120.94 %
reservoir: 13021.58 %
run_of_river: 8.44 %
oil: 1.21 %
wind_onshore: 60.75 %
wind_offshore: 23.02 %
solar: 120.84 %
solar_rooftop: 23.31 %
biomass: 0.0 %

[2022-08-25 11:06] ClaraBuettner opened #887 "Missing parameters in eTraGo tables"
Some parameters need to be set in eTraGo which should be solved in egon-data:

- buses.v_mag_pu_set is NaN (could be solved by adding a default value)
- storage_units with the same carrier have different lifetimes (could be caused by foreign countries)
- lines with the same carrier have different lifetimes (could be caused by foreign countries)
- transformers with the same carrier have different l

[2022-08-25 12:25] IlkaCu opened #888 "Class definition for grid.egon_gas_voronoi in etrago_setup"
Table `grid.egon_gas_voronoi` is defined and created within the `etrago_setup` task. As this is no direct input for eTraGo (as far as I know) I would ask you to move it to the dataset where the table gets filled.

https://github.com/openego/eGon-data/blob/dev/src/egon/data/datasets/etrago_setup.py#L394-L401

[2022-08-26 07:02] AmeliaNadal commented on #377
I am also done with merging new features into CI for this week.

[2022-08-26 07:09] nesnoj commented on #377
I still have to finish some stuff.
@IlkaCu this have to be solved first: https://github.com/openego/eGon-data/pull/884#issuecomment-1227457456
This also affects gas-related tasks.

[2022-08-26 08:15] IlkaCu commented on #886
The delete statements implemented [here](https://github.com/openego/eGon-data/blob/2facea2769902a4309c6c87213d3762e0dca6d86/src/egon/data/datasets/fill_etrago_gen.py#L261-L283) is not robust enough to work properly when bus ids changed between different runs.

[2022-08-26 08:21] nesnoj opened #892 "Task `fix_ehv_subnetworks.run` fails in DE versioning run"
After retriggering for DE (last version, HEAD: 9cb41bcab935819f6d180b069ccbed4e80dc3188) `fix_ehv_subnetworks.run` fails (clean run was successful before):
[code]
Can u reproduce this?

[2022-08-26 08:30] fwitte commented on #377
I do not have stuff to merge

[2022-08-26 09:59] nesnoj commented on #377
I'm done so far but I cannot test #880 and #889 due to https://github.com/openego/eGon-data/pull/884#issuecomment-1228190456

[2022-08-29 07:41] nesnoj commented on #377
The data bundle download crashed on Friday after a couple of minutes, I restarted the task yesterday.
There was an error message I haven't seen before @gnn :
[code]
The task ran successfully after clearing.

[2022-08-29 07:50] nesnoj commented on #892
Works out now, thank you!

[2022-08-29 07:50] #892 closed

[2022-08-29 09:50] nesnoj opened #893 "`heat_demand_timeseries.idp_pool.select` fails due to duplicate keys"
In DE run (clean and versioned):
[code]

[2022-08-29 11:51] nesnoj commented on #738
@ClaraBuettner As you just made adjustments to the heat demand ts in #870, could you take the chance and rename the 2 tables above as well?

[2022-08-30 06:50] nesnoj commented on #377
Tasks `heat_demand_timeseries.idp_pool.select` (same error as in #893) and `electricity_demand_timeseries.cts_buildings.get-cts-electricity-peak-load` failed.
I pulled the latest version and cleared the tasks.

[2022-08-30 06:52] ClaraBuettner commented on #893
I tried to find out why this happened, but there seems to be no duplicate data. I will try to remove the primary key setting for further investigations...

[2022-08-30 07:32] ClaraBuettner commented on #886
The same problem occurs for other components and datasets (e.g. heat_etrago, power_etrago.ocgt..).
Setting the bus_ids as foreign key could help to solve this.

[2022-08-30 09:53] #845 closed

[2022-08-30 15:11] nesnoj commented on #377
I will inject a bugfix, will therefore stop the pipeline for a min and restart the 1 task which is currently running (idp pool select)

[2022-08-31 10:23] nesnoj commented on #377
`dev` is now running on RLI server

[2022-09-01 05:27] nesnoj commented on #377
`heat_demand_timeseries.district-heating` on your server has been running for 29h now...do you think it will come to an end?

[2022-09-01 06:54] ClaraBuettner commented on #377
This task needed only 15 min for Schleswig-Holstein. And there should also be some logs in between. I can try to restart it.

[2022-09-01 07:03] ClaraBuettner commented on #893
I fixed this in https://github.com/openego/eGon-data/pull/870/commits/69b43c28ecbd12dfa0b174faee1b8319c1252cb3

[2022-09-01 07:12] #815 closed

[2022-09-01 07:12] #866 closed

[2022-09-01 07:55] nesnoj commented on #893
thx!

[2022-09-01 07:55] #893 closed

[2022-09-01 07:55] nesnoj commented on #893
thx!

[2022-09-01 08:08] nesnoj commented on #738
Thanks for [changing](https://github.com/openego/eGon-data/commit/19987161c83e1f065598e0a06096dab0dd520ae3)! :)

[2022-09-01 08:08] #738 closed

[2022-09-02 07:04] nesnoj opened #900 "Task `chp.insert-chp-egon100re` fails due to missing file"
CI run (SH mode, but will most likely occur in DE too) throws:
[code]
That seems to be related to #884 where you changed paths to `2022-07-26-egondata-integration`..

[2022-09-02 07:33] IlkaCu commented on #900
This commit should fix the problem: ca726c278e1abb8c24a5c1019c8c6f3b5435606f

[2022-09-02 21:18] nesnoj commented on #377
Who takes care of the CI run?

[2022-09-02 21:45] nesnoj commented on #900
Worked out, thx

[2022-09-02 21:45] #900 closed

[2022-09-02 22:00] nesnoj opened #901 "Task `DSM_cts_ind.dsm-cts-ind-processing` fails on dev"
The desired `dev` stable run started on Wednesday on our server failed at `DSM_cts_ind.dsm-cts-ind-processing`:
`ERROR - cannot set using a slice indexer with a different length than the value`

Full log:
[egon-data-processing-pipeline_DSM_cts_ind.dsm-cts-ind-processing_2022-08-31T10_22_15.780613+00_00_2.log](https://github.com/openego/eGon-data/files/9481208/egon-data-processing-pipeline_DSM_cts_

[2022-09-03 19:27] nailend opened #902 "Sanity checks for residential electricity loads"
Create sanity checks for residential electricity loads for eGon2035 and eGon100RE

[2022-09-05 08:16] birgits opened #903 "Heat pump desaggregation to buildings"
Heat pump capacity per MV grid needs to be desaggregated to specific buildings. This is then also used to create heat demand time series of buildings with heat pumps and for buildings with other decentral heating technologies for eTraGo.

[2022-09-05 08:46] nesnoj opened #904 "Task `heat_demand_timeseries.HTS.demand-profile-generator` fails on dev"
The desired `dev` stable run started on Wednesday on our server failed at `heat_demand_timeseries.HTS.demand-profile-generator`:
[code]

Full log:
[egon-data-processing-pipeline_heat_demand_timeseries.HTS.demand-profile-generator_2022-08-31T10_22_15.780613+00_00_2.log](https://github.com/openego/eGon-data/files/9488234/egon-data-processing-pipeline_heat_demand_timeseries.HTS.demand-profile-generat

[2022-09-05 09:04] ClaraBuettner commented on #904
I'm not sure if the CRS mismatch created the error. It had also been there when the task finished successful. The last line of the log looks more like the RAM memory was full.

[2022-09-05 14:29] nesnoj opened #906 "Task `electrical_neighbours.grid` fails for SH"
- SH
- CI, HEAD: c9188206555657cf70e9ef6cc27c976124286f67
- Error: `KeyError: "None of [Float64Index([nan], dtype='float64', name='bus_id')] are in the [index]"`

Full log:
[egon-data-processing-pipeline_electrical_neighbours.grid_2022-09-05T12_38_17.896895+00_00_2.log](https://github.com/openego/eGon-data/files/9490567/egon-data-processing-pipeline_electrical_neighbours.grid_2022-09-05T12_38_17.8

[2022-09-05 14:40] ClaraBuettner opened #907 "All foreign generators have no marginal costs"
Needs to be adjusted here:
https://github.com/openego/eGon-data/blob/22ee7181ac1c10e23533814034b95bcfd4100e30/src/egon/data/datasets/electrical_neighbours.py#L868-L1018

In addition, some new carriers (nuclear, lignite) should be added here:

https://github.com/openego/eGon-data/blob/22ee7181ac1c10e23533814034b95bcfd4100e30/src/egon/data/datasets/scenario_parameters/parameters.py#L285-L308

[2022-09-05 16:15] nesnoj commented on #904
Yes, the different execution times before the error and `SIGKILL` speak for full memory. Also, it says `DataFrame is highly fragmented.`. I could try to track the mem usage but doesn't it make sense to just reduce in intermediate steps? Maybe using [this function](https://github.com/openego/eGon-data/blob/22ee7181ac1c10e23533814034b95bcfd4100e30/src/egon/data/datasets/emobility/motorized_individua

[2022-09-06 07:09] nesnoj commented on #904
It used at least 150 GB of memory - then `SIGKILL` again at a certain point of time..
I propose to focus on the CI problems and skip this overhauled `dev` task.

[2022-09-06 07:23] ClaraBuettner opened #909 "Drop era5 weather cell table using CASCADE"

[2022-09-06 07:36] nesnoj opened #911 "Task `DSM_cts_ind.dsm-cts-ind-processing` fails on CI"
CI run (SH), task `DSM_cts_ind.dsm-cts-ind-processing`:
[code]

Full log:
[egon-data-processing-pipeline_DSM_cts_ind.dsm-cts-ind-processing_2022-09-06T05_24_26.062835+00_00_2.log](https://github.com/openego/eGon-data/files/9494360/egon-data-processing-pipeline_DSM_cts_ind.dsm-cts-ind-processing_2022-09-06T05_24_26.062835%2B00_00_2.log)

HEAD: a20dde910d092152ca5df4436249fbeb2d91f2e0

Cleared but e

[2022-09-06 07:57] nesnoj commented on #911
Uh, this seems to be caused by my changes in #908. Don't we have both scenarios in the test region?

[2022-09-06 08:21] nesnoj commented on #904
Now running with merged #870

[2022-09-06 08:35] nesnoj commented on #911
Handled in #908

[2022-09-06 08:35] #911 closed

[2022-09-06 08:38] nesnoj opened #912 "Task ` chp.insert-chp-egon100re` fails [CI | SH]"
[code]

[2022-09-06 08:45] ClaraBuettner commented on #912
Should be fixed by 72c0e18efab5b409cd53620488e03c9c51393952

[2022-09-06 09:23] nesnoj commented on #912
Yepp, works!

[2022-09-06 09:23] #912 closed

[2022-09-06 09:45] ClaraBuettner opened #913 "Gas turbines are included as links and generators"

[2022-09-06 10:34] nesnoj opened #916 "Task `heat_demand_timeseries.export-etrago-cts-heat-profiles` stalls"
Run info: [CI | DE | Clean run | HEAD: 83304cacfd6cb15a052a4310341af86a187c3873]
See instance DE3

Hangs at:
[code]

[2022-09-06 10:35] nesnoj commented on #916
Please harmonize the heat profile creation @nailend @ClaraBuettner

[2022-09-06 10:38] nesnoj commented on #916
As the DR data is obtained by `heat_demand_timeseries.individual-heating-per-mv-grid` as well as in `heat_demand_timeseries.export-etrago-cts-heat-profiles`

[2022-09-06 12:15] nesnoj opened #918 "Error `DELETE statement on table 'dependency_graph' expected...`"
During the last weeks the following error is occuring regularly, independent from the region mode or branch:
`DELETE statement on table 'dependency_graph' expected to delete XXX row(s); Only 0 were matched.`
(already mentioned [here](https://github.com/openego/eGon-data/issues/377#issuecomment-1229901124))

I just saw this in those 3 tasks:
- `heat_demand_timeseries.idp_pool.create`
- `heat_demand

[2022-09-06 13:40] nesnoj commented on #641
Has been solved by #692

[2022-09-06 13:40] #641 closed

[2022-09-06 14:12] nailend opened #919 "Sanity checks for cts electricity and heat"
Create sanity checks for cts electricity and heat disaggregation for eGon2035 and eGon100RE.

Sum building disaggregation factor at mv substation and needs to be equal 1.

[2022-09-07 05:27] nailend opened #920 "Missing dependency `heat_supply` for `HtsEtragoTable`"
There is a missing dependency of `heat_supply` in  `HtsEtragoTable` .

[code]

[2022-09-07 08:26] nesnoj opened #921 "Rename noflex to lowflex scenario for eMob MIT"
Created in #821
Noflex issue: #822

[2022-09-07 08:47] nailend commented on #916
This was solved by [this](https://github.com/openego/eGon-data/pull/870/commits/3060124d129f4cd5e01700fe23a6b2ba1d6012bf0

[2022-09-07 08:47] #916 closed

[2022-09-07 09:03] nesnoj commented on #822
I renamed the scenarios in #922 to:

eGon2035: `eGon2035_lowflex`
eGon100RE: `eGon100RE_lowflex`

[2022-09-07 09:05] nailend opened #923 "Info: there is an internal logging module"
Just for information @gnn set up an internal logger. As I just found out yesterday I thought it might be interesting for others as well.

Just import the module
`from egon.data import logger`

and write your logs
`logger.info("Info log")`

The message should not contain a "-" as this results into splitting the message and only partially emit it

[2022-09-07 09:11] nesnoj commented on #916
thx

[2022-09-07 10:26] AmeliaNadal commented on #822
As discuss today, the H2 steel tank storages (storages with carrier 'H2_overground') could also be removed if this flexibility is used in a huge proportion to compensate the absence of the saltcavern storages.

[2022-09-07 11:01] nesnoj opened #925 "Task `heat_demand_timeseries.district-heating` fails on CI"
Run info: [CI 1f78a1c01bd537cbc499d93ab01859a326e06d8b | DE | clean run]

Error: `ERROR - Lengths must be equal`

Full log:
[egon-data-processing-pipeline_heat_demand_timeseries.district-heating_2022-09-01T19_34_07.199347+00_00_2.log](https://github.com/openego/eGon-data/files/9505522/egon-data-processing-pipeline_heat_demand_timeseries.district-heating_2022-09-01T19_34_07.199347%2B00_00_2.log)

[2022-09-07 12:06] ClaraBuettner commented on #925
Should be fixed in 3fd1595c95d8484076cd4f609ae0ca76020fdb5c (merged into CI)

[2022-09-07 12:13] ClaraBuettner commented on #918
I already saw that problem in other tasks (e.g. data_bundle, db_setup ...).  Clearing the task always solved the problem. I had the impression that this occurred when dependencies were updated in a non-clean run.

[2022-09-07 13:18] gnn opened #926 "This `try`/`except` block is probably applied to coarsely"
[This is][0] the block in question. As was explained to me, the intention was to use data from 2030 for those `node`s for which no data from 2040 exists. But as it stands, if there's one `node` without data from 2040, `data_2040` will completely be replaced with `data_2030`.
There are at least two ways to fix this:
  * pre-populate `data_2040` with data from 2030 as defaults which can then be over

[2022-09-07 16:17] nesnoj commented on #799
@gnn If option 1 is still the preferred way, could you come up with a idea or/and a solution?
Otherwise this could also be included in #816 but until then this requires the manual edit of postgres' conf each time the container is created..

[2022-09-07 19:29] nesnoj commented on #925
That did the trick, thanks!

[2022-09-07 22:32] nesnoj commented on #377
:rocket: New CI run has been started :rocket:

[2022-09-08 08:29] gnn commented on #807
Sorry, but I missed this issue. There is no configuration for flake8 because the defaults are fine. There is however a configuration for black in "pyproject.toml" because the black developers decided that this is the only place from which they read configuration settings. And that's where the maximum line length is set to 79 characters for black because that's in line with PEP8.

[2022-09-08 09:24] nesnoj opened #928 "Add sanity checks of model timeseries' length"
As we encountered corrupt model timeseries in tables `grid.egon_etrago_*_timeseries` in the past (at a too late point in time) it'd be helpful to have their length validated in the sanity checks.

I already implemented a [working solution for eMob MIT](https://github.com/openego/eGon-data/blob/b6bacc475a7cf3d02b82236efb4710e219758979/src/egon/data/datasets/sanity_checks.py#L755-L831). As the colum

[2022-09-09 13:59] gnn commented on #770
Again, sorry for not following up on this for so long. The fix is actually pretty easy, but understanding the problem took a while and I didn't have the time to do the proper research until today.

This can actually be "automated" by doing `pre-commit autoupdate` within the repository, which ultimately is the correct fix. Maybe `pre-commit autoupdate --repo 'https://github.com/psf/black'` to keep

[2022-09-09 15:34] AmeliaNadal opened #929 "Harmonize H2 carrier name in Germany and abroad - eGon100RE"
In eGon100RE, the H2 buses have different carrier names in Germany ('H2_grid' and 'H2_saltcavern') and abroad ('H2'), the carrier of the buses abroad should be set to 'H2_grid' and the corresponding scripts adapted.
(In eGon2035, there are no H2 buses abroad.)

[2022-09-12 07:52] nesnoj commented on #377
The pipeline stopped on Saturday: `No space left on device` :(
It was triggered by someone this morning but went into the same problem.
I freed some space and restarted the task.

[2022-09-12 08:03] nesnoj commented on #377
Uh, same problem:
`(psycopg2.errors.DiskFull) could not write to file "base/pgsql_tmp/pgsql_tmp346578.1.sharedfileset/o13of64.p0.0": No space left on device`

As we have >100G free, this might be related to the container? @ClaraBuettner @gnn

[2022-09-12 08:17] khelfen commented on #807
Thanks @gnn ! Actually when running `black` per `hook` or directly in the console it seems like it is not respecting the 79 char limit but still formats everything to 88 chars for me :thinking: That's why I got these incompatibilities.

[2022-09-12 10:42] nesnoj commented on #377
The dir `base/pgsql_tmp/` is a subdir of `working-directory/docker/`, so it's caused by general lack of disk space after all

[2022-09-13 09:55] ClaraBuettner commented on #377
@AmeliaNadal  `gas_neighbours.eGon100RE.insert-gas-neigbours-eGon100RE`  failed:
[code]

[2022-09-13 15:16] AmeliaNadal opened #933 "Overwrite retrofitted_CH4pipeline-to-H2pipeline_share with p-e-s result"
The parameter retrofitted_CH4pipeline-to-H2pipeline_share is now set to 0.75 (source: [European hydrogen backbone](https://gasforclimate2050.eu/wp-content/uploads/2020/07/2020_European-Hydrogen-Backbone_Report.pdf)), but this value be replaced by the one calculated in the p-e-s run.

[2022-09-14 06:17] nesnoj commented on #377
@ClaraBuettner Task `heat_supply.district-heating` failed:
[code]

[2022-09-14 09:41] ClaraBuettner commented on #377
https://github.com/openego/eGon-data/pull/935/commits/4e179b5dc3b8dc083868483aeb9d8b163852c754 solved it.

[2022-09-14 13:01] IlkaCu commented on #377
Now task `pv_rooftop_buildings.pv-rooftop-to-buildings` failed due to undefined table `demand.egon_building_peak_loads`.
@nesnoj Can you take care?

[2022-09-14 13:34] nesnoj commented on #377
The table has been recently renamed to `egon_building_electricity_peak_loads` by @nailend in 38b4333511f8ee70a7efa92adc72685c1632b80e so 2 branches of @khelfen and @nailend seem to be out of sync.

@khelfen just changed things in the rooftop today to fix stuff but we won't pull the current CI again (current head: f31663fd6c953f61ccf66f64bd61fb5154ea0c4c), so I've set it to success manually now. Pl

[2022-09-14 15:04] nesnoj commented on #377
Now `heat_demand_timeseries.individual-heating-per-mv-grid` is running - sidenote: it ran for 146h at RLI without terminating. Dunno if @ClaraBuettner did change anything on CI in this task since, but in the current run it is the same codebase. So I guess we will run into the same problem..

[2022-09-15 10:16] nesnoj commented on #377
Running and running for 1 day now... can we do anything about this? @ClaraBuettner @IlkaCu

[2022-09-15 10:54] khelfen opened #937 "Adding charging infrastructure for e-mobility"
For the integration of electromobility into the distribution grids, the related charging infrastructure is currently missing. For this purpose, the code of [TracBEV](https://github.com/rl-institut/tracbev) is to be adapted and used.

[2022-09-15 12:29] nailend commented on #556
Updating `pip` with `pip install -U pip` and reinstalling `egon-data` also solved the problem for me

[2022-09-16 09:14] IlkaCu commented on #730
Copy of issue #907. I close this issue in favor of the newer one.

[2022-09-16 09:14] #730 closed

[2022-09-16 10:36] AmeliaNadal opened #940 "Adjust H2 industrial demand TS abroad eGon2035"
The H2 industrial demand time serie abroad in eGon2035 uses the profile of the residential rural heat load (from the p-e-s run). This should be to the H2 for industry load profile (from the p-e-s run).

[2022-09-16 10:51] nailend commented on #903
I am currently running into the following ERROR as we querry every building heat profile (~2000 depending on the MVGD) by its own. Probably the best solution would be generate all profiles in one MVGD at once. Is it easy to adapt the query? @ClaraBuettner
[code]

[2022-09-16 11:13] nesnoj commented on #903
I'm quite familiar with this error from the eMob side #799. If you tell me via RC which instance is affected, I can fix the docker config accordingly.

And I guess we cannot do much about the duration (cf. @ClaraBuettner mail).. I stopped it after 146h on DE3 (cf. https://github.com/openego/eGon-data/issues/377#issuecomment-1246907338)

[2022-09-20 07:45] khelfen opened #941 "Missing data for chp.extension-HH"
With my current DE run (dev status, with some changes in unrelated files to the error #934 ), the task `chp.extension-HH` has failed twice or is running forever. The following warning is returned:

[code]

After clearing twice, the task completed successfully but the warning is still present. Is this known?

[2022-09-20 12:45] IlkaCu opened #942 "Inconsistency in marginal costs for link components"
Marginal costs are not set consistently for link components. Some components in foreign components have marginal costs assigned for the eGon100RE scenario, but not inside Germany or in scenario eGon2035.
This should be checked and adjusted.

[2022-09-20 13:11] IlkaCu commented on #942
Link components with marginal_costs = 0 in `eGon100RE` are
- [ ] power_to_H2 (components outside Germany got marginal costs assigned)
- [ ] CH4 (components outside Germany got marginal costs assigned)
- [ ] H2_gridextension
- [ ] H2_ind_load
- [ ] dsm
- [ ] H2_to_CH4 (components outside Germany got marginal costs assigned)
- [ ] H2_retrofit (components outside Germany got marginal costs assigned)

[2022-09-20 13:59] IlkaCu commented on #942
Link components with marginal_costs = 0 in `eGon2035` are

- [ ] power_to_H2
- [ ] CH4
- [ ] rural_heat_store_discharger
- [ ] H2_ind_load
- [ ] dsm
- [ ] H2_to_CH4
- [ ] rural_heat_store_charger
- [ ] DC
- [ ] central_gas_boiler
- [ ] H2_feedin
- [ ] central_gas_CHP_heat
- [ ] central_heat_pump
- [ ] rural_heat_pump
- [ ] CH4_to_H2
- [ ] central_resistive_heater
- [ ] central_heat_store_discharge

[2022-09-21 00:12] nesnoj commented on #377
emobility-mit: the server was just not up-to-date - cherry-picked - works out now.
pv-rooftop-building is to fail as recent updated have not made it to the server yet.

[2022-09-21 06:42] khelfen commented on #377
I wasn't able to fix this issue yet because I didn't find the reason why this happens only for DE and not for SH. I'll have a look into the log now and hopefully find something :sweat_smile:

[2022-09-21 09:36] nesnoj commented on #377
We would like to start a new CI clean run. Please tick if you are ready:
- [ ] @IlkaCu
- [ ] @khelfen
- [ ] @nesnoj

[2022-09-22 06:32] #921 closed

[2022-09-22 06:34] #820 closed

[2022-09-22 07:01] #878 closed

[2022-09-22 07:26] #901 closed

[2022-09-22 21:27] nailend opened #949 "Missing biogas download task in `CH4Production` dataset"
The download task [download_biogas_data](https://github.com/openego/eGon-data/blob/219cd2ee2871a9a1650395c0bc314fd310777dab/src/egon/data/datasets/ch4_prod.py#L131) is missing in the [dataset definition](https://github.com/openego/eGon-data/blob/219cd2ee2871a9a1650395c0bc314fd310777dab/src/egon/data/datasets/ch4_prod.py#L27). Therefore the following task  cant be executed.

[2022-09-22 22:37] nailend opened #950 "Merged content of draft-PR to dev"
@gnn @IlkaCu @nesnoj I just merged #826 into the dev and realized afterwards that my code includes some changes from unfinished #870 as we use a common table that recieved a `egon_` prefix...
I therefore stop now and will not merge #915 and #924 as I don't know how to best handle this situation. I am sorry

[2022-09-23 06:26] nesnoj commented on #950
Ok, I propose to reset it to the latest commit before your merge and merge your stuff later then - I'll have a look

[2022-09-23 07:07] nesnoj commented on #950
I'm wondering why there's no merge commit, did you use fast-forward?

I'll merge #826, #915, #924 into CI now to be able to start the run. We can fix the `dev` later. As I'm not working (haha, no, these lines are written by my bot, really), I cannot take care of the `dev` problem today.
Maybe @gnn can have a look?

[2022-09-23 07:11] nesnoj commented on #950
So please @IlkaCu @khelfen @gnn **do not merge the broken `dev` into your feature branches** until it will have been fixed!

[2022-09-23 07:49] khelfen commented on #950
oh damn, I may already have done that :confused:

[2022-09-23 08:05] nesnoj commented on #950
Yes, we just noticed... discussing solutions

[2022-09-23 08:33] nesnoj commented on #950
@nailend and I had a look. We noted that it is even worse: some commits done in #870 are already in `dev` and we don't know from which merge they origin from. So the `dev` is supposed to be already "corrupted" right now (in a sense that runs will fail).

Possible solutions from our point of view:
1. Revert changes back to a working version: not impossible but really hard to find in this merge hell

[2022-09-23 08:38] nesnoj commented on #377
Hold on, we'll chekc if we can quickly fix #949

[2022-09-23 08:38] khelfen commented on #950
FYI, yeah when running my [branch](https://github.com/openego/eGon-data/tree/features/%23684-distribute-pv-rooftop-buildings-3) with the faulty `dev` (which of course I also merged into CI) I get the following error in `heat_etrago.buses`:
[code]

[2022-09-23 08:50] nesnoj commented on #949
Has been temporarily fixed (only!) in the CI in 9ecdfcf9cc84baf5e1258c8abece7aab1ce9ec82, thanks @nailend!

[2022-09-23 08:50] nesnoj commented on #377
Done. Read for takeoff!

[2022-09-26 07:09] nesnoj commented on #377
Failed tasks so far:
- `emobility.motorized_individual_travel_charging_infrastructure.infrastructure_allocation.run-tracbev` @khelfen
- `gas_neighbours.eGon100RE.insert-gas-neigbours-eGon100RE`, clearing didn't help @AmeliaNadal

[2022-09-26 08:12] khelfen commented on #377
should be fixed now :)

[2022-09-26 14:49] nesnoj commented on #377
The pipeline ran into #799 in the parallel `chp.extension-*` tasks. Manual clearing solved it.
Same just happened in `emobility.motorized_individual_travel_charging_infrastructure.infrastructure_allocation.run-tracbev`.

I'll deactivated the pipeline, waiting for 4 tasks to finish. Then I'll manually set a higher connection limit and reactivate it.

[2022-09-26 15:05] nesnoj commented on #131
Obsolete

[2022-09-26 15:05] #131 closed

[2022-09-26 21:15] nesnoj commented on #377
Done.
But now (occured prior to the manual adjustments):
[code]
Your action is required to continue @IlkaCu @ClaraBuettner

[2022-09-28 11:01] nailend commented on #671
![cts-2-buildings - Frame 1](https://user-images.githubusercontent.com/51374526/192762866-9c3e8d30-8afe-4c2f-b795-102b2324fe00.jpg)

This is the final implementation.

[2022-09-28 11:28] nailend commented on #671
For DE:
|                                          | cells | buildings | amenities |
|------------------------------------------|-------|-----------|-----------|
| df_buildings_with_amenities              |  97.752 |    219.463   |    309.279   |
| df_buildings_without_amenities           |  353.059 |    657.482  |    657.482   |
| df_synthetic_buildings_with_amenities    |  18.079  |    22.472

[2022-09-28 11:52] nailend commented on #671
Resulting Peak load compared to residential ones

|                 |               |  **count** | **mean** |  **std** | **min** |  **25%** |  **50%** |  **75%** |     **max** |
|----------------:|--------------:|-----------:|---------:|---------:|--------:|---------:|---------:|---------:|------------:|
|     **cts**     | **eGon100RE** | 981,136    | 33,254.7 | 40,134.6 | 9.8     | 11,085.1 | 21

[2022-09-28 11:52] ClaraBuettner commented on #950
I deleted everything related to individual heat in 517ab193fc9b85eaed3cf6acee500298e9f4c970 . The results look good in test mode, I will have a closer look today in the afternoon.
I will also merge this into CI hopefully today. But since I deleted some tasks, I'm not sure if the DAG needs to be started again on the server.

The issue with the duplicated tasks for individual heating only exists on

[2022-09-28 11:55] nailend commented on #671
Distribution of peak loads for scenario 2035.

![grafik](https://user-images.githubusercontent.com/51374526/192772533-31d5f2ed-fd28-46da-882a-30617d437bdb.png)

![grafik](https://user-images.githubusercontent.com/51374526/192772325-9b3aca43-bc06-41dd-9341-1700bf68337c.png)

[2022-09-28 14:39] nailend opened #953 "Overlay of synthetic cts buildings and osm buildings"

[2022-09-28 14:40] nailend opened #954 "Cts peak load post-processing"

[2022-09-28 15:09] nesnoj commented on #950
:+1:

If no one has objections, I'd say: give it a try! (there's not much to ruin ;)

Yes, go for it! (keep in mind the other manual commits @gnn did last Friday in the CI)

[2022-09-28 16:09] nesnoj opened #955 "Add voltage level for electricity building loads"
Please add the voltage level (new column: `voltage_level`) according to [our definitions](https://redmine.iks.cs.ovgu.de/oe/projects/ego-n/wiki/Definition_of_thresholds_for_voltage_level_assignment) to the buildings' peak load table `demand.egon_building_electricity_peak_loads`.
Either as postprocessing step or rather in the CTS task?

This had been done in various other tasks already, just search

[2022-09-28 16:10] ClaraBuettner commented on #950
The CI-pipeline is running again.
I pushed all my changes to CI but manually did them on the server again to avoid including all other changes and have less problems with deleted tasks.
I will take care of finishing and merging #870 into dev tomorrow.

[2022-09-28 17:37] nailend commented on #955
To calculate the actual peak demand would mean to aggregate the various household profiles for residential and the cts for all buildings with both `residential` and `cts` in one building (530,000 buildings). This can be done as a postprocessing task but might take some pipeline time. I would simply append the aggregated peak demand to the table with `sector='both`. This way we would already have a

[2022-09-29 12:15] #888 closed

[2022-09-29 15:44] #871 closed

[2022-09-30 08:01] AmeliaNadal commented on #949
Thanks a lot for the temporary fix, this issue is not happening in the dev branch (but in CI) but it should be fixed by https://github.com/openego/eGon-data/pull/931.

[2022-09-30 10:26] #857 closed

[2022-09-30 10:26] #950 closed

[2022-09-30 10:41] #856 closed

[2022-09-30 10:43] #874 closed

[2022-09-30 10:44] #851 closed

[2022-09-30 10:48] nesnoj commented on #950
Yay, a lot happening in the pipeline :smile:
Can the PRs mentioned in the initial post now be merged too? @ClaraBuettner
If so, could you please take care of this @nailend ?

[2022-09-30 10:52] ClaraBuettner commented on #950
I merged #870, so the dev should be fixed and other branches can be merged again (I also started merging other PRs).

[2022-09-30 10:52] #913 closed

[2022-09-30 11:02] #909 closed

[2022-09-30 11:26] #671 closed

[2022-09-30 11:27] ClaraBuettner opened #957 "Documentation and metadata for heat demand time series"

[2022-09-30 11:28] #902 closed

[2022-09-30 11:32] ClaraBuettner commented on #904
#870 was merged, can we close this issue?

[2022-09-30 11:38] ClaraBuettner commented on #941
I did not know this issue before, thank you for reporting!
This problem should be solved by the try/except block here: https://github.com/openego/eGon-data/blob/dd0cc336db72835bf1a2b384bb012b6761522cb3/src/egon/data/datasets/chp/small_chp.py#L347-L376

But I realized that I should have not used try/except here. I will try to fix it.
There is some random selection of chp plants and areas, but I tho

[2022-09-30 11:41] #919 closed

[2022-09-30 11:59] #877 closed

[2022-09-30 17:06] gnn commented on #950
TL;DR: What @nesnoj said.

But I'd also like to elaborate. Committing directly to the CI is possible, given that the CI is just a regular branch which can be pulled from, edited and pushed to. It is however something which should normally be avoided since the whole point of the CI is to test the intermediate work on other branches without any additional commits confounding the test results. The cu

[2022-10-02 20:06] nesnoj commented on #377
@AmeliaNadal `gas_neighbours.eGon100RE.insert-gas-neigbours-eGon100RE` failed 3 times.

[2022-10-03 09:32] AmeliaNadal opened #958 "Gas bus with wrong country code"
One gas bus (Scigrid_gas ID: 'N_88_NS_LMGN') with country code 'DE' doesn't belong to the german area. This bus and its 3 associated pipelines should be deleted.

[2022-10-04 06:54] AmeliaNadal commented on #377
I think that the problem comes from an uncorrect gas bus, that I corrected in this PR: https://github.com/openego/eGon-data/pull/959.
The fix is already in the CI branch but not in the current run. Should I made the adequate changes on the server and restart the 'first' gas task (would restart a lot of other stuffs) or better wait for a new run (that we could start earlier this week)?

[2022-10-04 09:02] IlkaCu opened #960 "Add VOM for ror and reservoir"
For generators of carrier 'ror' and 'reservoir' no marginal costs are assigned. To not neglect them, data about VOM need to be added in the scenario_parameters script.
Possible source are the technology data by the Danish energy agency used in PyPSA-Eur-Sec.

[2022-10-04 09:56] ClaraBuettner opened #961 "Add efficiencies of CHP plants"

[2022-10-04 09:58] IlkaCu commented on #942
I converted the lists in the comments above into tables. @ClaraBuettner and @AmeliaNadal: Please add information whether the carriers need to get VOM as marginal costs assigned or not.

[2022-10-04 11:21] ClaraBuettner commented on #942
I will create a branch for the links in heat sector.

[2022-10-04 11:26] ClaraBuettner commented on #942
Besides, no store or storage_unit has any marginal cost. Is that intended?

[2022-10-04 11:28] IlkaCu commented on #942
No, I will create an additional ticket for this issue.

[2022-10-04 13:50] nailend opened #962 "Add final buildings mapping table"
Create a mapping table for all residential and cts buildings used including

- [x] building_id
- [x] sector
- [x] zensus_population_id
- [x] bus_id
- [x] osm (or synthetic)

[2022-10-05 10:27] AmeliaNadal commented on #626
The extremos (ffe) industrial demands in Germany are as follow:

year |H2 (in TWh)|CH4 (inTWh)
-- | -- | --
2035 (used in eGon2035) |16.07|196.01
2050 (not used in eGon100RE) |132.8 |0

[2022-10-05 20:48] gnn opened #967 "Move tested features from `CI` to `dev`"
As the current CI has been through a lot, we decided to start the next clean run from a new CI, created fresh from `dev`. In order to do this, the features which are under testing in the current CI and passed the most recent clean run have to be merged into `dev` so that we can start the new CI with a minimal need for initial feature merges. Please use the list below to indicate that you're done m

[2022-10-06 08:52] #937 closed

[2022-10-06 08:55] khelfen commented on #967
Done by merging #943 and #968

[2022-10-06 10:32] nailend opened #969 "Add zipfile check"
As I often end up running into zipfile download errors, especially with `zensus_download_misc`, I recommend an iteration loop to check and re-download.

If you know of any further tasks, please add here:
- [x] zensus_download_misc
- [x] `download_zensus_pop`

[2022-10-06 12:19] AmeliaNadal opened #971 "Keep p_set (and q_set) for loads without timeserie from p-e-s run"
For the loads (abroad in eGon100RE) from p-e-s run, p_set and q_set are deleted. This is a problem for the one that do not have an associated timeserie.

[2022-10-10 11:50] #907 closed

[2022-10-10 14:51] #403 closed

[2022-10-10 15:04] #819 closed

[2022-10-10 23:05] gnn commented on #967
Since everybody merged his tested features into `dev`, I created a new [CI][0] based on commit 61186e7f85d64aa152adc2313278563ece7b8747. The next question would be, whether we want to test this version in a clean run first or whether we want to go ahead and merge the current work in progress into the new CI and run that as soon as possible.

Regardless of what we decide, you can already go ahead a

[2022-10-11 08:11] IlkaCu commented on #868
Was this tested successfully on CI? I couldn't find a corresponding PR.

[2022-10-11 10:39] CarlosEpia commented on #868
Hi Ilka. This was already tested in CI and merged into dev. https://github.com/openego/eGon-data/pull/869#issue-1342803202

[2022-10-11 11:40] IlkaCu commented on #868
And reviewed by myself... ;-)
I will therefore close this issue

[2022-10-11 11:45] IlkaCu commented on #868
I took a closer look and it seems that features from branch features/#868-create-wind_offshore-generators-for-the-eGon100RE-scenario didn't make it to dev branch. Therefore I reopened the ticket.

[2022-10-11 12:19] gnn commented on #918
Happened again on the three tasks `heat_demand_timeseries.daily.map-climate-zones-to-zensus`, `heat_demand_timeseries.export-etrago-cts-heat-profiles` and `heat_demand_timeseries.idp_pool.create` during the versioned run started on 2022-10-10. Seems like I have to debug how tasks are re-run and/or checked for whether they have to be re-run.

[2022-10-11 13:15] birgits commented on #955
Decision: Add new column "voltage_level". Append for each building a new row with CTS+residential peak load and only add voltage level for those rows with CTS+residential.

[2022-10-11 13:36] #868 closed

[2022-10-12 07:17] #873 closed

[2022-10-12 07:21] IlkaCu commented on #723
Can this issue be closed?

[2022-10-12 08:19] AmeliaNadal commented on #723
This issue is not problematic or urgent: there is a gas demand in Norway in eGon2035 (in the right order of magnitude), but this value should be improve, because it's actually the heat demand of Norway in 2050 (result of p-e-s).
Therefore, I wouldn't close this issue (same for the issue #728: not a priority but should be tackled at one point).

[2022-10-12 12:55] #807 closed

[2022-10-12 13:20] nesnoj commented on #276
Wont be tackled.

[2022-10-12 13:20] #276 closed

[2022-10-12 14:11] CarlosEpia commented on #763
The mentioned plots were already implemented.

[2022-10-12 14:13] CarlosEpia commented on #776
Already solved.

[2022-10-12 14:13] #776 closed

[2022-10-12 14:13] #62 closed

[2022-10-12 14:14] IlkaCu commented on #886
Is this still the case?

[2022-10-12 14:14] #818 closed

[2022-10-12 14:15] CarlosEpia commented on #773
Already solved.

[2022-10-12 14:15] #773 closed

[2022-10-12 14:16] AmeliaNadal commented on #370
Cross-border gas capacities are limited:

- in eGon2035 by TYNDP values
- in eGon100RE by the p-e-s results values

[2022-10-12 14:16] #370 closed

[2022-10-12 14:17] gnn commented on #656
Fixed in f4a0cdb6fede56824bbbaff30f26e310672cad3f.

[2022-10-12 14:19] IlkaCu commented on #554
Fixed by PR #635

[2022-10-12 14:19] #554 closed

[2022-10-12 14:21] gnn commented on #271
Fixed. At least the build is not failing any more. If it starts failing again, it will be for a different reason.

[2022-10-12 14:21] #271 closed

[2022-10-12 15:06] gnn commented on #42
We moved away from Travis anyway and we're also currently only testing for Linux. So this can be closed.

[2022-10-12 15:06] #42 closed

[2022-10-12 15:24] AmeliaNadal commented on #371
In eGon100RE, the values of the p-e-s are used for the industrial demands (CH4 and H2).
We verified that these values are consistent with the source of the eGon2035 (https://github.com/openego/eGon-data/issues/626), we won't change them.

[2022-10-12 15:24] #371 closed

[2022-10-12 20:03] nailend opened #975 "Import sqlalchemy adapter"
@nesnoj and me are using the following workaround for data request with sqlalchemy and read_sql e.g [here](https://github.com/openego/eGon-data/blob/53ef627a4d6d5ec4df8abddd2ec7e4c327536e9a/src/egon/data/datasets/heat_supply/individual_heating.py#L536) Without the workaround the array of int `profile_ids`  raises an error.

My questions is, where is the best place to put this to not have it multip

[2022-10-12 21:31] #40 closed

[2022-10-12 21:33] nesnoj commented on #106
Won't tackle this, cf. https://github.com/openego/eGon-data/issues/42#issuecomment-1276334113

[2022-10-12 21:33] #106 closed

[2022-10-12 21:35] nesnoj commented on #53
Outdated

[2022-10-12 21:35] #53 closed

[2022-10-12 21:37] nesnoj commented on #54
Will not be addressed

[2022-10-12 21:37] #54 closed

[2022-10-12 21:39] nesnoj commented on #96
Will not be addressed

[2022-10-12 21:39] #96 closed

[2022-10-12 21:43] nesnoj commented on #98
Done in b8b91223995d705774515f954064af7ab60ef888

[2022-10-12 21:43] #98 closed

[2022-10-12 21:45] nesnoj commented on #356
That's very outdated, right @IlkaCu ?

[2022-10-12 21:47] nesnoj commented on #519
Also check if #134 is still relevant

[2022-10-12 21:57] nailend commented on #110
Had a similar problem. Couldnt install psycopg2 due to not installing liqpq-dev due to wrong version of libpq5.
Solved it by downgrading.
`sudo apt-get install libpq5=12.12-0ubuntu0.20.04.1 && sudo apt-get install libpq-dev`

[2022-10-13 08:00] gnn commented on #975
Could you elaborate? Do you mean once per Python file? In what context? The `eGon-data` codebase, standalone scripts, bigger external applications or tests for any of those?
Also, is this related to the fact that pandas/GeoPandas doesn't correctly cast column datatypes when using `read_sql`, or does this just help with writing stuff to the database?

[2022-10-13 10:44] CarlosEpia commented on #763
No. I need to check your PR first. This issue was only intended to collect ideas.

[2022-10-15 10:41] nailend commented on #923
@gnn
I am receiving the following error. I guess the problem is, having  a '-' in my logging message which you use to split into 2 lines.
[code]

[2022-10-15 11:07] nailend commented on #975
Sorry this was first meant as a reminder for @nesnoj to approach you at the project meeting. I updated the description. Thanks, looking forward to your answer

[2022-10-17 07:09] #356 closed

[2022-10-17 07:38] CarlosEpia commented on #698
I took a look and there are several buses with different carriers with control = 'Slack' for the eGon100RE. They comes from PyPSA-Eur-Sec and all of them are foreign buses. I think it makes sense to keep them like that, since those are independent electric system (country level) and each country is suppose to keep the voltage phase angles into acceptable ranges. What do you think @IlkaCu ?

[2022-10-17 07:46] khelfen commented on #967
Can the old [`continuous-integration/run-everything-over-the-weekend-2022-06-10`](https://github.com/openego/eGon-data/tree/continuous-integration/run-everything-over-the-weekend-2022-06-10) be deleted?

[2022-10-18 09:59] IlkaCu opened #979 "electrical_neighbours.grid failed in a versioned CI run"
Latest versioned CI run failed with the following error message:
`[2022-10-17 16:24:16,059] {taskinstance.py:1150} ERROR - invalid input syntax for type numeric: "inf"
CONTEXT:  COPY egon_etrago_line, line 16, column b: "inf"`

Until now we were not able to identify the reason and want to check whether this bug also appears in a clean run or not.

[2022-10-18 18:51] AmeliaNadal opened #983 "OCGT are missing in Germany in eGon100RE"
In eGon100RE, OCGTs are inserted abroad but are missing in Germany.

[2022-10-18 18:52] #662 closed

[2022-10-18 18:53] nailend commented on #920
probably solved in #905

[2022-10-18 18:53] #920 closed

[2022-10-18 19:09] AmeliaNadal opened #984 "Gas costs need to be corrected in eGon100RE"
Some gas costs need to be corrected in eGon100RE (in Germany):

- Marginal cost: generators with carrier `'CH4'` (biogas)
- Capital costs:
  - links with carriers `'CH4_to_H2'`, `'H2_to_CH4'`, `'power_to_H2'`, `'H2_to_power'`, `'H2_gridextension'`
  - stores with carriers `'H2_overground'` and `'H2_underground'`

These costs are not consistent with the ones from the same components abroad (`'H2_gr

[2022-10-19 00:00] gnn opened #985 "Having multiple `Dataset`s ending in parallel tasks doesn't work"
More specifically, having multiple `Dataset`s ending in parallel tasks doesn't work if those `Dataset`s are in a module below the `egon.data.datasets` package. In that case the code removing the module name prefix from task ids and the code generating the final dataset task which updates the dataset version once all parallel tasks have finished interact in a way that generates non-distinct task id

[2022-10-19 10:46] ClaraBuettner opened #987 "Add distribution of rural heatpumps per MV grid"

[2022-10-19 12:22] khelfen opened #988 "Distribute home batteries within mv grid districts"
Home batteries need to be distributed to consumers within the mv grid districts.

In case of the eGon2035 scenario, the total installed home battery capacity is derived from the NEP 2035 and distributed according to #749 .
I case of the eGon100RE scenario the capacity is derived from PyPSA-Eur-Sec.

Only consumers with a photovoltaic system are considered in the distribution of battery capacities.

[2022-10-19 14:25] nailend opened #989 "Mismatch of building bus_ids from cts_heat_demand_building_share and mapping table"
There is a mismatch of building `bus_ids` in the result tables `demand.egon_cts_heat_demand_building_share` and `demand.egon_cts_electricity_demand_building_share` and the mapping table `boundaries.egon_map_zensus_mvgd_buildings`.

The mismatch probably results in the process of determining the cts demand share per building. Its is derived from the number of amenities within a census cell. If mult

[2022-10-20 13:42] AmeliaNadal commented on #942
I verified in the sources documents that the mentionned (gas) components do not have associated VOM. From my perspective, this issue could be closed (when features/#942-add-vom-heat-sector is merged in dev).

[2022-10-21 10:46] birgits opened #1001 "Desaggregate industry demand"
I realised that the data in demand.egon_osm_ind_load_curves and demand.egon_sites_ind_load_curves is given per bus ID. In eDisGo we need the data per OSM area respectively industrial site. @IlkaCu and I discussed that in the process of determining the load time series an intermediate table (or two, one for OSM areas and one for sites) could be created giving the load curve per OSM area / industria

[2022-10-21 12:29] nailend commented on #923
Removed the "-" from my logging messages

[2022-10-24 05:44] nesnoj commented on #377
`heat_demand_timeseries.export-etrago-cts-heat-profiles` failed.
Is this task part of your responsibilities @nailend ?
I'll now pull and restart the pipeline..

[2022-10-24 06:22] nesnoj commented on #377
The task now finished successfully.

[2022-10-24 07:24] nesnoj commented on #904
yepp

[2022-10-24 07:24] #904 closed

[2022-10-24 07:27] nesnoj commented on #967
Yes, done.

[2022-10-24 07:27] #967 closed

[2022-10-25 04:46] nesnoj commented on #377
We'e experiencing some odd stuff: parts of 2 tasks in `CtsDemandBuildings` @nailend merged into CI do not show up in the CI. Most likely, they have been overwritten during a merge as only some parts of a commit are missing. Do allow the pipeline to continue, we had to stop it and are currently applying the tasks manually.
As soon as this will finish, we will resume the run.

[2022-10-25 11:31] nailend commented on #979
I do also have this problem running SH only. It only appears with a versioned run. Clean run is fine.

[code]

[2022-10-25 11:35] ClaraBuettner commented on #377
`individual_heating.determine-hp-capacity-pypsa-eur-sec-mvgd-bulk0` failed:
[code]

[2022-10-25 12:39] nesnoj commented on #377
@nailend had to mark the task failed as it'd take too much time without parallelization. The parallelization was lost the same way like the stuff mentioned above - we assume that someone who merged recently didn't take sufficient care.

This unfortunately cannot be fixed in the current clean run (new tasks are not detected properly). We would have to restart a versioned run. Is that ok for you @Cl

[2022-10-25 12:50] IlkaCu commented on #377
Lets give it a try. #979 will not necessarily appear again, I guess.

[2022-10-25 12:53] AmeliaNadal commented on #377
I don't really another solution, so that's ok for me too :)

[2022-10-25 12:56] nesnoj commented on #377
Thanks for the quick replies! I'll take care..

[2022-10-26 11:05] nesnoj commented on #799
@gnn Uh, I was just looking at the wrong place, the solution works out! As you just said, the config file isn't touched by the custom `command:` statement! But it is actually set which is confirmed checking `SELECT * FROM pg_settings WHERE name='max_connections';` - here the `boot_val` is 100 but `setting` is 1000 :smile: :

[code]
Also, it is retained during restart!

So it might be unnecessary t

[2022-10-26 13:36] nesnoj commented on #377
Uh, the max_con limit I set before was without any consequence as it was overridden by @gnn's manual script :man_facepalming:. But we agreed to set the HP tasks (`individual_heating.determine-hp-capacity-pypsa-eur-sec-mvgd-bulk*`) manually to success anyway.

It's running, but `gas_neighbours.eGon100RE.insert-gas-neigbours-eGon100RE` failed @AmeliaNadal.

[2022-10-26 14:16] AmeliaNadal commented on #377
Thanks for the notification, this is solved!

[2022-10-27 08:16] khelfen commented on #749
At the moment, the capacity was entered into the tables in GW. This needs to be changed to MW.

[2022-10-27 08:31] IlkaCu commented on #749
Good point. Thanks for bringing that up.

[2022-10-27 12:33] gnn commented on #799
Yeah, I meant `SELECT * FROM pg_settings WHERE name='max_connections';`.
Or

[code]

if you want you want to limit it to "important" stuff and avoid line breaks (at least on my monitor; YMMV). Or `SHOW max_connections ;` if you just want the value. That's what I used to check that `max_connections` was set to 500 after starting the CI. I read the thread you linked, although after digging it up mys

[2022-10-28 06:47] IlkaCu commented on #377
@khelfen and @nesnoj: Task `power_plants.pv_rooftop_buildings.pv-rooftop-to-buildings` failed on the server.

[2022-10-28 07:04] khelfen commented on #377
I pushed a fix onto the CI!

[2022-10-28 08:13] #958 closed

[2022-10-28 11:07] nesnoj commented on #377
As the CI will not be pulled (too many changes) it has to be cherry-picked or manually edited.
I cannot support today.

[2022-10-28 11:31] khelfen commented on #377
`git pull origin features/#684-distribute-pv-rooftop-buildings-3` should be enough, right? Should I do it?

[2022-10-28 12:27] KathiEsterl commented on #377
Hello,

    currently, I am on vacation. I will be back on 7th November and will
    take care of your concerns then.

    In urgent cases concerning the study program EUM, please contact my
    colleague Tim Weishaupt:

    ***@***.***

    In urgent cases concerning the research projects OptIES or eGon,
    please contact my colleague Ilka Cußmann:

    ***@***.***
    Best regards

    --
Katha

[2022-10-28 19:03] #969 closed

[2022-10-31 07:16] nesnoj commented on #377
Done and cleared..

[2022-10-31 16:39] nesnoj opened #1014 "Create load areas"
Create load areas for ding0.

- [x] Adapt [reusable scripts from open_eGo](https://github.com/openego/data_processing/tree/master/dataprocessing/sql_snippets)
- [x] eGon2035 and eGon100RE: Add residential and CTS demand/peak load: from buildings/census cells
- [x] eGon2035 and eGon100RE: Add industrial demand/peak load: from ~~`demand.egon_demandregio_osm_ind_electricity`~~ `demand.egon_osm_ind_lo

[2022-11-01 07:45] ClaraBuettner opened #1015 "Missing scenario filter in extension of small CHP"
The extension of small chp plants is missing a filter for the scenario name. This results in missing chp plants because the capacities which are needed to meet the target value include the capacitiy for eGon100RE

[2022-11-01 12:12] gnn opened #1017 "Let's do the CI branch again"
Due to the recent issues with the last, newly created `continuous-integration/run-everything-over-the-weekend-2022-10-10` branch, we're creating a a new CI branch. Since the last one is rather recent the transition to the new one will not proceed according to the regular workflow, but will instead follow the TODOs below:

  - [x] @IlkaCu merges her pending changes into `dev`
  - [x] @gnn creates t

[2022-11-01 12:18] #749 closed

[2022-11-01 12:27] #987 closed

[2022-11-01 12:31] #881 closed

[2022-11-01 12:52] #763 closed

[2022-11-01 13:13] gnn commented on #1017
Since the run hasn't been a "weekend run" for quite some time now, I took the liberty of shortening the name. The new CI branch is called [`continuous-integration/run-everything-2022-11-01`](https://github.com/openego/eGon-data/tree/continuous-integration/run-everything-2022-11-01).

[2022-11-01 14:54] nesnoj commented on #1017
ping!

[2022-11-01 15:44] nailend commented on #1017
@ClaraBuettner would you like to merge your stuff before me. I have to leave the office in 15 mins but would do this later when I come home. Approx. 10 pm

[2022-11-01 15:47] ClaraBuettner commented on #1017
Yes, we can change the order. I will do this in the description and write you when I'm done.

[2022-11-01 15:59] khelfen commented on #1017
I'm done as well @ClaraBuettner

[2022-11-01 16:06] ClaraBuettner commented on #1017
I'm done as well @nailend

[2022-11-01 23:56] gnn commented on #1017
Running.
[code]

outputs:

|      name       | setting |                     short_desc                     | vartype | max_val | boot_val | reset_val | pending_restart
|-----------------|---------|----------------------------------------------------|---------|---------|----------|-----------|-----------------
|max_connections | 2048    | Sets the maximum number of concurrent connections. | intege

[2022-11-02 22:43] nesnoj commented on #1017
`osm.to-postgres` in 2h20m ?? Woohoo! :racing_car:

[2022-11-03 14:14] AmeliaNadal opened #1021 "Gas pipelines should be bidirectional"
Gas grid links should be bidirectional, there p_nom_min should be -1 (instead of 0, the default value).

[2022-11-04 07:46] nesnoj commented on #1017
`FATAL:  sorry, too many clients already` o_O

[2022-11-04 14:27] AmeliaNadal opened #1023 "Gas buses in Germany disconnected of the german gas grid"
Two gas buses in Germany (Scigrid_gas IDs: 'INET_N_48' and 'INET_N_527') are disconnected of the german gas grid (but are connected to the neighbouring country grid, that is not representated in the eGon-data model). This is causing trouble in eTraGo for some of the complexity reduction methodologies and the easiest would be to remove them of the datasets.

[2022-11-08 08:13] ClaraBuettner opened #1026 "Add rural gas boiler loads to etrago tables"

[2022-11-08 13:16] nailend opened #1031 "Fix zensus weather cells mapping"
We discovered in #684 that census cells are missing in the mapping table `boundaries.egon_map_zensus_weather_cell` as only populated census cells are used. For rooftop pv also unpopulated cells with CTS buildings get pv assigned. Therefore the mapping table needs to be adapted to all census cells.

[2022-11-09 11:37] nesnoj opened #1035 "Add status quo to demandregio demand tables"
Add SQ scenario for ding0.

- [x] Add new scenario in DR, results in tables: `demand.egon_demandregio_*`. Year: 2021

[2022-11-09 15:18] nailend opened #1036 "Fix building voltage level"
I missed to separate the scenarios and therefore summed the peak loads for both.

[2022-11-09 15:22] #1036 closed

[2022-11-10 12:11] AmeliaNadal opened #1038 "CH4 demands TS abroad eGon2035"
In  eGon2035, the CH4 demands TS abroad seem to not have the right number of time steps. This should be corrected.
The changes would probably occur in src/egon/data/datasets/gas_neighbours/eGon2035.py  and affect the task gas_neighbours.eGon2035.tyndp-gas-demand which has no other task depending on (except gas_neighbours.eGon100RE.insert-gas-neigbours-eGon100RE).

[2022-11-10 12:40] nesnoj commented on #1038
Another good reason for #928 ;)

[2022-11-10 13:07] IlkaCu commented on #1038
Could this be related to old p-e-s results with a lower temporal resolution? How many time steps do the times series abroad have?

[2022-11-10 14:52] ClaraBuettner commented on #1017
We discussed about creating a new CI-branch which can run in parallel on the server in Flensburg. If you're not against, I will create a new branch from https://github.com/openego/eGon-data/tree/continuous-integration/run-everything-2022-11-01 , to avoid that all features which are already in that don't have to be merged again.

We would like to start the run on Friday.

[2022-11-10 16:01] nesnoj commented on #1017
I'm done too.
@IlkaCu my load area branch #1020 already contains your branch [`features/#1001-desaggregate-industry-demands`](https://github.com/openego/eGon-data/tree/features/%231001-desaggregate-industry-demands) so if you don't have any further local changes, you can skip this one.

[2022-11-10 19:53] nesnoj commented on #1017
@ClaraBuettner is your recent manual quickfix for [these lines](https://github.com/openego/eGon-data/blob/90d16d969070c2dbc09e4ccb107b9c4c798e8f61/src/egon/data/datasets/heat_demand_timeseries/__init__.py#L365-L368) required again?

[2022-11-10 20:01] ClaraBuettner commented on #1017
Yes, I think is is needed again. I will add this on a branch an merge it into the newest CI.

[2022-11-10 21:41] nesnoj commented on #1017
:space_invader: :space_invader: :space_invader: Launched :space_invader: :space_invader: :space_invader:

[2022-11-14 13:09] nesnoj commented on #1001
@IlkaCu Could you please create a PR for your branch?

[2022-11-15 10:29] IlkaCu opened #1044 "wind_offshore generators with p_nom = 0 in eGon2035"
Nice-to-have: In scenario 'eGon2035' two wind_offshore generators with p_nom = 0 exist. This shouldn't cause any problems, so this issue will not be tackled right now.
Should be solved in the future.

[2022-11-15 13:16] IlkaCu commented on #886
Current CI run shows deviations of -63% for carrier oil.

[2022-11-15 14:31] ClaraBuettner opened #1045 "Some small district heating grids have no time series"
There are 12 small (<5 zensus cells) district heating grids which have NaN time series. That is already the case in `demand.egon_timeseries.district_heating`, so I guess the problem is somewhere in this function:
https://github.com/openego/eGon-data/blob/8f094a649119f819e0509c58d37c1d5019740561/src/egon/data/datasets/heat_demand_timeseries/__init__.py#L226-L406

The overall effect on the district

[2022-11-15 16:00] NTedjosantoso opened #1046 "Possible wrong value for oil fuel costs for eGon2035 and eGon100RE Scenario ?"
Hi eGon team.

I have a question regarding fuel cost for oil for both "eGon2035" and "eGon100RE" scenario.
Both scenarios use 73.8 [EUR/MWh] as value for oil and it should be based on Scenario C of NEP 2035 Version 2021.

(from egon/data/datasets/scenario_parameter/parameters.py  --> global_settings

    if scenario == "eGon2035":
        parameters = {
            "weather_year": 2011,

[2022-11-15 22:06] #955 closed

[2022-11-15 22:17] #1035 closed

[2022-11-15 22:19] nesnoj commented on #1001
did it

[2022-11-15 22:32] #989 closed

[2022-11-15 22:47] #962 closed

[2022-11-17 08:45] khelfen opened #1048 "Desaggregate DSM time series"
For the distribution network calculations, the DSM time series are needed desaggregated per type.

- [x] change dsm script to use desaggregated industry demands (see #1001 )
- [x] save desaggregated time series in three new tabels for cts, industry sites and industry osm areas

[2022-11-17 13:25] AmeliaNadal opened #1049 "Wrong gas bus_id abroad in eGon100RE"
The generators and the loads of carrier CH4 abroad have wrong bus_id because their bus_id were attributed by p-e-s to buses with respectively carrier biogas and gas_for_industry (not represented in egon-data).

[2022-11-17 14:09] nesnoj commented on #134
Outdated

[2022-11-17 14:09] #134 closed

[2022-11-22 15:58] ClaraBuettner commented on #822
If I'm not mistaken `H2_to_power` and `power_ro_H2` links connecting `H2 grid` to `AC` should be kept, only the ones connection `H2_saltcaverns` should be deleted. Looking at the result of the current script, all links with these carriers are dropped. Is this correct?

[2022-11-23 08:17] IlkaCu commented on #822
Please also update the first comment in this issue, in case the information there is not up to date.

[2022-11-23 08:22] IlkaCu commented on #822
It seems that I just didn't read the description well enough. :roll_eyes:
I will change the code accordingly.

[2022-11-23 08:30] CarlosEpia commented on #822
Right. In that way, the capacity of the line will be set to its nominal value for every snapshot.

[2022-11-23 16:56] #971 closed

[2022-11-23 17:41] #863 closed

[2022-11-24 09:10] #1031 closed

[2022-11-24 09:16] #684 closed

[2022-11-24 13:19] nesnoj commented on #332
Outdated?

[2022-11-24 13:24] #332 closed

[2022-11-24 16:52] nesnoj opened #1051 "Add new MaStR data to DB"
New dataset for ding0. Also used by PV rooftop

In case the data are used in all tasks, it will be superseded by #519.

- [x] Write data to DB tables for ding0
- [x] Create additional zenodo repo for new dataset and integrate download
- [x] Adapt distribution of rooftop PV to buildings to use new dataset's file
- [x] Change distribution of rooftop PV to buildings to use existing voltage levels fro

[2022-11-25 08:57] #988 closed

[2022-11-25 09:26] nesnoj commented on #975
I think we won't implement a general solution due to lack of time, I recommend to close this.

[2022-11-26 21:35] #975 closed

[2022-11-27 15:55] nesnoj commented on #12
Done

[2022-11-27 15:55] #12 closed

[2022-11-27 15:56] nesnoj commented on #46
Can this be closed @IlkaCu @ClaraBuettner ?

[2022-11-28 10:31] nesnoj commented on #519
@KathiEsterl @CarlosEpia some notes for your experiments:
- You can use this issue and branch [`features/#519-update-mastr-data`](https://github.com/openego/eGon-data/tree/features/%23519-update-mastr-data) (I already made some adjustments there, cf. ) for your work. In parallel, I will code the import of the data into DB tables in #1051 to quickly get a working dataset even if you decide not to u

[2022-11-28 12:10] nesnoj commented on #519
BTW, this seems to be a typo (should be level 2, not 1)?
https://github.com/openego/eGon-data/blob/4a2d0168ccd3deca5d8333ba1442b5b47ada90ab/src/egon/data/datasets/power_plants/pv_ground_mounted.py#L95-L96

[2022-11-28 16:49] nesnoj commented on #519
Here's how the new dataset is imported into the DB:
https://github.com/openego/eGon-data/pull/1054/files#diff-493e771cad7898add452db376099be7efc77aed013de0b728ac5da2e087c1b3d

Just for your information. You already have an import, I just want to keep you up-to-date..

[2022-11-29 07:36] KathiEsterl commented on #519
We do not have a voltage level 2, so this is right:
https://redmine.iks.cs.ovgu.de/oe/projects/ego-n/wiki/Definition_of_thresholds_for_voltage_level_assignment
You can either keep it as it is in the MaStR-import-function or also adapt it, I gues...

Thank you for all the information! Carlos and I will have a deeper look into it today.

[2022-11-29 09:28] nesnoj opened #1055 "PV rooftop fails in SH mode"
In `dev` here you try to obtain the weather cells:
https://github.com/openego/eGon-data/blob/4a2d0168ccd3deca5d8333ba1442b5b47ada90ab/src/egon/data/datasets/power_plants/pv_rooftop.py#L247-L255

This apparently works for DE but in SH mode the cfg is overwritten:
https://github.com/openego/eGon-data/blob/4a2d0168ccd3deca5d8333ba1442b5b47ada90ab/src/egon/data/datasets/power_plants/pv_rooftop.py#L163

[2022-11-29 09:41] nesnoj commented on #1055
Seems that it has been added in 4a2d0168ccd3deca5d8333ba1442b5b47ada90ab

[2022-11-29 10:01] #1055 closed

[2022-11-29 12:10] khelfen commented on #1055
Ah yes, you are right! Thank you for the fast fix! :D

[2022-11-29 15:26] CarlosEpia commented on #519
Hi @nesnoj
We tried to execute egon-data in test mode and the task power_plants.mastr.import-mastr failed with this error message:
...
[2022-11-29 14:23:21,930] {logging_mixin.py:120} INFO -   Writing to DB...
[2022-11-29 14:23:22,400] {taskinstance.py:1150} ERROR - value too long for type character varying(11)
CONTEXT:  COPY egon_power_plants_pv, line 505, column orientation_primary: "Nachgefuehr

[2022-11-30 10:48] IlkaCu opened #1057 "Start next CI run for Germany"
We want to start another CI run for Germany
Please tick as soon as you are done with your open implementations/merges:

- [x] @gnn  - one small issue
- [x] @ClaraBuettner  - set another dependency in Julians branch
- [x] @birgits  - merge branches
- [x] @IlkaCu  - check for problems in industrial demands distribution
- [x] @IlkaCu  - Include low flex scenario
- [x] @khelfen - DSM desaggregation
-

[2022-11-30 12:35] nesnoj commented on #1057
For sake of performance, I'd go for the new instance, d'accord?
Please backup stuff you wanna keep in advance.

[2022-11-30 13:04] ClaraBuettner opened #1058 "Installed capacity per inidvidual heat pump in eGon2035"
I think I was wrong when I assumed the installed capacities per individual heat pump here:
https://github.com/openego/eGon-data/blob/4acceba2748bf5e363ac0ff22010b7a86fb9ab4a/src/egon/data/datasets/scenario_capacities.py#L247-L248

The "Szenariorahmen" of NEP 2035, version 2035 says it is 5kW_el per heat pump (page 47).

[2022-11-30 13:05] KathiEsterl commented on #519
Hi Jonathan,

sorry, we did'nt understand your former explanation correct, but now everything is working!

It really looks like there is nearly nothing to change in our scripts which is really nice!
We will have a look on the results now and then push our changes to this branch: `features/#519-update-mastr-data`

We will let you know when we are finished.

Thanks for your work.

[2022-11-30 13:44] nesnoj commented on #519
We agreed on using the new dataset only for pv, wind & hydro. Hence, we will use 2 different datasets.
For testing, please follow the workflow [above](https://github.com/openego/eGon-data/issues/519#issuecomment-1331000299) and work in branch `features/#519-update-mastr-data`.

Next steps - please tick when you are done:
- [ ] Adapt and check ground-mounted PV @KathiEsterl
- [ ] Adapt and check wi

[2022-11-30 15:20] khelfen commented on #1057
Hey :) I would also add my dsm desaggregation if that's okay (?)